@model List<PW.Ncels.Database.DataModel.EXP_Tasks>

<style>
    .table thead > tr > th, .table tbody > tr > td {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 3px;
    }
    .table {
        margin-bottom: 0px;
        font-size: 0.9em;
    }
</style>    

<table class="table">
    <thead>
        <tr>
            <th>
                Должность
            </th>
            <th>
                Дата
            </th>
        </tr>
    </thead>
    @foreach (var task in Model)
    {
        <tr>
            <td>
                @task.ExecutorEmployee.DisplayName
            </td>
            <td>
                @task.ExecutedDate
            </td>
        </tr>
    }
</table>