<form #producerForm="ngForm" (change)="model=model">
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">Производитель</p>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label [ngClass]="{'has-error-text':showErrors === true && producer.invalid}">Тип производителя</label>
            <div class="input-group">
              <input class="form-control" #producer="ngModel" name="producer"
                     [ngClass]="{'has-error':showErrors === true && producer.invalid}"
                     [(ngModel)]="model.producer" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label [ngClass]="{'has-error-text':showErrors === true && organizationForm.invalid}">
              Организационная форма</label>
            <div class="input-group">
              <input class="form-control" #organizationForm="ngModel" name="organizationForm"
                     [ngClass]="{'has-error':showErrors === true && organizationForm.invalid}"
                     [(ngModel)]="model.organizationForm" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label [ngClass]="{'has-error-text':showErrors === true && country.invalid}">Страна</label>
            <div class="input-group">
              <input class="form-control" #country="ngModel" name="country"
                     [ngClass]="{'has-error':showErrors === true && country.invalid}"
                     [(ngModel)]="model.country" required>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-4">
      <p>Наименование на русском языке</p>
    </div>
    <div class="col-md-4">
      <p>Наименование на государственном</p>
    </div>
    <div class="col-md-4">
      <p>Наименование на английском языке</p>
    </div>
  </div>

  <br>

  <div class="form-group row">
    <div class="col-4">
      <div class="form-check">
        <label class="form-check-label" [ngClass]="{'has-error-text':showErrors === true && displayRu.invalid}">
          отображение в РУ
        </label>
        <input class="form-check-input mg-left-20" type="radio" [(ngModel)]="model.displayRu" name="displayRuOne" value="trueOne"
               #displayRu="ngModel" checked required>
      </div>
    </div>
    <div class="col-4">
      <div class="form-check">
        <label class="form-check-label" [ngClass]="{'has-error-text':showErrors === true && displayRu.invalid}">
          отображение в РУ
        </label>
        <input class="form-check-input mg-left-20" type="radio" [(ngModel)]="model.displayRu" name="displayRuTwo" value="trueTwo"
               #displayRu="ngModel" checked required>
      </div>
    </div>
    <div class="col-4">
      <div class="form-check">
        <label class="form-check-label" [ngClass]="{'has-error-text':showErrors === true && displayRu.invalid}">
          отображение в РУ
        </label>
        <input class="form-check-input mg-left-20" type="radio" [(ngModel)]="model.displayRu" name="displayRuThree" value="trueThree"
               #displayRu="ngModel" checked required>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <input class="form-control" [(ngModel)]="model.displayRussian" name="displayRussian"
               [ngClass]="{'has-error':showErrors === true && displayRussian.invalid}"
               #displayRussian="ngModel" required>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input class="form-control" [(ngModel)]="model.displayOfficial" name="displayOfficial"
               [ngClass]="{'has-error':showErrors === true && displayOfficial.invalid}"
               #displayOfficial="ngModel" required>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <input class="form-control" [(ngModel)]="model.displayEnglish" name="displayEnglish"
               [ngClass]="{'has-error':showErrors === true && displayEnglish.invalid}"
               #displayEnglish="ngModel" required>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && permittedDocument.invalid}">№ разрешительного документа</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.permittedDocument" name="permittedDocument"
                 [ngClass]="{'has-error':showErrors === true && permittedDocument.invalid}"
                 #permittedDocument="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && extraditionDate.invalid}">Дата выдачи</label>
        <div class="input-group">
          <div class="input-group">
            <input class="form-control" [ngClass]="{'has-error':showErrors === true && extraditionDate.invalid}"
                   name="extraditionDate" [(ngModel)]="model.extraditionDate" ngbDatepicker
                   #extraditionDate="ngModel" #extraditionDateBtn="ngbDatepicker" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary fa fa-calendar fa-lg" (click)="extraditionDateBtn.toggle()"
                      type="button">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && termDate.invalid}">Срок действия</label>
        <div class="input-group">
          <input class="form-control" [ngClass]="{'has-error':showErrors === true && termDate.invalid}"
                 name="termDate" [(ngModel)]="model.termDate" ngbDatepicker
                 #termDate="ngModel" #termDateBtn="ngbDatepicker" required>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar fa-lg" (click)="termDateBtn.toggle()"
                    type="button">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && leaderLastname.invalid}">Фамилия первого руководителя</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.leaderLastname" name="leaderLastname"
                 [ngClass]="{'has-error':showErrors === true && leaderLastname.invalid}"
                 #leaderLastname="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && leaderFirstname.invalid}">Имя первого руководителя</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.leaderFirstname" name="leaderFirstname"
                 [ngClass]="{'has-error':showErrors === true && leaderFirstname.invalid}"
                 #leaderFirstname="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && leaderMiddlename.invalid}">Отчество первого руководителя</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.leaderMiddlename" name="leaderMiddlename"
                 [ngClass]="{'has-error':showErrors === true && leaderMiddlename.invalid}"
                 #leaderMiddlename="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && leaderPosition.invalid}">Должность первого руководителя</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.leaderPosition" name="leaderPosition"
                 [ngClass]="{'has-error':showErrors === true && leaderPosition.invalid}"
                 #leaderPosition="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && leaderPhone.invalid}">Телефон, факс</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.leaderPhone" name="leaderPhone"
                 [ngClass]="{'has-error':showErrors === true && leaderPhone.invalid}"
                 #leaderPhone="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && leaderEmail.invalid}">Электронная почта</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.leaderEmail" name="leaderEmail"
                 [ngClass]="{'has-error':showErrors === true && leaderEmail.invalid}"
                 #leaderEmail="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && contact.invalid}">Фамилия, имя, отчество контактного лица</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.contact" name="contact"
                 [ngClass]="{'has-error':showErrors === true && contact.invalid}"
                 #contact="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && contactPosition.invalid}">Должность контактного лица</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.contactPosition" name="leaderMiddlename"
                 [ngClass]="{'has-error':showErrors === true && contactPosition.invalid}"
                 #contactPosition="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && legalAddress.invalid}" >Юридический адрес</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.legalAddress" name="legalAddress"
                 [ngClass]="{'has-error':showErrors === true && legalAddress.invalid}"
                 #legalAddress="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && actualAddress.invalid}">Фактический адрес</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.actualAddress" name="leaderMiddlename"
                 [ngClass]="{'has-error':showErrors === true && actualAddress.invalid}"
                 #actualAddress="ngModel" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <p>Укажите язык отображения в РУ</p>

</form>
