<div class="row">
    <div class="col-md-12">
        <div class="row">
            <p class="text-center">Производитель</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Тип производителя</label>
                    <div class="input-group">
                        <input class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Организационная форма</label>
                    <div class="input-group">
                        <input class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Страна</label>
                    <div class="input-group">
                        <input class="form-control">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-4">
        <p>Наименование на русском языке</p>
    </div>
    <div class="col-md-4">
        <p>Наименование на государственном</p>
    </div>
    <div class="col-md-4">
        <p>Наименование на английском языке</p>
    </div>
</div>

<br>

<div class="form-group row">
    <div class="col-4">
        <div class="form-check">
            <label class="form-check-label">
                отображение в РУ
            </label>
            <input class="form-check-input mg-left-20" type="radio" checked>
        </div>
    </div>
    <div class="col-4">
        <div class="form-check">
            <label class="form-check-label">
                отображение в РУ
            </label>
            <input class="form-check-input mg-left-20" type="radio" checked>
        </div>
    </div>
    <div class="col-4">
        <div class="form-check">
            <label class="form-check-label">
                отображение в РУ
            </label>
            <input class="form-check-input mg-left-20" type="radio" checked>
        </div>
    </div>

</div>

<br>

<div class="row">
    <div class="col-md-4">
        <div class="input-group">
            <input class="form-control">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <input class="form-control">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <input class="form-control">
            <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>№ разрешительного документа</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Дата выдачи</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Срок действия</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Фамилия первого руководителя</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Имя первого руководителя</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Отчество первого руководителя</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Должность первого руководителя</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Телефон, факс</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Электронная почта</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Фамилия, имя, отчество контактного лица</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Должность контактного лица</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Юридический адрес</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Фактический адрес</label>
            <div class="input-group">
                <input class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<p>Укажите язык отображения в РУ</p>

<button>Добавить</button>