<form #journalForm="ngForm" (change)="model=model">
  <button class="btn btn-info btn-sm"  (click)="addComponent()">Добавить список</button>
  <br><br>
  <div #parent></div>

  <!--<br>-->
  <!--<button class="btn btn-gray w-100p mb-1" (click)="showAgreement(true)">Добавить</button>-->
  <!--<br><br>-->
  <!--<div [hidden]="(showAgree === false )">-->
    <!--<div class="row">-->
      <!--<div class="col-md-6">-->
        <!--<div class="row">-->
          <!--<div class="col-md-4">-->
            <!--<p [ngClass]="{'has-error-text':showErrors === true && additional.invalid}">Дополнительно</p>-->
          <!--</div>-->

          <!--<div class="col-md-4">-->
            <!--<div class="form-check">-->
              <!--<input class="form-check-input" type="radio" [(ngModel)]="model.additional" name="additionalTrue"-->
                     <!--value="true"-->
                     <!--#additional="ngModel" checked required>-->
              <!--<label class="form-check-label" [ngClass]="{'has-error-text':showErrors === true && additional.invalid}">-->
                <!--Да-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="col-md-4">-->
            <!--<div class="form-check">-->
              <!--<input class="form-check-input" type="radio" [(ngModel)]="model.additional" name="additionalFalse"-->
                     <!--value="false"-->
                     <!--#additional="ngModel" checked required>-->
              <!--<label class="form-check-label" [ngClass]="{'has-error-text':showErrors === true && additional.invalid}">-->
                <!--Нет-->
              <!--</label>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label [ngClass]="{'has-error-text':showErrors === true && materialType.invalid}">Тип материала*</label>-->
              <!--<div class="input-group">-->
                <!--<input class="form-control" required-->
                       <!--#materialType="ngModel" name="materialType"-->
                       <!--[ngClass]="{'has-error':showErrors === true && materialType.invalid}"-->
                       <!--[(ngModel)]="model.materialType">-->
                <!--<div class="input-group-append">-->
                  <!--<span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label [ngClass]="{'has-error-text':showErrors === true && storage.invalid}">Место хранения</label>-->
              <!--<div class="input-group">-->
                <!--<input class="form-control" required-->
                       <!--#storage="ngModel" name="storage"-->
                       <!--[ngClass]="{'has-error':showErrors === true && storage.invalid}"-->
                       <!--[(ngModel)]="model.storage">-->
                <!--<div class="input-group-append">-->
                  <!--<span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label [ngClass]="{'has-error-text':showErrors === true && materialName.invalid}">Наименование-->
                <!--материала*</label>-->
              <!--<div class="input-group">-->
                <!--<input class="form-control" required-->
                       <!--#materialName="ngModel" name="materialName"-->
                       <!--[ngClass]="{'has-error':showErrors === true && materialName.invalid}"-->
                       <!--[(ngModel)]="model.materialName">-->
                <!--<div class="input-group-append">-->
                  <!--<span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label [ngClass]="{'has-error-text':showErrors === true && storageCondition.invalid}">Условия-->
                <!--хранения</label>-->
              <!--<div class="input-group">-->
                <!--<input class="form-control" required-->
                       <!--#storageCondition="ngModel" name="storageCondition"-->
                       <!--[ngClass]="{'has-error':showErrors === true && storageCondition.invalid}"-->
                       <!--[(ngModel)]="model.storageCondition">-->
                <!--<div class="input-group-append">-->
                  <!--<span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label [ngClass]="{'has-error-text':showErrors === true && materialQuantity.invalid}">Количество-->
                <!--материала*</label>-->
              <!--<div class="input-group">-->
                <!--<input class="form-control" required-->
                       <!--#materialQuantity="ngModel" name="materialQuantity"-->
                       <!--[ngClass]="{'has-error':showErrors === true && materialQuantity.invalid}"-->
                       <!--[(ngModel)]="model.materialQuantity">-->
                <!--<div class="input-group-append">-->
                  <!--<span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label [ngClass]="{'has-error-text':showErrors === true && manufactureDate.invalid}">Дата-->
                <!--изготовления</label>-->
              <!--<div class="input-group">-->
                <!--<input class="form-control" required-->
                       <!--[ngClass]="{'has-error':showErrors === true && manufactureDate.invalid}"-->
                       <!--name="manufactureDate" [(ngModel)]="model.manufactureDate" ngbDatepicker-->
                       <!--#manufactureDate="ngModel" #manufactureDateBtn="ngbDatepicker">-->
                <!--<div class="input-group-append">-->
                  <!--<button class="btn btn-outline-secondary fa fa-calendar fa-lg" (click)="manufactureDateBtn.toggle()"-->
                          <!--type="button">-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label [ngClass]="{'has-error-text':showErrors === true && measure.invalid}">Единица измерения</label>-->
              <!--<div class="input-group">-->
                <!--<input class="form-control" required-->
                       <!--#measure="ngModel" name="measure"-->
                       <!--[ngClass]="{'has-error':showErrors === true && measure.invalid}"-->
                       <!--[(ngModel)]="model.measure">-->
                <!--<div class="input-group-append">-->
                  <!--<span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label [ngClass]="{'has-error-text':showErrors === true && expirationDate.invalid}">Дата истечения</label>-->
              <!--<div class="input-group">-->
                <!--<input class="form-control" required-->
                       <!--[ngClass]="{'has-error':showErrors === true && expirationDate.invalid}"-->
                       <!--name="expirationDate" [(ngModel)]="model.expirationDate" ngbDatepicker-->
                       <!--#expirationDate="ngModel" #expirationDateBtn="ngbDatepicker">-->
                <!--<div class="input-group-append">-->
                  <!--<button class="btn btn-outline-secondary fa fa-calendar fa-lg" (click)="expirationDateBtn.toggle()"-->
                          <!--type="button">-->
                  <!--</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<label [ngClass]="{'has-error-text':showErrors === true && serieParty.invalid}">Серия\партия*</label>-->
              <!--<div class="input-group">-->
                <!--<input class="form-control" required-->
                       <!--#serieParty="ngModel" name="serieParty"-->
                       <!--[ngClass]="{'has-error':showErrors === true && serieParty.invalid}"-->
                       <!--[(ngModel)]="model.serieParty">-->
                <!--<div class="input-group-append">-->
                  <!--<span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
              <!--<div class="row">-->
                <!--<div class="col-md-6">-->
                  <!--<button class="btn btn-gray w-100p mb-1">Сохранить</button>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                  <!--<button class="btn btn-gray w-100p mb-1" (click)="showAgreement(false)">Отменить</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


</form>
