<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Субъект*</label>
      <div class="input-group">
        <select class="form-control" name="subject" disabled>
        </select>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-6">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="resident" disabled>
          <label>
            Резидент РК
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-check">
          <div class="input-group">
            <input class="form-check-input" type="radio" name="notResident" disabled>
            <label class="form-check-label">
              Не резидент РК
            </label>
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-6">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="individualTrue" disabled>
          <label class="form-check-label">
            Физическое лицо
          </label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-check">
          <div class="input-group">
            <input class="form-check-input" type="radio" name="legalEntityFalse" disabled>
            <label class="form-check-label">
              Юридическое лицо
            </label>
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Бин*</label>
      <div class="input-group">
        <input class="form-control" name="bin" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Организационная
        форма*</label>
      <div class="input-group">
        <select class="form-control" name="organizationForm" disabled>
          <option></option>
        </select>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Наименование на русском
        языке*</label>
      <div class="input-group">
        <input class="form-control" name="subjectNameRu" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Страна*</label>
      <div class="input-group">
        <select class="form-control" name="subjectCountry" disabled>
        </select>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Юридический адрес*</label>
      <div class="input-group">
        <input class="form-control" name="legalAddress" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Фактический адрес*</label>
      <div class="input-group">
        <input class="form-control" name="factualAddress" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Номер телефона*</label>
      <div class="input-group">
        <input class="form-control" name="phoneNumber" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Адрес электронной почты*</label>
      <div class="input-group">
        <input class="form-control" name="email" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Факс</label>
      <div class="input-group">
        <input class="form-control" name="fax" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="form-group">
      <h5>Подписывающее лицо</h5>
    </div>

    <div class="form-group">
      <label>Фамилия первого
        руководителя*</label>
      <div class="input-group">
        <input class="form-control" name="firstChiefSurname" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Имя первого руководителя*</label>
      <div class="input-group">
        <input class="form-control" name="firstChiefName" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Отчество первого руководителя*</label>
      <div class="input-group">
        <input class="form-control" name="middleName" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Должность первого руководителя на русском языке*</label>
      <div class="input-group">
        <input class="form-control" name="firstLeaderPositionRu" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Должность первого руководителя на государственном языке*</label>
      <div class="input-group">
        <input class="form-control" name="firstLeaderPositionKz" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Название банка*</label>
      <div class="input-group">
        <select class="form-control" name="bankName" disabled>
        </select>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>ИИК*</label>
      <div class="input-group">
        <input class="form-control" name="IIK" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Валюта*</label>
      <div class="input-group">
        <input class="form-control" name="currency" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>БИН*</label>
      <div class="input-group">
        <input class="form-control" name="leaderBin" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>БИК*</label>
      <div class="input-group">
        <input class="form-control" name="leaderBik" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Код*</label>
      <div class="input-group">
        <input class="form-control" name="leaderCode" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>

  </div>
</div>
