@using PW.Prism.ViewModels.Visits
@model WorkingDayInterval
@{
//Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@{
    var interval = Model;
    var rowId = "interval" + interval.Id;
    var from = TimeSpan.FromMinutes(interval.From);
    var to = TimeSpan.FromMinutes(interval.To);
}
<div id="@rowId" data-time-id="@interval.Id" class="time-row" style="display: flex;">
    <div class="input-group">
        <span class="input-group-addon">с</span>
        <input class="form-control time-from" value="@from.ToString("hh\\:mm")" />
    </div>
    <div class="input-group">
        <span class="input-group-addon">по</span>
        <input class="form-control time-to" value="@to.ToString("hh\\:mm")" />
    </div>
    <button class="btn btn-info edit-btn" onclick="startEditTime(this)">
        <i class="glyphicon glyphicon-edit"></i>
    </button>
    <button class="btn btn-info edit-btn-confirm hidden" onclick="confirmEditTime(this)">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
    <button class="btn btn-info edit-btn-confirm hidden" onclick="cancelEditTime(this)">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
    <button class="btn btn-danger delete-btn" onclick="startDeleteTime(this)">
        <i class="glyphicon glyphicon-trash"></i>
    </button>
    <button class="btn btn-danger delete-btn-confirm hidden" onclick="confirmDeleteTime(this)">
        <i class="glyphicon glyphicon-ok"></i>
    </button>
    <button class="btn btn-danger delete-btn-confirm hidden" onclick="cancelDeleteTime(this)">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</div>