.tabs-container .tab-content > .active, .tabs-container .pill-content > .active {
  display: block;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.tabs-container .panel-body {
  background: #fff;
  border: 1px solid #e7eaec;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}

.b-r {
  border-right: 1px solid #e7eaec;
}

.form-group {
  margin-bottom: 15px;
}
