<form #f="ngForm" novalidate><!--(ngSubmit)="save()"-->
    <div id="tab-1" class="tab-pane active">
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 b-r">

            <div class="form-group">
              <div class="radio-inline">
                <label><input type="radio"  name="manufacturisresident"  class="ng-valid ng-not-empty ng-dirty ng-touched" value="true">Резидент РК</label>
              </div>
              <div class="radio-inline">
                <label><input type="radio"  name="manufacturisresident"  class="ng-valid ng-not-empty ng-dirty ng-touched ng-valid-parse" value="false">Нерезидент РК</label>
              </div>
            </div>

            <div class="form-group ng-hide" >
              <label>ИИН/БИН *</label>
              <div>
                  <input maxlength="24" id="bin"  class="form-control edit-control" type="text" name="bin"   ng-pattern="[0-9]+" ng-minlength="12" ng-maxlength="12" ui-mask="999999999999"  placeholder="____________">
              </div>
              <button type="button" class="btn btn-sm btn-success" disabled="disabled">Найти</button>
              <button type="button" class="btn btn-sm btn-success" disabled="disabled">Отмена</button>
            </div>

            <div class="form-group">
              <label>Страна</label>
              <select class="form-control" >
              </select>
            </div>
            <div class="form-group">
                <label>Наименование на русском языке *</label>
                <select class="form-control" >
                </select>
              </div>
            <div class="form-group ng-hide" >
              По Вашему запросу ничего не найдено!
            </div>
            <div class="form-group ng-hide">
              <button type="button" class="btn btn-sm btn-success" >Добавить</button>
            </div>


            <div class="form-group">
              <h4>Производитель</h4>
              <label>Организационная форма</label>
              <select class="form-control" >
              </select>
            </div>
            <div class="form-group">
              <label>Наименование на государственном языке *</label>
              <div>
                <input id="manufacturNameKz"  placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" required=""  name="manufacturNameKz" disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Наименование на русском языке *</label>
              <div>
                <input id="manufacturNameRu" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" required="" name="manufacturNameRu" disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Наименование на английском языке</label>
              <div>
                <input id="manufacturNameEn"  placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-empty" type="text" name="manufacturNameEn" disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Страна</label>
              <select class="form-control" >
              </select>
            </div>

            <div class="form-group ng-hide">
              <h4>Гос. реестр</h4>
              <h4 class="ng-hide">Реестр МИ</h4>
              <label>Наименование производителя</label>
              <div >
                <input  placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-empty" type="text"  name="registerManufacturName"  disabled="disabled">
              </div>
            </div>
            <div class="form-group ng-hide" >
              <label>Страна</label>
              <div>
                <input placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-empty" type="text"  name="registerManufacturCountry"  disabled="disabled">
              </div>
            </div>

            <div class="form-group">
              <h4>Адрес</h4>
              <label>Юридический адрес * </label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturAddressLegalRu"  placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" required=""  name="manufacturAddressLegalRu"  disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Фактический адрес * </label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturAddressFact" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" required=""  name="manufacturAddressFact"  disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Номер телефона * </label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturPhone"  class="form-control edit-control ng-pristine ng-untouched ng-valid-mask ng-empty ng-invalid ng-invalid-required" type="text"  ui-mask="+7 (999) 999-99-99"  name="manufacturPhone" required="" ng-model-options="{ allowInvalid: true}" placeholder="+7 (___) ___-__-__" disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Номер телефона</label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturPhone2"  class="form-control edit-control ng-pristine ng-untouched ng-valid ng-valid-mask ng-empty" type="text"  ui-mask="+7 (999) 999-99-99"  name="manufacturPhone" ng-model-options="{ allowInvalid: true}" placeholder="+7 (___) ___-__-__" disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Адрес электронной почты * </label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturEmail"  placeholder="example@mail.ru" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" type="text"  required=""  name="manufacturEmail" ng-pattern=".+@.+\..+" disabled="disabled">
              </div>
            </div>
          </div>
          <div class="col-lg-6 b-l">
            <div class="form-group">
              <h4>Подписывающее лицо</h4>
              <label>Фамилия первого руководителя *</label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturBossLastName" ng-model="object.Manufactur.Contact.BossLastName" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text"  required=""  disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Имя первого руководителя *</label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturBossFirstName"    placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text"  required=""  disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Отчество первого руководителя</label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturBossMiddleName"  placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-empty" type="text"   disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Должность первого руководителя на русском языке *</label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturBossPosition"  placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text"  required=""  disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Должность первого руководителя на государственном языке *</label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturBossPositionKz"  placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text"  required=""  disabled="disabled">
              </div>
            </div>

            <div class="form-group">
              <h4>Банковские реквизиты</h4>
              <label>Наименования банка</label>
              <select class="form-control" >
              </select>
            </div>
            <div class="form-group ng-hide" ng-show="addManufacturNewBankName">
              <label>Наименование банка на русском</label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturBankNameRu"  placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
              </div>
            </div>
            <div class="form-group ng-hide" ng-show="addManufacturNewBankName">
              <label>Наименование банка на казахском</label>
              <div ng-class="{'input-group': showComments}">
                <input id="manufacturBankNameKz"  placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
              </div>
            </div>
            <div class="form-group ng-hide" >
              <button type="button" class="btn btn-sm btn-success" >Сохранить</button>
            </div>
            <div class="form-group">
              <label>Расчетный счет *</label>
              <div>
                <input id="BankIikManufactur"  placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text"  required=""  disabled="disabled">
              </div>
            </div>
            <div class="form-group">
              <label>Валюта *</label>
              <select class="form-control" >
              </select>
            </div>
            <!-- ngIf: object.Manufactur.IsResident == false --><div class="form-group ng-scope" *ngIf="">
            <label>SWIFT *</label>
            <div>
              <input id="bankBik" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text"  required=""  disabled="disabled">
            </div>
          </div><!-- end ngIf: object.Manufactur.IsResident == false -->
          </div>
        </div>
      </div>
    </div>
</form>

