  <div id="tab-1" class="tab-pane active">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6 b-r">
          <div *ngIf="prnRegisterType === 'Reregistration'" class="form-group">
            <h4>Поиск в реестре МИ</h4>
            <div class="row">
              <div  class="col-lg-6 b-r form-group">
                <label>Регистрационный номер</label>
                <input  id="regNum"  class="form-control edit-control" type="text" name="regNum" >
              </div>
              <div  class="col-lg-6 b-l form-group">
                <label>Торговое название</label>
                <input  id="tradName"  class="form-control edit-control" type="text" name="tradName" >
              </div>
            </div>
            <div>
              <button type="button" class="btn btn-sm" >Поиск</button>
              <button type="button" class="btn btn-sm" >Очистить критерий поиска</button>
            </div>
          </div>

          <div class="form-group">
            <div class="custom-control custom-radio radio-inline" >
              <input type="radio" class="custom-control-input" name="manufacturIsResident" id="manufacturResident"  [(ngModel)]="isRes" value="res" >
              <label class="custom-control-label" for="manufacturResident">Резидент РК</label>
            </div>
            <div class="custom-control custom-radio radio-inline">
              <input type="radio" class="custom-control-input" name="manufacturIsResident" id="manufacturNoResident" [(ngModel)]="isRes" value="unres">
              <label class="custom-control-label" for="manufacturNoResident">Нерезидент РК</label>
            </div>
          </div>

          <div *ngIf="isRes === 'res'" >
            <label>ИИН/БИН *</label>
            <div>
                <input maxlength="24" id="bin"  class="form-control edit-control" type="text" name="bin"   ng-pattern="[0-9]+" ng-minlength="12" ng-maxlength="12" ui-mask="999999999999"  placeholder="____________">
            </div>
            <button type="button" class="btn btn-sm btn-success" disabled="disabled">Найти</button>
            <button type="button" class="btn btn-sm btn-success" disabled="disabled">Отмена</button>
          </div>
          <div *ngIf="isRes === 'unres'" >
            <div class="form-group">
              <label>Страна</label>
              <select class="form-control" >
              </select>
            </div>
          </div>
          <div *ngIf="isRes === 'unres'" >
            <div class="form-group">
                <label>Наименование на русском языке *</label>
                <select class="form-control" >
                </select>
            </div>
          </div>
          <div class="form-group ng-hide" >
            По Вашему запросу ничего не найдено!
          </div>
          <div class="form-group ng-hide">
            <button type="button" class="btn btn-sm btn-success" >Добавить</button>
          </div>

          <div >
            <div class="form-group">
              <label>Организационная форма</label>
              <select class="form-control" >
              </select>
            </div>
          </div>

          <div class="form-group">
            <label>Наименование на государственном языке *</label>
            <div>
              <input id="manufacturNameKz" class="form-control" placeholder="Введите значение"  type="text" required=""  name="manufacturNameKz" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Наименование на русском языке *</label>
            <div>
              <input id="manufacturNameRu" class="form-control" placeholder="Введите значение"  type="text" required="" name="manufacturNameRu" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Наименование на английском языке</label>
            <div>
              <input id="manufacturNameEn"  class="form-control" placeholder="Введите значение" type="text" name="manufacturNameEn" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Страна</label>
            <select class="form-control" >
            </select>
          </div>

          <div>
            <h4>Гос. реестр</h4>
            <h4 class="ng-hide">Реестр МИ</h4>
            <label>Наименование производителя</label>
            <div >
              <input  placeholder="Введите значение" class="form-control"  type="text"  name="registerManufacturName"  disabled="disabled">
            </div>
          </div>
          <div class="form-group ng-hide" >
            <label>Страна</label>
            <div>
              <input placeholder="Введите значение"  class="form-control" type="text"  name="registerManufacturCountry"  disabled="disabled">
            </div>
          </div>

          <div class="form-group">
            <h4>Адрес</h4>
            <label>Юридический адрес * </label>
            <div>
              <input id="manufacturAddressLegalRu"  class="form-control" placeholder="Введите значение"  type="text" required=""  name="manufacturAddressLegalRu"  disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Фактический адрес * </label>
            <div>
              <input id="manufacturAddressFact" placeholder="Введите значение" class="form-control"  type="text" required=""  name="manufacturAddressFact"  disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Номер телефона * </label>
            <div>
              <input id="manufacturPhone"  type="text"   class="form-control" ui-mask="+7 (999) 999-99-99"  name="manufacturPhone" required="" ng-model-options="{ allowInvalid: true}" placeholder="+7 (___) ___-__-__" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Номер телефона</label>
            <div>
              <input id="manufacturPhone2"  type="text"   class="form-control" ui-mask="+7 (999) 999-99-99"  name="manufacturPhone" ng-model-options="{ allowInvalid: true}" placeholder="+7 (___) ___-__-__" disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Адрес электронной почты * </label>
            <div ng-class="{'input-group': showComments}">
              <input id="manufacturEmail"  class="form-control" placeholder="example@mail.ru"  type="text"  required=""  name="manufacturEmail" ng-pattern=".+@.+\..+" disabled="disabled">
            </div>
          </div>
        </div>
        <div class="col-lg-6 b-l">
          <div class="form-group">
            <h4>Подписывающее лицо</h4>
            <label>Фамилия первого руководителя *</label>
            <div>
              <input id="manufacturBossLastName"   class="form-control" placeholder="Введите значение"  type="text"  required=""  disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Имя первого руководителя *</label>
            <div>
              <input id="manufacturBossFirstName"    class="form-control" placeholder="Введите значение"  type="text"  required=""  disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Отчество первого руководителя</label>
            <div>
              <input id="manufacturBossMiddleName"  class="form-control" placeholder="Введите значение"  type="text"   disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Должность первого руководителя на русском языке *</label>
            <div>
              <input id="manufacturBossPosition"  class="form-control" placeholder="Введите значение"  type="text"  required=""  disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Должность первого руководителя на государственном языке *</label>
            <div>
              <input id="manufacturBossPositionKz"  class="form-control" placeholder="Введите значение"  type="text"  required=""  disabled="disabled">
            </div>
          </div>

          <div class="form-group">
            <h4>Банковские реквизиты</h4>
            <label>Наименования банка</label>
            <select class="form-control" >
            </select>
          </div>
          <div>
            <label>Наименование банка на русском</label>
            <div>
              <input id="manufacturBankNameRu"  class="form-control" placeholder="Введите значение"  type="text">
            </div>
          </div>
          <div>
            <label>Наименование банка на казахском</label>
            <div>
              <input id="manufacturBankNameKz"  class="form-control" placeholder="Введите значение"  type="text">
            </div>
          </div>
          <div class="form-group ng-hide" >
            <button type="button" class="btn btn-sm btn-success" >Сохранить</button>
          </div>
          <div class="form-group">
            <label>Расчетный счет *</label>
            <div>
              <input id="BankIikManufactur"  class="form-control" placeholder="Введите значение" type="text"  required=""  disabled="disabled">
            </div>
          </div>
          <div class="form-group">
            <label>Валюта *</label>
            <select class="form-control" >
            </select>
          </div>
          <div *ngIf="isRes === 'unres'" >
            <div class="form-group ng-scope" >
              <label>SWIFT *</label>
              <div>
                <input id="bankBik" class="form-control" placeholder="Введите значение"  type="text"  required=""  disabled="disabled">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

