<nav class="navbar box-shadow app-header" [class.fixed-top]="settings.theme.navbarIsFixed" [class.logo-visible]="showInfoContent">
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-start align-items-center top-navbar">

      <div class="horizontal-menu-outer">
        <app-horizontal-menu *ngIf="showHorizontalMenu"  [menuItems]="menuItems"></app-horizontal-menu>
      </div>

      <div class="top-rigth-icons ml-auto">
                <span class="d-none d-sm-inline-block">
                    <app-flags-menu></app-flags-menu>
                </span>
        <span class="d-none d-sm-inline-block">
                    <app-messages></app-messages>
                </span>
        <span class="d-none d-sm-inline-block pl-2 pr-2" (click)="settings.theme.showSideChat = !settings.theme.showSideChat">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                </span>
        <span class="d-none d-sm-inline-block">
                    <app-user-menu></app-user-menu>
                </span>
        <span class="pl-2 pr-2">
                    <a routerLink="/login">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </span>
      </div>

    </div>

  </div>
</nav>
