<div class="controls border-bottom">
  <div class="btn-group" role="group">
    <div class="dropdown">
      <div>
        <input type="image" class="dropbtn mg-pd-10" src="../../../assets/imgs/logo32black.png" />
      </div>
      <div class="dropdown-content">
        <a href="#">Версия 1.0.0</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">ОБиК <span class="fa fa-toggle-down"></span></button>
      <div class="dropdown-content">
        <a routerLink="/int/spa/declarations" >ОБК Договоры</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">ОБК Договоры <span class="fa fa-toggle-down"></span></button>

      <div class="dropdown-content">
        <a routerLink="/int/spa/contracts">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">ОБК Договоры <span class="fa fa-toggle-down"></span></button>

      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">ОБК Договоры <span class="fa fa-toggle-down"></span></button>

      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">ОБК Договоры <span class="fa fa-toggle-down"></span></button>

      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn">ОБК Договоры <span class="fa fa-toggle-down"></span></button>

      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="btn-group  pull-right" role="group">
    <div class="dropdown">
      <button class="dropbtn">Шоранова А. Е. (Руководство - Генеральный директор) <span class="fa fa-toggle-down"></span></button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
</div>
