<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-dark">
        <h5>Данные по договору на проведение экспертизы</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 border-right">
      <div class="form-group">
        <label for="Subject">Субъект</label>
        <select class="form-control" id="Subject" required>
          <option>выберите значение</option>
        </select>
      </div>

      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="citizenship" value="option1" checked>Резидент РК
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="citizenship" value="option2">Не резидент РК
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="own" value="option1" checked>Физическое лицо
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="own" value="option2">Юридическое лицо
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="sBin">БИН</label>
        <select class="form-control" id="sBin" required>
          <option>выберите значение</option>
        </select>
        <button type="button" class="btn btn-info w-100p mb-1">Найти</button>
        <button type="button" class="btn btn-info w-100p mb-1">Отмена</button>
      </div>

      <div class="form-group">
        <label for="OrganizationalForm">Организационная форма</label>
        <select class="form-control" id="OrganizationalForm" required>
          <option>выберите значение</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sNameRu">Наименование на русском языке</label>
        <input type="text" class="form-control" id="sNameRu" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="Country">Страна</label>
        <select class="form-control" id="Country" required>
          <option>выберите значение</option>
        </select>
      </div>
      <div class="form-group">
        <label for="legalAddress">Юридический адрес</label>
        <input type="text" class="form-control" id="legalAddress" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="actualAddress">Фактический адрес</label>
        <input type="text" class="form-control" id="actualAddress" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="phoneNumber">Номер телефона</label>
        <input type="text" class="form-control" id="phoneNumber" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="email">Адрес электронной почты</label>
        <input type="text" class="form-control" id="email" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="fax">Факс</label>
        <input type="text" class="form-control" id="fax" placeholder="введите значение">
      </div>
    </div>


    <div class="col-sm-6">
      <h5>Подписывающее лицо</h5>
      <div class="form-group">
        <label for="directorLastName">Фамилия первого руководителя</label>
        <input type="text" class="form-control" id="directorLastName" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="directorFirstName">Имя первого руководителя</label>
        <input type="text" class="form-control" id="directorFirstName" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="directorMidleName">Отчество первого руководителя</label>
        <input type="text" class="form-control" id="directorMidleName" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="directorPositionRu">Должность первого руководителя на русском языке</label>
        <input type="text" class="form-control" id="directorPositionRu" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="directorPositionKz">Должность первого руководителя на государственном языке</label>
        <input type="text" class="form-control" id="directorPositionKz" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="bankName">Название банка</label>
        <select class="form-control" id="bankName" required>
          <option>выберите значение</option>
        </select>
        <button type="button" class="btn btn-info w-100p mb-1">Добавить</button>
      </div>
      <div class="form-group">
        <label for="IIK">ИИК</label>
        <input type="text" class="form-control" id="IIK" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="Currency">Валюта</label>
        <select class="form-control" id="Currency" required>
          <option>выберите значение</option>
        </select>
      </div>
      <div class="form-group">
        <label for="BIN">БИН</label>
        <input type="text" class="form-control" id="BIN" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="BIK">БИК</label>
        <input type="text" class="form-control" id="BIK" placeholder="введите значение">
      </div>
      <div class="form-group">
        <label for="Code">Код</label>
        <input type="text" class="form-control" id="Code" placeholder="введите значение">
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <button type="button" class="btn btn-info w-100p mb-1">Сохранить</button>
        <button type="button" class="btn btn-info w-100p mb-1">Отмена</button>
      </div>
    </div>
  </div>

</div>
