<form #templateForm="ngForm" (change)="model=model">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-dark">
          <h5>Данные по договору на проведение экспертизы</h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 border-right">
        <div class="form-group">
          <label class="required">Субъект</label>
          <div class="input-group">
            <select class="form-control" id="Subject" required>
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="citizenship" value="option1" [(ngModel)]="isRes"
                       value="res">Резидент РК
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="citizenship" value="option2" [(ngModel)]="isRes"
                       value="unres">Не резидент РК
              </label>
            </div>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="own" value="option1">Физическое лицо
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="own" value="option2">Юридическое лицо
              </label>
            </div>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div *ngIf="isRes !== 'unres'">
          <div class="form-group">
            <label  class="required">БИН</label>
            <div class="input-group">
              <select class="form-control" id="sBin" required>
                <option value="" disabled selected>Select something...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
              </select>
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
            <button type="button" class="btn btn-info w-100p mb-1">Найти</button>
            <button type="button" class="btn btn-info w-100p mb-1">Отмена</button>
          </div>
        </div>

        <div class="form-group">
          <label class="required">Организационная форма</label>
          <div class="input-group">
            <select class="form-control" id="OrganizationalForm" required>
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Наименование на русском языке</label>
          <div class="input-group">
            <input type="text" class="form-control" id="sNameRu" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Страна</label>
          <div class="input-group">
            <select class="form-control" id="Country" required>
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Юридический адрес</label>
          <div class="input-group">
            <input type="text" class="form-control" id="legalAddress" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Фактический адрес</label>
          <div class="input-group">
            <input type="text" class="form-control" id="actualAddress" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Номер телефона</label>
          <!--<input [textMask]="{mask: mask}" [(ngModel)]="myModel" type="text" name="ttt"/>-->
          <div class="input-group">
            <input type="text" class="form-control" id="phoneNumber" placeholder="+7 (___) ___-____" [textMask]="{mask: phoneMask}">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Адрес электронной почты</label>
          <div class="input-group">
            <input type="text" class="form-control" id="email" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Факс</label>
          <div class="input-group">
            <input type="text" class="form-control" id="fax" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-6">
        <h5>Подписывающее лицо</h5>
        <div class="form-group">
          <label class="required">Фамилия первого руководителя</label>
          <div class="input-group">
            <input type="text" class="form-control" id="directorLastName" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Имя первого руководителя</label>
          <div class="input-group">
            <input type="text" class="form-control" id="directorFirstName" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Отчество первого руководителя</label>
          <div class="input-group">
            <input type="text" class="form-control" id="directorMidleName" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Должность первого руководителя на русском языке</label>
          <div class="input-group">
            <input type="text" class="form-control" id="directorPositionRu" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Должность первого руководителя на государственном языке</label>
          <div class="input-group">
            <input type="text" class="form-control" id="directorPositionKz" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Название банка</label>
          <div class="input-group">
            <select class="form-control" id="bankName" required>
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
          <button type="button" class="btn btn-info w-100p mb-1">Добавить</button>
        </div>
        <div class="form-group">
          <div *ngIf="isRes !== 'unres'">
            <label class="required">ИИК</label>
          </div>
          <div *ngIf="isRes == 'unres'">
            <label class="required">Расчетный счет</label>
          </div>

          <div class="input-group">
            <input type="text" class="form-control" id="IIK" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Валюта</label>
          <div class="input-group">
            <select class="form-control" id="Currency" required>
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div *ngIf="isRes !== 'unres'">
          <div class="form-group">
            <label class="required">БИН</label>
            <div class="input-group">
              <input type="text" class="form-control" id="BIN" placeholder="введите значение">
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="required">БИК</label>
            <div class="input-group">
              <input type="text" class="form-control" id="BIK" placeholder="введите значение">
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="required">Код</label>
            <div class="input-group">
              <input type="text" class="form-control" id="Code" placeholder="введите значение">
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isRes == 'unres'">
          <div class="form-group">
            <label class="required">SWIFT</label>
            <div class="input-group">
              <input type="text" class="form-control" id="SWIFT" placeholder="введите значение">
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <button type="button" class="btn btn-info w-100p mb-1">Сохранить</button>
          <button type="button" class="btn btn-info w-100p mb-1">Отмена</button>
        </div>
      </div>
    </div>

  </div>
</form>
