<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-dark">
        <h5>Перечень документов, необходимых для согласования счета по договору на экспертизу МИ в соответствии с
          классом безопасности</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <label>Файлы для прикрепления:</label>

    <div class="form-check  float-right">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Не применимо
      </label>
    </div>
  </div>


</div>
