.main{
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 100%;
  margin: auto;
  max-width: 1200px;
  padding: 15px;
  color: #555555;
  font-size: 14px;
}

.select-profile-btn {
  white-space: normal;
  height: 280px;
  font-size: 18px;
  background-color: #ffffff;
  border-color: #cccccc;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);

}

.btn:hover{
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.mg-top-50{
  margin-top: 50px;
}

.header-img{
  width: 600px; margin: auto
}
