<div>
  <div class="app">
    <br><br><br><br><br>
    <div class="main">
      <div class="header-img">
        <img src="../../../assets/imgs/logo_ncels_ru.png">
      </div>
      <div class="row mg-top-50">
        <div class="col-lg-3">
          <button type="button" class="btn select-profile-btn" routerLink="/int/spa">
            <div>
              <img class="logo-img" src="../../../assets/imgs/logo_big.png">
            </div>
            <p>Экспертиза лекарственных средств изделий медицинского назначения и медицинской техники</p>
          </button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn select-profile-btn" routerLink="/int/spa">
            <div>
              <img class="logo-img" src="../../../assets/imgs/logo_big.png">
            </div>
            <p>Референтное ценообрзование на ЛС, ИМН и МТ</p>
          </button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn select-profile-btn" routerLink="/int/spa">
            <div>
              <img class="logo-img" src="../../../assets/imgs/logo_big.png">
            </div>
            <p>Оценка безопасности и качества ЛС и ИМН</p>
          </button>
        </div>
        <div class="col-lg-3">
          <button type="button" class="btn select-profile-btn" routerLink="/int/spa">
            <div>
              <img class="logo-img" src="../../../assets/imgs/logo_big.png">
            </div>
            <p>Референтное ценообрзование на ЛС, ИМН и МТ</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
