@model PW.Ncels.Database.Models.OBK.OBKExpertiseConclusionNegative



<div class="panel panel-default">
    <div class="panel-body">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="col-lg-12">
                        <label class="control-label">Результат</label>
                        @Html.DropDownList("RefReasonId", Model.Reasons, String.Empty, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <label class="control-label">Основание на русском языке*</label>
                        <textarea rows="4" id="ecNegativeReasonNameRu" name="ecNegativeReasonNameRu" type="text" class="form-control"></textarea>
                    </div>
                    <div class="col-lg-6">
                        <label class="control-label">Основание на казахском языке*</label>
                        <textarea rows="4" id="ecNegativeReasonNameKz" name="ecNegativeReasonNameKz" type="text" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button" class="btn btn-default" onclick="saveExpConclusion()">Сохранить</button>
        <button type="button" class="btn btn-default" onclick="closeExpConclusionNegative()">Отмена</button>
    </div>
</div>

<script>

    function saveExpConclusion() {
        if (validForm()) {

        } else {
            alert('Заполните обязательные поля');
        }
    }

    function closeExpConclusionNegative() {
        $("#panelExpertiseConclusion_@Model.AssessmentDeclarationId").hide();
    }

    $("#RefReasonId").on('change', function () {
        debugger;
        var reasonSelect = $("option:selected", this);
        var reason = reasonSelect.text().split('/');
        $("textarea#ecNegativeReasonNameRu").val(reason[0]);
        $("textarea#ecNegativeReasonNameKz").val(reason[1]);
    });

</script>

