@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.DataModel.EXP_DrugDeclaration
@{ var stylenone = "display: none";}
@if (Model.TypeId > 1)
{
    stylenone = "";
}
<div class="panel panel-default" id="changeReestrDiv" style="@stylenone">
    <div class="panel-heading">
        Данные с гос. реестра
    </div>
    <div class="panel-body">

        @foreach (var dosage in Model.ExpDrugDosages.Where(e => e.RegisterId > 0))
        {
            @Html.Partial("~/Views/DrugDeclaration/TempReestView.cshtml", dosage)
        }
    </div>
</div>
