@using System.Globalization
@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.DataModel.EXP_DrugDeclaration

<div class="panel-body">
    <p class="text-bold">Необходимо принять соглашение:</p>
    <div class="row">
        <div class="col-lg-12">
            <div class="pw-text-area" rows="20" id="comment">
                <b>Гарантирую:</b> достоверность информации регистрационного досье, ненарушение исключительных прав третьими лицами на изобретение или полезную модель, адекватность переводов методик контроля качества, инструкции по медицинскому применению лекарственного средства; представить до начала аналитической экспертизы образцы лекарственных средств, стандартные образцы лекарственных субстанций и их примесей в количествах, достаточных для трехкратного анализа, специфические реагенты, расходные материалы, применяемые при проведении испытаний лекарственных средств (в исключительных случаях и на условиях возврата), а также их соответствие нормативным документам, представляемым на регистрацию.
                <br />
                <br />
                <b>Обязуюсь сообщать</b> обо всех изменениях в регистрационное досье, а также представлять заявление и материалы при обнаружении побочных воздействий при применении лекарственного средства, ранее не указанных в инструкции по медицинскому применению.
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                
                <div class="input-group">
                    @Html.CheckBoxFor(model => model.IsConvention, new {@class = "form-control edit-control main-control", @style = "float: left;margin: 0 auto;width: 20px;", @id = "IsConvention"})
                    Подтверждаю
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>

                </div>
            </div>
        </div>
    </div>
    </div>
