<form #templateForm="ngForm" (change)="model=model">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-dark">
          <h5>Данные по договору на проведение экспертизы</h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 border-right">
        <div class="form-group">
          <label for="Subject">Субъект</label>
          <div class="input-group">
            <select class="form-control" id="Subject" required disabled>
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="citizenship" value="option1" [(ngModel)]="isRes"
                       value="res" disabled>Резидент РК
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="citizenship" value="option2" [(ngModel)]="isRes"
                       value="unres" disabled>Не резидент РК
              </label>
            </div>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="own" value="option1" disabled>Физическое лицо
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="own" value="option2" disabled>Юридическое лицо
              </label>
            </div>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div *ngIf="isRes !== 'unres'">
          <div class="form-group">
            <label for="sBin">БИН</label>
            <div class="input-group">
              <select class="form-control" id="sBin" required disabled>
                <option value="" disabled selected>Select something...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
              </select>
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
            <!--<button type="button" class="btn btn-info w-100p mb-1">Найти</button>-->
            <!--<button type="button" class="btn btn-info w-100p mb-1">Отмена</button>-->
          </div>
        </div>

        <div class="form-group">
          <label for="OrganizationalForm">Организационная форма</label>
          <div class="input-group">
            <select class="form-control" id="OrganizationalForm" required disabled>
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="sNameRu">Наименование на русском языке</label>
          <div class="input-group">
            <input type="text" class="form-control" id="sNameRu" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="Country">Страна</label>
          <div class="input-group">
            <select class="form-control" id="Country" required disabled>
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="legalAddress">Юридический адрес</label>
          <div class="input-group">
            <input type="text" class="form-control" id="legalAddress" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="actualAddress">Фактический адрес</label>
          <div class="input-group">
            <input type="text" class="form-control" id="actualAddress" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Номер телефона</label>
          <div class="input-group">
            <input type="text" class="form-control" id="phoneNumber" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Адрес электронной почты</label>
          <div class="input-group">
            <input type="text" class="form-control" id="email" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="fax">Факс</label>
          <div class="input-group">
            <input type="text" class="form-control" id="fax" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-6">
        <h5>Подписывающее лицо</h5>
        <div class="form-group">
          <label for="directorLastName">Фамилия первого руководителя</label>
          <div class="input-group">
            <input type="text" class="form-control" id="directorLastName" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="directorFirstName">Имя первого руководителя</label>
          <div class="input-group">
            <input type="text" class="form-control" id="directorFirstName" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="directorMidleName">Отчество первого руководителя</label>
          <div class="input-group">
            <input type="text" class="form-control" id="directorMidleName" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="directorPositionRu">Должность первого руководителя на русском языке</label>
          <div class="input-group">
            <input type="text" class="form-control" id="directorPositionRu" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="directorPositionKz">Должность первого руководителя на государственном языке</label>
          <div class="input-group">
            <input type="text" class="form-control" id="directorPositionKz" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="bankName">Название банка</label>
          <div class="input-group">
            <select class="form-control" id="bankName" required disabled>
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
          <!--<button type="button" class="btn btn-info w-100p mb-1">Добавить</button>-->
        </div>
        <div class="form-group">
          <div *ngIf="isRes !== 'unres'">
            <label for="IIK">ИИК</label>
          </div>
          <div *ngIf="isRes == 'unres'">
            <label for="IIK">Расчетный счет</label>
          </div>

          <div class="input-group">
            <input type="text" class="form-control" id="IIK" placeholder="введите значение" disabled>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="Currency">Валюта</label>
          <div class="input-group">
            <select class="form-control" id="Currency" required disabled>
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div *ngIf="isRes !== 'unres'">
          <div class="form-group">
            <label for="BIN">БИН</label>
            <div class="input-group">
              <input type="text" class="form-control" id="BIN" placeholder="введите значение" disabled>
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="BIK">БИК</label>
            <div class="input-group">
              <input type="text" class="form-control" id="BIK" placeholder="введите значение" disabled>
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="Code">Код</label>
            <div class="input-group">
              <input type="text" class="form-control" id="Code" placeholder="введите значение" disabled>
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isRes == 'unres'">
          <div class="form-group">
            <label for="SWIFT">SWIFT</label>
            <div class="input-group">
              <input type="text" class="form-control" id="SWIFT" placeholder="введите значение" disabled>
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="col-sm-12">-->
        <!--<div class="text-center">-->
          <!--<button type="button" class="btn btn-info w-100p mb-1">Сохранить</button>-->
          <!--<button type="button" class="btn btn-info w-100p mb-1">Отмена</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</form>
