@model PW.Ncels.Database.DataModel.PriceProject
@{
}

<script>

    function showRequest(event) {
        var itemId = '@Model.Id';
        window.Showbusy(event);
        $.ajax({
            url: "/PriceProcessing/EditRequest?id=" + itemId,
            success: function (result) {
                $("#page" + '@Model.Id').html(result);
                $("#loading").hide();
            },
            error: function () {
                $("#loading").hide();
                ShowAlert('Ошибка!', window.commonErrorMessage, window.AlertType.Error, 3000);
            }
        });
    }

</script>

<div id="MainMenu" style="font-size: 14px; ">
    <div class="list-group panel">
        <a href="#" onclick="showRequest(event)" class="list-group-item"><span class="glyphicon glyphicon-file"></span> Заявление</a>
        <a href="#" onclick="showExecHistory(event)" class="list-group-item"><span class="glyphicon glyphicon-time"></span> Ход исполнения</a>
        <a href="#" onclick="showRemarks(event)" class="list-group-item"><span class="glyphicon glyphicon-briefcase"></span> Замечания</a>
        <a href="#" onclick="showCorrespondence(event);" class="list-group-item"><span class="glyphicon glyphicon-folder-open"></span> Переписка</a>
        <a href="#" onclick="showAttachFiles(event)" class="list-group-item"><span class="glyphicon glyphicon-ok-circle"></span> Вложения</a>

    </div>
</div>