@model  IEnumerable<PW.Ncels.Database.Models.TaskPathModel>
    <ul data-role="listview" data-style="inset">
        @foreach (var item in Model) {
            var tab = "";
            <li>
                @for (int i = 0; i < item.Rank; i++) {
                    <span>&nbsp;&nbsp;</span>
                }
                @if (item.IsMainLine) {
                    <b>@item.Executor.Substring(0, item.Executor.LastIndexOf(" ("))</b>
                } else {
                    @item.Executor.Substring(0, item.Executor.LastIndexOf(" ("))
                }
            </li>
        }
    </ul>
