@using PW.Ncels.Database.Models
<ul id="attachmentsListView">
    <li>
        <div class="fullTaskMobileWindow">
            <div class="leftTaskMobileWindow">
                <label>
                    Вложения
                </label>
            </div>
            <div class="rightTaskMobileWindow">
                <label>
                    @foreach (UploadInitialFile b in ViewBag.Files) {
                        <br />

                        <a style="text-decoration: underline;" onclick='fileDownload("@b.documentId", "@b.name")'>@b.name</a>

                    }
                </label>
            </div>
        </div>
    </li>
</ul>
<script>
    function fileDownload(id, fileName) {
        fileName = encode_utf8(fileName);
        window.open('/Upload/Download?id=' + id + '&name=' + fileName);
    }
    function encode_utf8(s) {
        return encodeURIComponent(s);
    }
</script>
