@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.Recources
@model PW.Ncels.Database.DataModel.EXP_DrugDosage
@{
    var dosageTypeDiv = "dosageTypeDiv" + Model.DrugDeclarationId;
}
<div style="display: none;" id="@dosageTypeDiv">
    @Html.DropDownList("RemarkTypeId", (IEnumerable<SelectListItem>)(ViewData["RemarkTypes" + Model.DrugDeclarationId]), String.Empty, new { @class = "form-control dosage-remark" })
</div>
 @Html.Partial("~/Views/DrugDeclaration/AppDosage/DosageRemarkView.cshtml", @Model)
 @Html.Partial("~/Views/DrugDeclaration/AppDosage/DosageResultView.cshtml", @Model)