
  <div id="tab-2" class="tab-pane">
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6 b-r">
          <div class="form-group">
            <label><input type="checkbox"  value=""
                          [(ngModel)]="model.DeclarantIsManufacture">Является производителем</label>

          </div>

          <div class="form-group" >
            <div class="custom-control custom-radio radio-inline" >
              <input type="radio" class="custom-control-input radio-primary " name="DeclarantIsResident" id="DeclarantResident"  [(ngModel)]="model.isDecRes" value="res" >
              <label class="custom-control-label" for="DeclarantResident">Резидент РК</label>
            </div>
            <div class="custom-control custom-radio radio-inline ">
              <input type="radio" class="custom-control-input  radio-primary" name="DeclarantIsResident" id="DeclarantNoResident" [(ngModel)]="model.isDecRes" value="unres">
              <label class="custom-control-label" for="DeclarantNoResident">Нерезидент РК</label>
            </div>
          </div>

          <div *ngIf="model.isDecRes !== 'unres'" class="form-group">
            <label>ИИН/БИН *</label>
            <div>
              <input maxlength="24" name="declarantBin"   class="form-control"  type="text" disabled
                     [(ngModel)]="model.IdNumber">
            </div>
        </div>

          <!--<div [hidden]="model.isDecRes !== 'unres'" >-->
            <!--<div class="form-group">-->
              <!--<label>Страна</label>-->
              <!--<select class="form-control"   name="declarantNoResCounty" disabled-->
                      <!--[(ngModel)]="model.isDecRes">-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div [hidden]="model.isDecRes !== 'unres'" >-->
            <!--<div class="form-group">-->
              <!--<label>Наименование на русском языке *</label>-->
              <!--<select class="form-control" name="declarantRuName" disabled-->
                      <!--[(ngModel)]="model.isDecRes">-->
              <!--</select>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="form-group ng-hide">-->
            <!--По Вашему запросу ничего не найдено!-->
          <!--</div>-->

          <h4>Заявитель</h4>
          <div class="form-group">
            <label>Организационная форма*</label>
            <select class="form-control" name="OrganizationFormId"
                    [(ngModel)]="model.declarantOrgForm"
                    disabled>
              <option *ngFor="let item of orgFormVar" [value]="item.id">{{item.nameRu}}</option>
            </select>
          </div>

          <br>
          <div class="form-group">
            <label>Наименование на государственном языке *</label>
            <div>
              <input name="declarantNameKz"  class="form-control"     type="text" disabled
                     [(ngModel)]="model.declarantNameKz">
            </div>
          </div>
          <div class="form-group">
            <label>Наименование на русском языке *</label>
            <div>
              <input name="declarantNameRu"  class="form-control"     type="text" disabled
                     [(ngModel)]="model.declarantNameRu">
            </div>
          </div>
          <div class="form-group">
            <label>Наименование на английском языке*</label>
            <div>
              <input id="declarantNameEn" class="form-control"    type="text"  disabled
                     [(ngModel)]="model.declarantNameEn">
            </div>
          </div>
          <div class="form-group">
            <label>Страна*</label>
            <select class="form-control" name="CountryId"
                    [(ngModel)]="model.declarantCountry"
                    disabled>
              <option></option>
              <option *ngFor="let item of countryVarRes" [value]="item.id">{{item.nameRu}}</option>
            </select>
          </div>
          <div class="form-group">
            <h4>Адрес</h4>
            <label>Юридический адрес * </label>
            <div>
              <input name="declarantAddressLegalRu"  class="form-control"    type="text" disabled
                     [(ngModel)]="model.declarantAddressLegalRu">
            </div>
          </div>
          <div class="form-group">
            <label>Фактический адрес * </label>
            <div>
              <input name="declarantAddressFact"  class="form-control"     type="text" disabled
                     [(ngModel)]="model.declarantAddressFact">
            </div>
          </div>
          <div class="form-group">
            <label>Номер телефона * </label>
            <div>
              <input name="declarantPhone"  class="form-control"  ui-mask="+7 (999) 999-99-99"  type="text" disabled
                     [(ngModel)]="model.declarantPhone">
            </div>
          </div>
          <div class="form-group">
            <label>Номер телефона</label>
            <div>
              <input name="declarantPhone2"   class="form-control"  type="text" disabled
                     [(ngModel)]="model.declarantPhone2">
            </div>
          </div>
          <div class="form-group">
            <label>Адрес электронной почты * </label>
            <div>
              <input name="declarantEmail" class="form-control"  placeholder="example@mail.ru" type="text" disabled
                     [(ngModel)]="model.declarantEmail">
            </div>
          </div>
        </div>
        <div class="col-lg-6 b-l">
          <div class="form-group">
            <h4>Подписывающее лицо</h4>
            <label>Фамилия первого руководителя *</label>
            <div>
              <input name="declarantBossLastName" class="form-control" type="text" disabled
                     [(ngModel)]="model.declarantBossLastName">
            </div>
          </div>
          <div class="form-group">
            <label>Имя первого руководителя *</label>
            <div>
              <input name="declarantBossFirstName" class="form-control" type="text" disabled
                     [(ngModel)]="model.declarantBossFirstName">
            </div>
          </div>
          <div class="form-group">
            <label>Отчество первого руководителя</label>
            <div >
              <input id="declarantBossMiddleName"  class="form-control" type="text" disabled
                     [(ngModel)]="model.declarantBossMiddleName">
            </div>
          </div>
          <div class="form-group">
            <label>Должность первого руководителя на русском языке *</label>
            <div>
              <input name="declarantBossPosition" class="form-control" type="text" disabled
                     [(ngModel)]="model.declarantBossPosition">
            </div>
          </div>
          <div class="form-group">
            <label>Должность первого руководителя на государственном языке *</label>
            <div>
              <input name="declarantBossPositionKz"  class="form-control" type="text" disabled
                     [(ngModel)]="model.declarantBossPositionKz">
            </div>
          </div>

          <h4>Банковские реквизиты</h4>

          <div class="form-group">
            <label>Название банка</label>
            <select class="form-control" name="BankId"
                    [(ngModel)]="model.declarantBank"
                    disabled>
              <option></option>
              <option *ngFor="let item of bankVar" [value]="item.id">{{item.nameRu}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>Расчетный счет *</label>
            <div>
              <input name="declarantBankIik"  class="form-control" type="text" disabled
                     [(ngModel)]="model.declarantBankIik">
            </div>
          </div>
          <div class="form-group">
            <label>Валюта *</label>
            <select class="form-control" name="CurrencyId"
                    [(ngModel)]="model.declarantBankCurr"
                    required>
              <option *ngFor="let item of currencyVar" [value]="item.id">{{item.nameRu}}</option>
            </select>
          </div>
          <div [hidden]="model.isDecRes !== 'unres'" >
            <div class="form-group ng-scope" >
              <label>SWIFT *</label>
              <div>
                <input name="declarantBankSwift" class="form-control" type="text" disabled
                       [(ngModel)]="model.declarantBankSwift">
              </div>
            </div>
          </div>

          <h4>Действующее на основании</h4>
          <select class="form-control" type="number" name="DeclarantDocType"
                  disabled
                  [(ngModel)]="model.DeclarantDocType">
            <option *ngFor="let level of levels" [value]="level.value" >
              {{level.name}}
            </option>
          </select>
          <br>
          <div *ngIf="(model.DeclarantDocType !== '0' )">
            <div class="col-lg-2">
              <div class="form-group">
                <div class="checkbox">
                  <label><input type="checkbox" value=""
                                [(ngModel)]="model.DeclarantDocWithoutNumber">Без номера</label>
                </div>
              </div>
            </div>
            <div class="col-lg-10">
              <div class="form-group">
                <label>№ документа *</label>
                <div>
                  <input id="DeclarantDocNumber" class="form-control"  type="text"
                         [(ngModel)]="model.DeclarantDocNumber">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Дата начала действия *</label>
              <div class="input-group">
                <input class="form-control" name="DeclarantDocStartDate" disabled
                       [(ngModel)]="model.DeclarantDocStartDate">
              </div>
            </div>
            <div class="form-group">
              <label>Дата окончание *</label>
              <div class="input-group">
                <input class="form-control" name="DeclarantDocEndDate" disabled
                       [(ngModel)]="model.DeclarantDocEndDate">
              </div>
            </div>

            <div class="col-lg-3">
              <div class="form-group">
                <div class="checkbox">
                  <label><input type="checkbox" value="" name="DeclarantPerpetualDoc"
                                [(ngModel)]="model.DeclarantPerpetualDoc">Бессрочный</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

