.body {
    background: url('/imgs/shattered.png');
    height: 100vh;
}

.form-container {
    background-color: #f3f3f4;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 1px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    color: #676a6c;
}

.form {
    width: 400px;
    margin: 0 auto;
    padding-top: 40px;
}