@model PW.Ncels.Database.Models.OBK.OBKSubTaskResult

<tr rowid="1">
    <td>1</td>
    <td>@Html.DropDownList("LaboratoryMarkId", (IEnumerable<SelectListItem>)(ViewData["LabMarks"]), String.Empty, new { @class = "form-control subtask-control", onchange = "javascript:GetRegulation(this.value, this.closest('tr'));", })</td>
    <td><select id="regulation_1" name="regulation" class="form-control subtask-control"></select></td>
    <td><input type="text" id="claim" class="form-control subtask-control" /></td>
    <td><input type="text" id="factResult" class="form-control subtask-control" /></td>
    <td><input type="text" id="humidity" class="form-control subtask-control" /></td>
    <td>@Html.DropDownList("ExpertiseResult", (IEnumerable<SelectListItem>)ViewData["ExpertiseResults"], String.Empty, new { @class = "form-control subtask-control", value = "" })</td>
    <td></td>
</tr>

