@model List<PW.Ncels.Database.Models.OBK.UnitLaboratories>
    
<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Выберите сотрудника</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group" id="errorMessage" style="display: none; color: #a94442;">
                    <label>Заполните обязательные поля</label>
                </div>
                <div class="form-group">
                    <table id="tableManager">
                        <tbody>
                        @foreach (var u in Model)
                        {
                            <tr rowId="@u.Id">
                                <td><label>@u.UnitDisplayName</label></td>
                                <td>@Html.DropDownList("ManagerLabId", u.ExecutorLaboratory, String.Empty, new {@class = "form-control modal-control"})</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="sendFilialToCoz()">Отправить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
    </div>
</div>

<script>

    function sendFilialToCoz() {
        if (validModal()) {
            $("#errorMessage").hide();
            var managerLaboratories = new Array();
            $("table#tableManager tbody tr").each(function () {
                debugger;
                var unitId = $(this).attr('rowId');
                var executorId = $(this).find('select#ManagerLabId option:selected').val();
                managerLaboratories.push({ UnitLaboratoryId: unitId, ExecutorId: executorId });
            });
            var model = {
                AssessmentDeclarationId: '@ViewBag.AssessmentDeclarationId',
                ManagerLaboratory: managerLaboratories
            }
            $.ajax({
                type: 'POST',
                url: '/OBKTask/SendToCoz',
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                success: function (data) {
                    debugger;
                    if (data.isSuccess) {
                        $("#modalDialog_@ViewBag.AssessmentDeclarationId").modal('toggle');
                        $('#sendToCoz').attr("disabled", true);
                        alert("Задание успешно передано");
                    }
                }
            });
        } else {
            $("#errorMessage").show();
        }
    }

    function validModal() {
        var valid = true;
        $('.modal-control').each(function () {
            if ($(this).val() == "" || $(this).val() == null) {
                $(this).css({ 'border-color': '#a94442' });
                valid = false;
            } else {
                $(this).css({ 'border-color': '#cccccc' });
            }
        });
        return valid;
    }
</script>
