@model Guid
<script>
    function sendToUOBK() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendToUOBK")',
            data: {
                declarationId: '@Model'
            },
            dataType: 'json',
            cache: false,
            success: function (data) {
                alert('Заявка отправлена в УОБиК');
            },
            error: function (err) {
                alert("Ошибка: " + err.message);
            }
        });
    }

    function showProgram() {
        $(".program@(Model)").show();
    }
    function showReportAe() {
        $(".report-ae@(Model)").show();
    }
    function showReportOP() {
        $(".report-op@(Model)").show();
    }

</script>
<div class="panel-body" id="OP@(Model)">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body" id="productExpertiseId">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <br />
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <strong>Документ</strong>
                                                </div>
                                                <div class="col-lg-6">
                                                    <strong>Дата загрузки</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a href="#" onclick="showProgram()">Программа ОП</a>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span id="dateOPProgram"></span>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a href="#" onclick="showReportAe()">Отчет и протоколы по результатам АЭ</a>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span id="dateOfReportAE"></span>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <a href="#" onclick="showReportOP">Отчет оценки производства</a>
                                                </div>
                                                <div class="col-lg-6">
                                                    <span id="dateOfReportAE"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="k-button" onclick="sendToUOBK(event)" hidden>Передать в УОБиК</button>
                            <hr />
                            <div class="program@(Model)" hidden>
                                @Html.Action("Program", "OPProgram", new { declarationId = Model })
                            </div>
                            <div class="report-ae@(Model)" hidden>
                                @*@Html.Action("Program", new { declarationId = Model })*@
                            </div>
                            <div class="report-op@(Model)" hidden>
                                @*@Html.Action("Program", new { declarationId = Model })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>