@model Guid
<script>
    function sendToUOBK() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SendToUOBK")',
            data: {
                declarationId: '@Model'
            },
            dataType: 'json',
            cache: false,
            success: function (data) {
                alert('Заявка отправлена в УОБиК');
            },
            error: function (err) {
                alert("Ошибка: " + err.message);
            }
        });
    }

</script>
<div class="panel-body" id="OP@(Model)">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body" id="productExpertiseId">
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-sm-12">
                            <button type="button" class="k-button" onclick="sendToUOBK(event)" hidden>Передать в УОБиК</button>
                            <div class="tabs-container">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#programTab@(Model)">Программа</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#protocolsTab@(Model)">Протоколы испытаний</a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#reportTab@(Model)">Отчет оценки производства</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="programTab@(Model)" class="tab-pane active">
                                        @Html.Action("Program", "OPProgram", new { declarationId = Model })
                                    </div>
                                    <div id="protocolsTab@(Model)" class="tab-pane">
                                        @Html.Action("Index", "OPAEReport", new { declarationId = Model })
                                    </div>
                                    <div id="reportTab@(Model)" class="tab-pane">
                                        @Html.Action("Index", "OPReport", new { declarationId = Model })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>