@model Guid 

<div id="@("window" + Model.ToString())">
    <object data="/OP/PrintMotivationRefuse?declarationId=@Model &view=true" style="width:100%;height:550px"></object>
</div>


<script>
    
    var motivationRefuseWindow = $("#window" + '@Model.ToString()');
    
    motivationRefuseWindow.kendoWindow({
        width: "1000px",
        visible: false,
        actions: [
            "Pin",
            "Minimize",
            "Maximize",
            "Close"
        ],
    }).data("kendoWindow").center().open();

</script>
