
@{
    ViewBag.Title = "Выбор профиля для работы";
    Layout = "../Shared/_LayoutPage.cshtml";
}




<link href="~/Content/site.css" rel="stylesheet" />
<body class="pw1" style="overflow: auto;">
    <div id="workProfileConteiner">
        <input type="hidden" id="profileSelectReturnUrl" value="@ViewBag.ReturnUrl" />
        <div class="row">
            <div style="width: 600px; margin: auto">
                <img src="~/Content/images/logo_ncels_ru.png" />
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-lg-3">
                <button type="button" data-profile="Expertise" class="btn btn-default btn-lg btn-block select-profile-btn">
                    <div>
                        <img src="~/Content/images/assistent.png" />
                    </div>
                    <p>Экспертиза лекарственных средств изделий медицинского назначения и медицинской техники</p>
                </button>
            </div>
            <div class="col-lg-3">
                <button type="button" data-profile="Prices" class="btn btn-default btn-lg btn-block select-profile-btn">
                    <div>
                        <img src="~/Content/images/assistent.png" />
                    </div>
                    <p>Референтное ценообрзование на ЛС, ИМН и МТ</p>
                </button>
            </div>
            <div class="col-lg-3">
                <button type="button" data-profile="Lims" class="btn btn-default btn-lg btn-block select-profile-btn">
                    <div>
                        <img src="~/Content/images/assistent.png" />
                    </div>
                    <p>Складской учет для аналитической экспертизы</p>
                </button>
            </div>
            <div class="col-lg-3">
                <button type="button" data-profile="Safety" class="btn btn-default btn-lg btn-block select-profile-btn">
                    <div>
                        <img src="~/Content/images/assistent.png" />
                    </div>
                    <p>Оценка безопасности и качества ЛС и ИМН</p>
                </button>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-lg-3">
                <button type="button" data-profile="General" class="btn btn-default btn-lg btn-block select-profile-btn">
                    <div>
                        <img src="~/Content/images/assistent.png" />
                    </div>
                    <p>
                        Общий профиль
                    </p>
                </button>
            </div>
            @*<div class="col-lg-3">
                <button type="button" data-profile="Emp" class="btn btn-default btn-lg btn-block select-profile-btn">
                    <div>
                        <img src="~/Content/images/assistent.png" />
                    </div>
                    <p>
                        Экспертиза
                    </p>
                </button>
            </div>*@
        </div>
    </div>
</body>

<style>
    #workProfileConteiner {
        background: none repeat scroll 0 0 #FFFFFF;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        height: 100%;
        margin: 100px auto;
        max-width: 1200px;
        padding: 15px;
        color: #555555;
        font-size: 14px;
    }

    .select-profile-btn {
        white-space: normal;
        height: 280px
    }

    .pw1 {
        background: url("../../Content/images/bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
        color: #444444;
        font-family: "Helvetica Neue",Helvetica,sans-serif;
        font-size: 14px;
    }
</style>
<script>
    (function () {        
        var returnUrl = $('#profileSelectReturnUrl').val();
        function workProfileSelected(e) {
            var selectedProfile = $(e.currentTarget).attr('data-profile');
            window.location.href = '/Account/WorkProfileSelected?workProfile=' + selectedProfile + '&returnUrl=' + returnUrl;
        };

        $('#workProfileConteiner button').on("click", workProfileSelected);
    })();
</script>
