@model Guid

@* Исторические/Архивные записи PriceProjects *@
<script id="ref-treeview-template" type="text/kendo-ui-template">
    # if (item.Type == 1) { #
    <img src="../../Content/images/units/org.png" height="16" width="16" />
    # } #
    # if (item.Type == 2) { #
    <img src="../../Content/images/units/dep.png" height="16" width="16" />
    # } #
    # if (item.Type == 3) { #
    <img src="../../Content/images/history/document.png" height="16" width="16" />
    # } #
    #: item.Name #

</script>

<script>

    var name = '@Model';

    var dataId, year, type, uid;

    function onSelectRefRow(e) {
        dataId = $("#treeview" + name).data("kendoTreeView").dataItem(e.node).id;

        $.ajax({
            url: "/Project/PriceProjectHistoryList?Id=" + dataId,
            success: function (result) {
                $('#EditUnits' + name).html(result);
            }
        });
    }

    $(document).ready(function () {

    });
</script>

<div id="@("loader"+ Model)"></div>
@(Html.Kendo().Splitter()
            .HtmlAttributes(new { @class = "pwSplitter k-block" })
            .Name(("splitter" + Model))
            .Panes(panes =>
            {
            panes.Add()
                .Size("200px")
                .Collapsible(true)
                .MaxSize("250px")
                .MinSize("150px")
                .Content(
                @<div class="pwPanelBar">
                    @(Html.Kendo().TreeView()
                                   .Name("treeview" + Model)
                                   .TemplateId("ref-treeview-template")
                                   .DataTextField("Name")
                                   .Events(events => events.Select("onSelectRefRow"))
                                        .DataSource(dataSource => dataSource
                                            .Read(read => read.Action("RequestOrderTypesList", "Project")
                                        )
                                    )
                                   .HtmlAttributes(new { @class = "pwOs" })
                    )
                </div>
                );

                panes.Add().Scrollable(false).Size("100%").Content(
                    @<div>
                        <div id="@("EditUnits" + Model)">
                        </div>
                    </div>
                );
            }))

