<form novalidate #paymentForm="ngForm">
  <button type="button" (click)="sendPaymentRequest()" class="btn btn-warning btn-sm">Подписание
    <i class="fa fa-send-o"></i>icon
  </button>
  <!--<button type="button" (click)="getChangeModel()" class="btn btn-warning btn-sm">Изменить запись</button>-->
  <!--<button type="button" (click)="getTestVar()" class="btn btn-warning btn-sm">Тест</button>-->


  <div class="dec-out">
    <div class="dec-in">
      <nav class="nav flex-column">
        <div class="nav nav-tabs" id="nav-tab" role="tablist" value="fl">
          <a class="nav-item nav-link active" data-toggle="tab" role="tab"
             aria-controls="nav-home" aria-selected="true" (click)="setTab('cost-info')"
             [ngClass]="{'text-danger': showAllErr && costinfoForm.invalid }">Сведение о стоимости</a>

          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-profile" aria-selected="false" (click)="setTab('data')"
             [ngClass]="{'text-danger': showAllErr && dataForm.invalid }">Данные ИМН/МТ</a>


          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-profile" aria-selected="false" (click)="setTab('equipment')">Комплектация ИМН
            и МТ</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-profile" aria-selected="false" (click)="setTab('manufacturer')"
          >Производитель ИМН и МТ <br>и участок производства</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-profile" aria-selected="false" (click)="setTab('subject')">Субъект,
            осуществляющий оплату <br> за проведение экспертизы</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-profile" aria-selected="false" (click)="setTab('attachments')">Вложения</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-profile" aria-selected="false" (click)="setTab('signing')">Подписание</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
            aria-controls="nav-profile" aria-selected="false" (click)="setTab('test-payment')">Тест</a>

        </div>
      </nav>
      <div [hidden]="type !== 'cost-info'">
        <app-cost-info [showErrors]="showAllErr" name="costinfoForm" [(ngModel)]="paymentModel.costInfo" required #costinfoForm="ngModel"
                       [costInfoModal]="paymentModel.costInfo" (changeModelParent)="changeModel($event)"></app-cost-info>
      </div>
      <div [hidden]="type !== 'data'">
        <app-data [showErrors]="showAllErr" name="dataForm" [(ngModel)]="paymentModel.data" required #dataForm="ngModel"
                  (changeModelParent)="changeModel($event)"></app-data>
      </div>
      <div [hidden]="type !== 'equipment'">
        <app-equipment [showErrors]="showAllErr" name="equipmentForm" [(ngModel)]="paymentModel.equipment" required #equipmentForm="ngModel"
                       (changeModelParent)="changeModel($event)"></app-equipment>
      </div>
      <div [hidden]="type !== 'manufacturer'">
        <app-manufacturer [showErrors]="showAllErr" name="manufacturerForm" [(ngModel)]="paymentModel.manufacturer" required #dmanufacturerForm="ngModel"
                          (changeModelParent)="changeModel($event)"></app-manufacturer>
      </div>
      <div [hidden]="type !== 'subject'">
        <app-subject [showErrors]="showAllErr" name="subjectForm" [(ngModel)]="paymentModel.subject" required #subjectForm="ngModel"></app-subject>
      </div>
      <div [hidden]="type !== 'attachments'">
        <app-attachments [showErrors]="showAllErr" name="attachmentsForm" [(ngModel)]="paymentModel.attachments" required #attachmentsForm="ngModel"
                         (changeModelParent)="changeModel($event)"></app-attachments>
      </div>
      <div [hidden]="type !== 'signing'">
        <app-signing (sendPaymentRequestSign)="sendPaymentRequest($event)"></app-signing>
      </div>
      <div [hidden]="type !== 'test-payment'">
        <app-test-payment></app-test-payment>
      </div>
    </div>
  </div>
</form>



