@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<script>
    function loadVideo(id) {
        var state = $("#video" + id + "tr").attr("flag");
        if (state == "1") {
            var video = document.getElementById('video' + id);
            video.pause();
            $("#video" + id + "tr").hide();
            $("#video" + id + "tr").attr("flag", "0");
            $("#img" + id).removeClass("arrow-down");
            $("#img" + id).addClass("arrow-right");
            return;
        }

        
        $(".arrow-down").removeClass("arrow-down");
        $("#img" + id).addClass("arrow-down");
        $(".video").hide();
        $(".video").attr("flag", "0");
        $('.video-src').each(function() {
            this.pause();
        });

        $("#video" + id + "tr").attr("flag", "1");
        var video = document.getElementById('video' + id);
        var mp4 = document.getElementById('mp4' + id);
        $("#video" + id + "tr").show();
        mp4.src = "/Home/Video/" + id;
        video.load();
        video.play();
    }
</script>

<style>
    .arrow-right {
        content: url("/Content/img/directionalright.png");
    }
    .arrow-down {
        content: url("/Content/img/directionaldown.png");
    }
    .arrow-right:after {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        content: "";
        background: url("/Content/img/directionalright.png") no-repeat 0 0;
        background-size: 100%;
    }
    .arrow-down:after {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 5px;
        content: "";
        background: url("/Content/img/directionaldown.png") no-repeat 0 0;
        background-size: 100%;
    }
</style>

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content text-center p-md">
                            <h2>
                                <span class="text-success">Референтное ценообразование</span>
                            </h2>
                            <p>
                                Инструкция
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right"></span>
                            <h5>PDF-версия</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    <td style="width: 48px; vertical-align: sub; padding: 5px;"><img src="~/Content/img/05.png" style="height: 48px; width: 48px; vertical-align: sub;" /></td>
                                    <td style="width: 20px;"></td>
                                    <td>
                                        <h3 class="no-margins">
                                            <a class="pw-widget-link" href="@Url.Action("GetInstruction", "Home")">Скачать инструкцию (PDF)</a>
                                        </h3>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>                
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <span class="label label-success pull-right"></span>
                            <h5>Видео уроки</h5>
                        </div>
                        <div class="ibox-content">
                            <table>
                                <tr>
                                    @*<td style="width: 48px; vertical-align: sub; padding: 5px;"><img src="~/Content/img/01.png" style="height: 48px; width: 48px; vertical-align: sub;"/></td>*@
                                    <td style="width: 24px; height: 24px; padding: 5px;"><img id="img1" class="img-arrow arrow-right" style="height: 24px; width: 24px; vertical-align: sub;" /></td>
                                    <td>
                                        <h3 class="no-margins">
                                            <a class="pw-widget-link" href="" onclick="loadVideo(1)">1.	Регистрация и вход в личный кабинет</a>
                                        </h3>
                                    </td>
                                </tr>
                                <tr id="video1tr" class="video" style="display: none;" flag="0">
                                    <td colspan="2">
                                        <video id="video1" class="video-src" width="480" height="400" controls preload="auto">
                                            <source id="mp41" type="video/mp4"/>
                                            (Браузер устарел и не проигрывает видео. Скачайте последнюю версию)
                                        </video>
                                    </td>
                                </tr>

                                <tr>
                                    @*<td style="width: 48px; vertical-align: sub; padding: 5px;"><img src="~/Content/img/01.png" style="height: 48px; width: 48px; vertical-align: sub;" /></td>*@
                                    <td style="width: 20px; padding: 5px;"><img id="img2" class="img-arrow arrow-right" style="height: 24px; width: 24px; vertical-align: sub;" /></td>
                                    <td>
                                        <h3 class="no-margins">
                                            <a class="pw-widget-link" href="" onclick="loadVideo(2)">2.	Создание заявления на референтное ценообразование на ЛС</a>
                                        </h3>
                                    </td>
                                </tr>
                                <tr id="video2tr" class="video" style="display: none;" flag="0">
                                    <td colspan="2">
                                        <video id="video2" class="video-src" width="480" height="400" controls preload="auto">
                                            <source id="mp42" type="video/mp4"/>
                                            (Браузер устарел и не проигрывает видео. Скачайте последнюю версию)
                                        </video>
                                    </td>
                                </tr>

                                <tr>
                                    @*<td style="width: 48px; vertical-align: sub; padding: 5px;"><img src="~/Content/img/01.png" style="height: 48px; width: 48px; vertical-align: sub;" /></td>*@
                                    <td style="width: 20px; padding: 5px;"><img id="img3" class="img-arrow arrow-right" style="height: 24px; width: 24px; vertical-align: sub;" /></td>
                                    <td>
                                        <h3 class="no-margins">
                                            <a class="pw-widget-link" href="" onclick="loadVideo(3)">3.	Создание заявления на референтное ценообразование на ИМН</a>
                                        </h3>
                                    </td>
                                </tr>
                                <tr id="video3tr" class="video" style="display: none;" flag="0">
                                    <td colspan="2">
                                        <video id="video3" class="video-src" width="480" height="400" controls preload="auto">
                                            <source id="mp43" type="video/mp4"/>
                                            (Браузер устарел и не проигрывает видео. Скачайте последнюю версию)
                                        </video>
                                    </td>
                                </tr>

                                <tr>
                                    @*<td style="width: 48px; vertical-align: sub; padding: 5px;"><img src="~/Content/img/01.png" style="height: 48px; width: 48px; vertical-align: sub;" /></td>*@
                                    <td style="width: 20px; padding: 5px;"><img id="img4" class="img-arrow arrow-right" style="height: 24px; width: 24px; vertical-align: sub;" /></td>
                                    <td>
                                        <h3 class="no-margins">
                                            <a class="pw-widget-link" href="" onclick="loadVideo(4)">4.	Создание заявления на референтное ценообразование на орфанные ЛС</a>
                                        </h3>
                                    </td>
                                </tr>
                                <tr id="video4tr" class="video" style="display: none;" flag="0">
                                    <td colspan="2">
                                        <video id="video4" class="video-src" width="480" height="400" controls preload="auto">
                                            <source id="mp44" type="video/mp4"/>
                                            (Браузер устарел и не проигрывает видео. Скачайте последнюю версию)
                                        </video>
                                    </td>
                                </tr>

                                <tr>
                                    @*<td style="width: 48px; vertical-align: sub; padding: 5px;"><img src="~/Content/img/01.png" style="height: 48px; width: 48px; vertical-align: sub;" /></td>*@
                                    <td style="width: 20px; padding: 5px;"><img id="img5" class="img-arrow arrow-right" style="height: 24px; width: 24px; vertical-align: sub;" /></td>
                                    <td>
                                        <h3 class="no-margins">
                                            <a class="pw-widget-link" href="" onclick="loadVideo(5)">5.	Создание заявления на внесения изменениий в зарегистрированную цену на ЛС и ИМН</a>
                                        </h3>
                                    </td>
                                </tr>
                                <tr id="video5tr" class="video" style="display: none;" flag="0">
                                    <td colspan="2">
                                        <video id="video5" class="video-src" width="480" height="400" controls preload="auto">
                                            <source id="mp45" type="video/mp4"/>
                                            (Браузер устарел и не проигрывает видео. Скачайте последнюю версию)
                                        </video>
                                    </td>
                                </tr>

                                <tr>
                                    @*<td style="width: 48px; vertical-align: sub; padding: 5px;"><img src="~/Content/img/01.png" style="height: 48px; width: 48px; vertical-align: sub;" /></td>*@
                                    <td style="width: 20px; padding: 5px;"><img id="img6" class="img-arrow arrow-right" style="height: 24px; width: 24px; vertical-align: sub;" /></td>
                                    <td>
                                        <h3 class="no-margins">
                                            <a class="pw-widget-link" href="" onclick="loadVideo(6)">6.	Работа со списком сохраненных и отправленных заявлений на референтное ценообразование</a>
                                        </h3>
                                    </td>
                                </tr>
                                <tr id="video6tr" class="video" style="display: none;" flag="0">
                                    <td colspan="2">
                                        <video id="video6" class="video-src" width="480" height="400" controls preload="auto">
                                            <source id="mp46" type="video/mp4"/>
                                            (Браузер устарел и не проигрывает видео. Скачайте последнюю версию)
                                        </video>
                                    </td>
                                </tr>

                                <tr>
                                    @*<td style="width: 48px; vertical-align: sub; padding: 5px;"><img src="~/Content/img/01.png" style="height: 48px; width: 48px; vertical-align: sub;" /></td>*@
                                    <td style="width: 20px; padding: 5px;"><img id="img7" class="img-arrow arrow-right" style="height: 24px; width: 24px; vertical-align: sub;" /></td>
                                    <td>
                                        <h3 class="no-margins">
                                            <a class="pw-widget-link" href="" onclick="loadVideo(7)">7.	Работа с уведомлениями</a>
                                        </h3>
                                    </td>
                                </tr>
                                <tr id="video7tr" class="video" style="display: none;" flag="0">
                                    <td colspan="2">
                                        <video id="video7" class="video-src" width="480" height="400" controls preload="auto">
                                            <source id="mp47" type="video/mp4"/>
                                            (Браузер устарел и не проигрывает видео. Скачайте последнюю версию)
                                        </video>
                                    </td>
                                </tr>

                                <tr>
                                    @*<td style="width: 48px; vertical-align: sub; padding: 5px;"><img src="~/Content/img/01.png" style="height: 48px; width: 48px; vertical-align: sub;" /></td>*@
                                    <td style="width: 20px; padding: 5px;"><img id="img8" class="img-arrow arrow-right" style="height: 24px; width: 24px; vertical-align: sub;" /></td>
                                    <td>
                                        <h3 class="no-margins">
                                            <a class="pw-widget-link" href="" onclick="loadVideo(8)">8.	Работа с почтой</a>
                                        </h3>
                                    </td>
                                </tr>
                                <tr id="video8tr" class="video" style="display: none;" flag="0">
                                    <td colspan="2">
                                        <video id="video8" class="video-src" width="480" height="400" controls preload="auto">
                                            <source id="mp48" type="video/mp4" />
                                            (Браузер устарел и не проигрывает видео. Скачайте последнюю версию)
                                        </video>
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-12" style="padding-left: 35px;">
                        <a href="">
                            <div class="image">
                                <img alt="image" class="img-responsive" src="~/Content/img/i1.png">
                            </div>
                            <h2 class="no-margins">ГОСРЕЕСТР</h2>
                            <h1 class="no-margins bold">ЛС, ИМН и ТМ</h1>
                        </a>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-12" style="padding-left: 35px;">
                        <a href="">
                            <div class="image">
                                <img alt="image" class="img-responsive" src="~/Content/img/i2.png">
                            </div>
                            <h2 class="no-margins">ЗАКОНОДАТЕЛЬСТВО</h2>
                            <h1 class="no-margins bold">ФАРМАЦИИ</h1>
                        </a>
                    </div>
                </div>
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-12" style="padding-left: 35px;">
                        <a href="">
                            <div class="image">
                                <img alt="image" class="img-responsive" src="~/Content/img/i3.png">
                            </div>
                            <h2 class="no-margins">КАЛЬКУЛЯТОР ПО УСЛУГАМ</h2>
                            <h1 class="no-margins bold">НЦЭЛС</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
