@{
    Layout = "../Shared/_Layout.cshtml";
}
<style type="text/css">.not-read {
     font-weight: bold;
 }</style>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Все</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li>
                <a>Уведомления</a>
            </li>
            <li class="active">
                <strong>Все</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
@*<div class="wrapper wrapper-content animated fadeInRight" ng-controller="notificationList">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <grid-object url="/Notification/GetList" column-order="1"></grid-object>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="wrapper wrapper-content animated fadeInRight" data-ng-controller="notificationAll" data-ng-init="initNotification()">
    <div class="row">
        <div class="col-lg-12">
            <div class="mail-box-header">

                <form method="get" action="index.html" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" name="search" ng-model="filterText" placeholder="Поиск уведомления">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-sm btn-success">
                                Искать
                            </button>
                        </div>
                    </div>
                </form>
                <h2>&nbsp;</h2>

                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>

                    </div>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox" ng-click="initNotification()"><i class="fa fa-refresh"></i> Обновить</button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash" ng-click="setViewed()"><i class="fa fa-eye"></i> Прочитано</button>
                </div>
            </div>
            <div class="mail-box">

                <table class="table table-hover table-mail">
                    <tbody>
                        <tr class="read" ng-repeat="item in notification | filter:filterText">
                            <td class="check-mail">
                                <input  type="checkbox" ng-model="isCheked" ng-change='checked(isCheked,item.Id)'>
                            </td>
                            <td class="mail-ontact"><a ui-sref="email_view" notificationId="{{item.Id}}" onclick='setReadNotification(this)' ><span class="is-read-{{item.Id}}" ng-class="{'not-read': !item.IsRead}">{{item.ModifiedUser}}</span></a></td>
                            <td>
                                <span class="label label-warning pull-right" ng-if="item.IsRead">Прочитано</span>
                                <span class="label label-primary pull-right" ng-if="!item.IsRead" id="readId_{{item.Id}}">Новое</span>
                            </td>
                            <td class="mail-subject"><a ui-sref="email_view" href="/Notification/ShowDetails/{{item.Id}}"><span class="is-read-{{item.Id}}" ng-class="{'not-read': !item.IsRead}">{{item.Note}}</span></a></td>
                            <td class="text-right mail-date" ><span  class="is-read-{{item.Id}}" ng-class="{'not-read': !item.IsRead}">{{item.CreatedDate  | date:'yyyy-MM-dd HH:mm:ss'}}</span></td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
