@model PW.Ncels.Database.Models.OBK.OBKEntityTemplate
            
<div id="@("windowAdditionalContract" + Model.Id)">
    <object data="/OBKContract/GetAdditionalContractTemplatePdf?id= + @Model.Id + &isStream=true + &contractAdditionTypeCode=+@Model.ContractAdditionTypeCode" style="width:100%;height:550px"></object>
</div>


<script>
    debugger;                
    var myWindow = $("#windowAdditionalContract"+'@Model.Id');
    myWindow.kendoWindow({
        width: "1000px",
        visible: false,
        modal: true,
        actions: [
            "Pin",
            "Minimize",
            "Maximize",
            "Close"
        ],
    }).data("kendoWindow").center().open();                                                    
</script>
