@model Guid
            
<div id="@("window" + Model)">
    <object data="/OBKContract/GetContractTemplatePdf?id= + @Model + &isStream=true" style="width:100%;height:550px"></object>
</div>


<script>
        
    var myWindow = $("#window"+'@Model');
    myWindow.kendoWindow({
        width: "1000px",
        visible: false,
        modal: true,
        actions: [
            "Pin",
            "Minimize",
            "Maximize",
            "Close"
        ],
    }).data("kendoWindow").center().open();                                                    
</script>
