@model Guid

<div class="row">
    <div id="loader@(Model)"></div>
    <form id="refuseApprovementForm@(Model)" class="form-horizontal">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group">
                    <label class="col-lg-4 control-label">Основание отказа</label>
                    <div class="col-lg-8 control-label">
                        @Html.TextArea("reason" + Model, (string)@ViewBag.Reason, 5, 10, new { @readonly = "", @class = "pwWidth100" })
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

