@using PW.Ncels.Database.Models
@model Guid
<div class="pwPage">
    <div id="@("contentReport" + Model)" class="pwPageReport">
    </div>
</div>
@*<div class="pwPageScrollable">
    <div class="pwPanelBar">
        <div id="@("contentReport" + Model)" class="pwPageReport">
            @ViewBag.Report
        </div>
    </div>
</div>*@

<script>
    var id = '@Model';

    $.ajax({
        url: '/Report/NcelsDetails?id=' + id ,
        //type: "POST",
        success: function (result) {
            // refreshes partial view
            $('#contentReport' + id).html(result);
            var gridElement = $("#contentReport" + id);

            gridElement.height($(window).height() - 100);
        }
    });
</script>