
@using PW.Ncels.Database.Models
@using PW.Ncels.Database.DataModel
@model Guid



<div class="pwPage">
    @(Html.Kendo().Grid<Item>()
          .Name("gridFile" + Model)
      .Columns(columns => {
          columns.Bound(p => p.Name).Title("Наименование").Width(150);
      })
                           .Reorderable(reorderable => reorderable.Columns(true))
                           .Resizable(resizable => resizable.Columns(true))
                           .Sortable(sortable => sortable.AllowUnsort(false))
                           .Groupable()
                           .Scrollable(scrollable => scrollable.Virtual(true))
                                  .Filterable().ClientDetailTemplateId("templateFileGrid")
                           .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                         .HtmlAttributes(new { @class = "pwGridHistory" })
                           .DataSource(dataSource => dataSource
                               .Ajax()
                               .PageSize(50)
                               .Read(read => read.Action("GetAttachList", "Upload", new { id = Model , type="sysAttachMaterialsDict"}))
                           )
    )
</div>
<script id="templateFileGrid" type="text/kendo-template">



            <div style="height:256px" id="DocumentFileTask_#=Id#">

                @(Html.Kendo().ListView<UploadInitialFile>()
                                .Name("listViewFile_#=Id#")
                                .TagName("div").HtmlAttributes(new { @style = "height:250px; border:0;overflow: auto;width: 838px;" })
                                                .ClientTemplateId("fileReadProjectTemplate")
                                .DataSource(dataSource => dataSource.Read(read => read.Action("FileProjectReadonly", "Upload", new { docId=Model,  dicId = "#=Id#" }))).ToClientTemplate()
                )

            </div>

</script>