
@using PW.Ncels.Database.Enums
@using PW.Ncels.Database.Models
@model Guid

@{
    Layout = null;
}
<script>
    function DicParams() {
        return {
            id: '@Model'
        };
    }

    $(document).ready(function() {

    });
</script>
<style>
    .k-content .k-state-active {
        background-color: #E3E3E3 !important;
    }
</style>

<div style="">
    @(Html.Kendo().TabStrip()
    .Name("tabstrip1")
    .Items(tabstrip =>
    {
        tabstrip.Add().Text("Ценообразование").LoadContentFrom("FormPrice", "Application", new { id = Model });
        //tabstrip.Add().Text("Рассчет на оригинальность").Content("<div></div>");
        tabstrip.Add().Text("Проект").LoadContentFrom("FormPriceMarkup", "Application", new { id = Model });
    }
    ).SelectedIndex(0)
    )
</div>


    <script>

    </script>

    <script id="templateProtocols" type="text/kendo-template">

    </script>
