@model PW.Ncels.Database.DataModel.Report

<div style="height: 256px; overflow: auto; width: 838px;">
    <table class="pwDocTable2">
        <colgroup>
            <col width="140px" />
 
        </colgroup>
      
        <tr>
            <td class="pwLabel">@PW.Ncels.Database.Recources.Messages.Property_Краткоесодержание_69__00</td>
            <td>
                @Model.Text
            </td>

        </tr>
   
    </table>
</div>

