
<style type="text/css">
    .file-validation {
        color: red;
    }
</style>

<div class="modal fade" id="rejectFileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" currentId="">
    <div class="modal-dialog" role="document">
        <input type="hidden" id="idRejectFile" value="">
        <input type="hidden" id="itemRejectFile" value="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">На доработку</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="noteRejectFile" class="control-label">Замечание:</label>
                        <textarea class="form-control" id="noteRejectFile" rows="8"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-success" ng-click="rejectFileConfirm()">Применить</button>
            </div>
        </div>
    </div>
</div>

<p class="text-bold" ng-if="loading">Загрузка списка вложений...</p>
<table class="table table-stripped toggle-arrow-tiny pw-table-attach">
    <tbody>
        <tr ng-repeat-start="dic in Items" ng-if="dic.showAttach" class="{{dic.MarkClassName}}">
            <td style="width: 22px;">
                <button ng-if="dic.expanded" ng-click="dic.expanded = false" class="btn btn-link btn-xs btn-white"><i class="fa fa-minus"></i></button>
                <button ng-if="!dic.expanded" ng-click="dic.expanded = true" class="btn btn-link btn-xs btn-white"><i class="fa fa-plus"></i></button>
            </td>
            <td>
                <div class="input-group">
                    {{dic.Name}} (кол-во файлов: {{uploaders[dic.Id].queue.length}})
                    <span class="file-validation" countFile="{{uploaders[dic.Id].queue.length}}" attId="{{dic.Id}}" attCode="{{uploaders[dic.Id].code}}"></span>
                    <span class="input-group-addon" ng-if="dic.ShowComment">
                        <a class="commentDialog" href="#" onclick="showDocComment(this)" name="{{dic.Id}}">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </td>
        </tr>
        <tr ng-if="dic.expanded" ng-repeat-end="">
            <td style="border-top: 0"></td>
            <td style="border-top: 0">
                <div class="form-horizontal ng-pristine ng-valid">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <label class="pw-file-input btn btn-primary" style="width: 225px !important">
                                <input id="_{{dic.Id}}" type="file" accept="application/pdf,application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, image/jpeg" style="display: none;" onchange="$('#upload-file-info' + this.id).val($(this).val());" nv-file-select="" uploader="uploaders[dic.Id]">
                                Выберите файл для загрузки
                            </label>
                        </span>
                        <input id="upload-file-info_{{dic.Id}}" type="text" class="form-control" placeholder="Путь к файлу" readonly="readonly">
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Файл</th>
                            <th ng-if="history" class="text-center" style="width: 80px;">Версия</th>
                            <th class="text-center" style="width: 80px;">Размер</th>
                            <th class="text-center" style="width: 150px;" ng-show="uploaders[dic.Id].isHTML5">Загрузка</th>
                            <th class="text-center" style="width: 80px;">Статус</th>
                            <th class="text-center" style="width: 200px;">Действия</th>
                        </tr>
                    </thead>
                    <tbody class="pw-project-files">
                        <tr ng-repeat="item in uploaders[dic.Id].queue">
                            <td>
                                <a ng-href="/Upload/FileDownload?{{item.Id}}"><i class="fa fa-file"></i> {{ item.file.name }}</a>
                                <div ng-if="item.OwnerName">
                                    <p style="color: cadetblue">
                                        <i class="glyphicon glyphicon-user"></i>
                                        {{item.OwnerName}} ({{item.CreateDate}})
                                    </p>
                                </div>
                            </td>
                            <td ng-if="history"><p class="text-center">{{item.Version}}</p></td>
                            <td class="text-center">{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="uploaders[dic.Id].isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div ng-if="!item.isDesign">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </div>
                                <div ng-if="item.isDesign">
                                    <p class="text-center" id="">{{item.StatusName}}</p>
                                </div>
</td>
                            <td class="text-center" nowrap>
                                <div ng-if="!item.isDesign">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="AttachSign(item)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Загрузить
                                    </button>
                                    <button type="button" ng-if="history" class="btn btn-success btn-xs" ng-click="AttachVersion(item, dic.Id)" ng-disabled="!item.isUploaded || item.OriginFileId">
                                        <span class="glyphicon glyphicon-upload"></span> Новая версия
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="AttachRemove(item)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                                <div ng-if="item.isDesign">
                                  
                                    <button type="button" class="btn btn-success btn-xs" ng-click="acceptFileConfirm(item)" ng-disabled="item.IsSigned || item.StatusCode=='ACCEPTED' ">
                                        <span class="glyphicon glyphicon-ok-sign"></span> Принять
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="rejectDialogShow(item, dic.Id)" ng-disabled="item.IsSigned  || item.StatusCode=='FOR_REVISION' ">
                                        <span class="glyphicon glyphicon-remove-sign"></span> На доработку
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>