

 
<table class="table table-stripped toggle-arrow-tiny">
    <tbody>
        <tr ng-repeat-start="dic in Items">
            <td style="width: 22px;">
                <button ng-if="dic.expanded" ng-click="dic.expanded = false" class="btn btn-link btn-xs btn-white"><i class="fa fa-minus"></i></button>
                <button ng-if="!dic.expanded" ng-click="dic.expanded = true" class="btn btn-link btn-xs btn-white"><i class="fa fa-plus"></i></button>
            </td>
            <td>{{dic.Name}}</td>
        </tr>
        <tr ng-if="dic.expanded" ng-repeat-end="">
            <td style="border-top: 0"></td>
            <td style="border-top: 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Файл</th>
                            <th ng-if="history" class="text-center" style="width: 80px;">Версия</th>
                            <th class="text-center" style="width: 80px;">Размер</th>
                            <th class="text-center" style="width: 80px;">Дата создания</th>
                            <th class="text-center" style="width: 100px;"></th>
                        </tr>
                    </thead>
                    <tbody class="pw-project-files">
                    <tr ng-repeat="item in dic.Items">
                        <td><a ng-href="/Upload/FileDownload?{{item.AttachId}}"><i class="fa fa-file"></i> {{ item.AttachName }}</a></td>
                        <td ng-if="history"><p class="text-center">{{item.Version}}</p></td>
                        <td class="text-center">{{ item.AttachSize/1024/1024|number:2 }} MB</td>
                        <td class="text-center">{{ item.sysCreatedDate.slice(6, -2) | date: 'dd.MM.yyyy HH:mm:ss' }} </td>
                        <td class="text-center">{{item.SingInfo}} </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>