
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXP_DIC_PrimaryOTD](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[NameRu] [nvarchar](2000) NULL,
	[NameKz] [nvarchar](2000) NULL,
	[ParentId] [int] NULL,
	[DateCreate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DateEdit] [datetime] NULL,
 CONSTRAINT [PK_EXP_DIC_PrimaryOTD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


INSERT [dbo].[EXP_DIC_PrimaryOTD] ([Id], [Code], [NameRu], [NameKz], [ParentId], [DateCreate], [IsDeleted], [DateEdit]) VALUES (1, N'МОДУЛЬ 1.', N'АДМИНИСТРАТИВНАЯ ИНФОРМАЦИЯ', N'АДМИНИСТРАТИВНАЯ ИНФОРМАЦИЯ', NULL, CAST(N'2017-01-01T00:00:00.000' AS DateTime), 0, NULL)
INSERT [dbo].[EXP_DIC_PrimaryOTD] ([Id], [Code], [NameRu], [NameKz], [ParentId], [DateCreate], [IsDeleted], [DateEdit]) VALUES (2, N'1.0.', N'Сопроводительное письмо (как в ОТД)', N'Сопроводительное письмо (как в ОТД)', 1, CAST(N'2017-01-01T00:00:00.000' AS DateTime), 0, NULL)
INSERT [dbo].[EXP_DIC_PrimaryOTD] ([Id], [Code], [NameRu], [NameKz], [ParentId], [DateCreate], [IsDeleted], [DateEdit]) VALUES (3, N'1.1.', N'Содержание', N'Содержание', 1, CAST(N'2017-01-01T00:00:00.000' AS DateTime), 0, NULL)
GO
ALTER TABLE [dbo].[EXP_DIC_PrimaryOTD]  WITH CHECK ADD  CONSTRAINT [FK_EXP_DIC_PrimaryOTD_EXP_DIC_PrimaryOTD] FOREIGN KEY([ParentId])
REFERENCES [dbo].[EXP_DIC_PrimaryOTD] ([Id])
GO
ALTER TABLE [dbo].[EXP_DIC_PrimaryOTD] CHECK CONSTRAINT [FK_EXP_DIC_PrimaryOTD_EXP_DIC_PrimaryOTD]
GO
ALTER TABLE [dbo].[EXP_DrugDeclaration]
ADD [OtdIds] nvarchar(4000) NULL
GO

CREATE TABLE [dbo].[EXP_DrugPrimaryRemark](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DrugDeclarationId] [uniqueidentifier] NOT NULL,
	[RemarkTypeId] [int] NULL,
	[OtdId] [int] NULL,
	[NameRemark] [nvarchar](2000) NULL,
	[ExecuterId] [uniqueidentifier] NULL,
	[RemarkDate] [datetime] NULL,
	[AnswerRemark] [nvarchar](2000) NULL,
	[IsFixed] [bit] NOT NULL,
	[IsAccepted] [bit] NOT NULL,
	[FixedDate] [datetime] NULL,
	[Note] [nvarchar](2000) NULL,
 CONSTRAINT [PK_EXP_DrugPrimaryRemark] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[EXP_DrugPrimaryRemark]  WITH CHECK ADD  CONSTRAINT [FK_EXP_DrugPrimaryRemark_Employees] FOREIGN KEY([ExecuterId])
REFERENCES [dbo].[Employees] ([Id])
GO

ALTER TABLE [dbo].[EXP_DrugPrimaryRemark] CHECK CONSTRAINT [FK_EXP_DrugPrimaryRemark_Employees]
GO

GO
ALTER TABLE [dbo].[EXP_DrugPrimaryRemark]  WITH CHECK ADD  CONSTRAINT [FK_EXP_DrugPrimaryRemark_EXP_DrugDeclaration] FOREIGN KEY([DrugDeclarationId])
REFERENCES [dbo].[EXP_DrugDeclaration] ([Id])
GO

ALTER TABLE [dbo].[EXP_DrugPrimaryRemark] CHECK CONSTRAINT [FK_EXP_DrugPrimaryRemark_EXP_DrugDeclaration]
GO

ALTER TABLE [dbo].[EXP_DrugPrimaryRemark]  WITH CHECK ADD  CONSTRAINT [FK_DrugEXP_PrimaryRemark_RemarkType] FOREIGN KEY([RemarkTypeId])
REFERENCES [dbo].[EXP_DIC_RemarkType] ([Id])
GO

ALTER TABLE [dbo].[EXP_DrugPrimaryRemark] CHECK CONSTRAINT [FK_DrugEXP_PrimaryRemark_RemarkType]
GO

update  EXP_DIC_RemarkType
set NameRu =N'Отсутствует документ', NameKz=N'Отсутствует документ'
where id=1;
update  EXP_DIC_RemarkType
set NameRu =N'Замечание ПЭ', NameKz=N'Замечание ПЭ'
where id=2;
update  EXP_DIC_RemarkType
set NameRu =N'Общая переписка', NameKz=N'Общая переписка'
where id=3;
GO
CREATE TABLE [dbo].[EXP_DrugPrimaryFinalDocument](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[IsRKProduct] [bit] NULL,
	[IsDossierSection] [bit] NULL,
	[IsSetDocument] [bit] NULL,
	[IsColorModel] [bit] NULL,
	[IsForbiddenDyes] [bit] NULL,
	[IsFromBlood] [bit] NULL,
	[IsNarcoticDrug] [bit] NULL,
	[IsPhoneticSimilar] [bit] NULL,
	[IsAbilityMislead] [bit] NULL,
	[IsAdvertising] [bit] NULL,
	[IsMNNSimilar] [bit] NULL,
	[ExpertiseNormDoc] [nvarchar](2000) NULL,
	[SampleDrug] [nvarchar](2000) NULL,
	[ComplianceSeries] [nvarchar](2000) NULL,
	[ResidualShelfLife] [nvarchar](2000) NULL,
	[SampleSubstance] [nvarchar](2000) NULL,
	[SampleStandart] [nvarchar](2000) NULL,
	[TestLabRecommend] [nvarchar](2000) NULL,
	[MedicalInstruction] [nvarchar](2000) NULL,
	[ExpertOpinion] [nvarchar](2000) NULL,
	[DrugDosageId] [bigint] NOT NULL,
 CONSTRAINT [PK_EXP_DrugPrimaryFinalDocument] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[EXP_DrugPrimaryFinalDocument]  WITH CHECK ADD  CONSTRAINT [FK_EXP_DrugPrimaryFinalDocument_DrugDosage] FOREIGN KEY([DrugDosageId])
REFERENCES [dbo].[EXP_DrugDosage] ([Id])
GO

ALTER TABLE [dbo].[EXP_DrugPrimaryFinalDocument] CHECK CONSTRAINT [FK_EXP_DrugPrimaryFinalDocument_DrugDosage]
GO




