CREATE TABLE [dbo].[EXP_DIC_AnalyseIndicator](
	[Id] [int] NOT NULL,
	[Code] [nvarchar](50) NULL,
	[NameRu] [nvarchar](2000) NULL,
	[NameKz] [nvarchar](2000) NULL,
	[DateCreate] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DateEdit] [datetime] NULL,
 CONSTRAINT [PK_EXP_DIC_AnalyseIndicator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[EXP_DIC_AnalyseIndicator] ([Id], [Code], [NameRu], [NameKz], [DateCreate], [IsDeleted], [DateEdit]) VALUES (1, N'1', N'Вода (К.Фишер)', N'Вода (К.Фишер)', CAST(N'2017-01-01T00:00:00.000' AS DateTime), 0, NULL)
INSERT [dbo].[EXP_DIC_AnalyseIndicator] ([Id], [Code], [NameRu], [NameKz], [DateCreate], [IsDeleted], [DateEdit]) VALUES (2, N'2', N'Зола', N'Зола', CAST(N'2017-01-01T00:00:00.000' AS DateTime), 0, NULL)
INSERT [dbo].[EXP_DIC_AnalyseIndicator] ([Id], [Code], [NameRu], [NameKz], [DateCreate], [IsDeleted], [DateEdit]) VALUES (3, N'3', N'Высота', N'Высота', CAST(N'2017-01-01T00:00:00.000' AS DateTime), 0, NULL)
GO
CREATE TABLE [dbo].[EXP_DrugAnaliseIndicator](
	[Id] [uniqueidentifier] NOT NULL,
	[DosageStageId] [uniqueidentifier] NOT NULL,
	[AnalyseIndicator] [int] NULL,
	[Temperature] [float] NULL,
	[Humidity] [float] NULL,
	[Designation] [nvarchar](500) NULL,
	[Demand] [nvarchar](2000) NULL,
	[ActualResult] [nvarchar](2000) NULL,
	[IsMatches] [bit] NULL,
	[InProtocol] [bit] NOT NULL,
	[PositionNumber] [int] NOT NULL,
 CONSTRAINT [PK_EXP_DrugAnaliseIndicator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[EXP_DrugAnaliseIndicator] ADD  CONSTRAINT [DF_EXP_DrugAnaliseIndicator_Id]  DEFAULT (newid()) FOR [Id]
GO

ALTER TABLE [dbo].[EXP_DrugAnaliseIndicator]  WITH CHECK ADD  CONSTRAINT [FK_EXP_DrugAnaliseIndicator_EXP_DIC_AnalyseIndicator] FOREIGN KEY([AnalyseIndicator])
REFERENCES [dbo].[EXP_DIC_AnalyseIndicator] ([Id])
GO

ALTER TABLE [dbo].[EXP_DrugAnaliseIndicator] CHECK CONSTRAINT [FK_EXP_DrugAnaliseIndicator_EXP_DIC_AnalyseIndicator]
GO

ALTER TABLE [dbo].[EXP_DrugAnaliseIndicator]  WITH CHECK ADD  CONSTRAINT [FK_EXP_DrugAnaliseIndicator_EXP_ExpertiseStageDosage] FOREIGN KEY([DosageStageId])
REFERENCES [dbo].[EXP_ExpertiseStageDosage] ([Id])
GO

ALTER TABLE [dbo].[EXP_DrugAnaliseIndicator] CHECK CONSTRAINT [FK_EXP_DrugAnaliseIndicator_EXP_ExpertiseStageDosage]
GO


