.m-b {
    margin-bottom: 15px;
}

.panel-body {
    background: #fff;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    padding: 20px;
    position: relative;
}

input.ng-invalid, .ui-select-container.ng-invalid > div > span {
  border: 1px solid red;
}
