<div id="tab-4" class="tab-pane">
  <div class="panel-body">
    <div class="row ng-scope">
    <div class="col-lg-6 b-r">
      <div class="form-group">
        <label>Тип заявки</label>
        <select class="form-control" >
        </select>
      </div>
      <div class="form-group">
        <label>Тип изменения</label>
        <select class="form-control" >
        </select>
      </div>
      <div class="form-group">
        <label>Тип услуги</label>
        <select class="form-control" >
        </select>
      </div>
      <div class="form-group">
        <label>Дополнительные услуги</label>
        <select class="form-control" >
        </select>
      </div>
    </div>
    <div class="col-lg-6 b-l">
      <div class="form-group">
        <label>Наименование ИМН/МТ на русском языке *</label>
        <div>
          <input id="NameIMNRu" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" required="">
        </div>
      </div>
      <div class="form-group">
        <label>Наименование ИМН/МТ на государственном языке *</label>
        <div>
          <input id="NameIMNKz" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" required="">
        </div>
      </div>
      <div class="form-group">
        <label>Количетсво</label>
        <div>
          <input id="Count" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-required" type="text" required="" disabled="disabled">
        </div>
      </div>
      <div class="form-group">
        <div class="radio-inline">
          <label><input type="radio" name="isimport" class="ng-pristine ng-untouched ng-valid ng-not-empty" value="false" disabled="disabled">Стоимость отечественного производителя</label>
        </div>
      </div>
      <div class="form-group">
        <div class="radio-inline">
          <label><input type="radio" name="isimport"  class="ng-pristine ng-untouched ng-valid ng-not-empty" value="true" disabled="disabled">Стоимость зарубежного производителя</label>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <button type="button" class="btn btn-sm btn-success" disabled="disabled">Узнать цену</button>
            <button type="button" class="btn btn-sm btn-success" >Очистить</button>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
