<form novalidate #templateForm="ngForm" (change)="model=model">
<div id="tab-4" class="tab-pane">
  <div class="panel-body">
    <div class="row ng-scope">
    <div class="col-lg-6 b-r">
      <div class="form-group">
        <label>Тип заявки</label>
        <select class="form-control" name="applicationType"
                #applicationType = "ngModel"
                [ngClass]="{'has-error':showErrors === true && applicationType.invalid}"
                [(ngModel)]="model.applicationType"
                [disabled]="isContractViewCost"
                required

                (change)="changeApplTypeLevel($event.target.value)">
          <option></option>
          <option *ngFor="let item of calculatorApplicationTypeVar" [value]="item.id">{{item.nameRu}}</option>
        </select>
      </div>
      <!--<div class="form-group">-->
        <!--<label>Тип изменения</label>-->
        <!--<select class="form-control" >-->
        <!--</select>-->
      <!--</div>-->
      <div class="form-group">
        <label>Тип услуги</label>
        <select class="form-control" name="serviceType"
                #serviceType = "ngModel"
                [ngClass]="{'has-error':showErrors === true && serviceType.invalid}"
                [(ngModel)]="model.serviceType"
                [disabled]="isContractViewCost"
                required
                (change)="changeServiceLevel($event)">
          <option></option>
          <option *ngFor="let item of calculatorServiceVar" [value]="item.id" >{{item.nameRu}}</option>
        </select>
      </div>
      <!--//[ngModel]="Level" (ngModelChange)="changeLevel($event)"> <option *ngFor="let item of items">
            {{item.nameRu}}-->
    </div>
    <div class="col-lg-6 b-l">
      <div class="form-group">
        <label>Наименование ИМН/МТ на русском языке *</label>
        <div>
          <input name="MedicalDeviceNameRu" placeholder="Введите значение" class="form-control" type="text"
                 #NameIMNRu = "ngModel"
                 [ngClass]="{'has-error':showErrors === true && NameIMNRu.invalid}"
                 [(ngModel)]="model.NameIMNRu"
                 (change)="onChangedModel($event.target)"
                 [disabled]="isContractViewCost"
                 required>
        </div>
      </div>
      <div class="form-group">
        <label>Наименование ИМН/МТ на государственном языке *</label>
        <div>
          <input name="MedicalDeviceNameKz" placeholder="Введите значение" class="form-control" type="text"
                 #NameIMNKz = "ngModel"
                 [ngClass]="{'has-error':showErrors === true && NameIMNKz.invalid}"
                 [(ngModel)]="model.NameIMNKz"
                 (change)="onChangedModel($event.target)"
                 [disabled]="isContractViewCost"
                 required>
        </div>
      </div>
      <div class="form-group">
        <label>Дополнительные услуги</label>
        <select class="form-control"  name="costAddService" (change)="onAddService($event.target)"
                [disabled]="isContractViewCost">
          <option [value]="99"></option>
          <option [value]="99">--Нет дополнительных услуг--</option>
          <option *ngFor="let item of calculatorModifdata" [value]="item.id" >{{item.nameRu}}</option>

        </select>
      </div>
      <div>
        <div class="form-group">
          <label>Количетсво</label>
          <div>
            <input name="Count" placeholder="Введите значение" [(ngModel)]="model.serciveCount" class="form-control" type="number" value="1" (change)="changeServiceCount($event)"
            [disabled]="disabledCount">
          </div>
        </div>
      </div>
      <div class="form-group" >
        <div class="custom-control custom-radio radio-inline" >
          <input type="radio" class="custom-control-input radio-primary " name="costManufactur" id="costForeign"  [(ngModel)]="model.isImport" value="1"
                  (change)="changeAddImport($event)"
                 [disabled]="isContractViewCost">
          <label class="custom-control-label" for="costForeign">Стоимость зарубежного производителя</label>
        </div>
        <div class="custom-control custom-radio radio-inline ">
          <input type="radio" class="custom-control-input  radio-primary" name="costManufactur" id="costNational" [(ngModel)]="model.isImport" value="0"
                 (change)="changeAddImport($event)"
                 [disabled]="isContractViewCost">
          <label class="custom-control-label" for="costNational">Стоимость отечественного производителя</label>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <button type="button" class="btn btn-sm btn-primary"  (click)="viewCost()"
            [disabled]="disabledViewCost">Узнать цену</button>
            <button type="button" class="btn btn-sm btn-primary" [disabled]="!disabledViewCost" (click)="clearCost()">Очистить</button>
          </div>
        </div>
      </div>
      <div [hidden]="!isViewCost">
        <ng2-smart-table class="table table-bordered"
                         [settings]="costsSettings"
                         [source]="data"></ng2-smart-table>
      </div>
    </div>
    </div>
  </div>
</div>
</form>
