<form novalidate #CostForm="ngForm" (change)="model=model">
<div id="tab-4" class="tab-pane">
  <div class="panel-body">
    <div class="row ng-scope">
    <div class="col-lg-6 b-r">
      <div class="form-group">
        <label>Тип заявки</label>
        <select class="form-control" name="applicationType"
                #applicationType = "ngModel"
                [ngClass]="{'has-error':showErrors === true && applicationType.invalid}"
                [(ngModel)]="model.applicationType"
                required>
        </select>
      </div>
      <!--<div class="form-group">-->
        <!--<label>Тип изменения</label>-->
        <!--<select class="form-control" >-->
        <!--</select>-->
      <!--</div>-->
      <div class="form-group">
        <label>Тип услуги</label>
        <select class="form-control" name="serviceType"
                #serviceType = "ngModel"
                [ngClass]="{'has-error':showErrors === true && serviceType.invalid}"
                [(ngModel)]="model.serviceType"
                required>
        </select>
      </div>

    </div>
    <div class="col-lg-6 b-l">
      <div class="form-group">
        <label>Наименование ИМН/МТ на русском языке *</label>
        <div>
          <input name="NameIMNRu" placeholder="Введите значение" class="form-control" type="text"
                 #NameIMNRu = "ngModel"
                 [ngClass]="{'has-error':showErrors === true && NameIMNRu.invalid}"
                 [(ngModel)]="model.NameIMNRu"
                 required>
        </div>
      </div>
      <div class="form-group">
        <label>Наименование ИМН/МТ на государственном языке *</label>
        <div>
          <input name="NameIMNKz" placeholder="Введите значение" class="form-control" type="text"
                 #NameIMNKz = "ngModel"
                 [ngClass]="{'has-error':showErrors === true && NameIMNKz.invalid}"
                 [(ngModel)]="model.NameIMNKz"
                 required>
        </div>
      </div>
      <div class="form-group">
        <label>Дополнительные услуги</label>
        <select class="form-control"  name="costAddService">
          <option code=""></option>
        </select>
      </div>
      <div class="form-group">
        <label>Количетсво</label>
        <div>
          <input id="Count" placeholder="Введите значение" class="form-control" type="text" >
        </div>
      </div>
      <div class="form-group" >
        <div class="custom-control custom-radio radio-inline" >
          <input type="radio" class="custom-control-input radio-primary " name="costManufactur" id="costForeign"  [(ngModel)]="isManuf" value="frg" >
          <label class="custom-control-label" for="costForeign">Стоимость зарубежного производителя</label>
        </div>
        <div class="custom-control custom-radio radio-inline ">
          <input type="radio" class="custom-control-input  radio-primary" name="costManufactur" id="costNational" [(ngModel)]="isManuf" value="nat">
          <label class="custom-control-label" for="costNational">Стоимость отечественного производителя</label>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group">
            <button type="button" class="btn btn-sm btn-primary" (click)="viewCost()">Узнать цену</button>
            <button type="button" class="btn btn-sm btn-primary" >Очистить</button>
          </div>
        </div>
      </div>
      <div [hidden]="!isViewCost">
        <ng2-smart-table class="table table-bordered"
                         [settings]="costsSettings"
                         [source]="data"></ng2-smart-table>
      </div>
    </div>
    </div>
  </div>
</div>
</form>
