.contract-main {
  margin: 40px;
  background-color: #ffffff;
  padding: 10px;
}

.input-drop-down {
  border-radius: 0;
}

.nav-link {
  color: #A7B1C2;
  font-weight: 600;
}

.nav-item > a {
  color: #A7B1C2;
  text-decoration: none;
}

.nav-item > a:hover {
  color: #555555;
}

.nav-item .active{
  color: #555555;
  font-weight: 600;
}



.height-mid {
  line-height: 14px;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}

.custom-select:focus {
  box-shadow: none;
  border-color: #1a7bb9 !important;
}

/*.nav-tabs > li > a, .nav-tabs > li > div {*/
/*color: #A7B1C2;*/
/*font-weight: 600;*/
/*padding: 10px 20px 10px 25px;*/
/*}*/

/*.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus, .tabs-container .nav-tabs > li.active > div, .tabs-container .nav-tabs > li.active > div:hover, .tabs-container .nav-tabs > li.active > div:focus {*/
/*border: 1px solid #e7eaec;*/
/*border-bottom-color: transparent;*/
/*cursor: pointer;*/
/*}*/

/*.nav > li > a:focus, .nav > li > a:hover {*/
/*background-color: #05548f;*/
/*text-decoration: none;*/
/*}*/

/*.tabs-container .nav-tabs > li a:hover, .tabs-container .nav-tabs > li div:hover {*/
/*background: transparent;*/
/*border-color: transparent;*/
/*cursor: pointer;*/
/*}*/

/*.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .nav-tabs > li > div:hover, .nav-tabs > li > div:focus {*/
/*background-color: #e6e6e6;*/
/*color: #676a6c;*/
/*}*/

/*.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus, .tabs-container .nav-tabs > li.active > div, .tabs-container .nav-tabs > li.active > div:hover, .tabs-container .nav-tabs > li.active > div:focus {*/
/*border: 1px solid #e7eaec;*/
/*border-bottom-color: transparent;*/
/*background-color: #fff;*/
/*}*/

/*element.style {*/
/*}*/
/*.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus, .tabs-container .nav-tabs > li.active > div, .tabs-container .nav-tabs > li.active > div:hover, .tabs-container .nav-tabs > li.active > div:focus {*/
/*border: 1px solid #e7eaec;*/
/*border-bottom-color: transparent;*/
/*cursor: pointer;*/
/*}*/
/*.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus, .tabs-container .nav-tabs > li.active > div, .tabs-container .nav-tabs > li.active > div:hover, .tabs-container .nav-tabs > li.active > div:focus {*/
/*border: 1px solid #e7eaec;*/
/*border-bottom-color: transparent;*/
/*background-color: #fff;*/
/*}*/
