<form novalidate #contractForm="ngForm">
<div class="contract-main">
  <div class="breadcrumbs">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="font-weight-300">Создать договор</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <a routerLink="/ext">Домашняя страница</a>
        <span>/</span>
        <a routerLink="/ext/contracts">Договора</a>
        <span>/</span>
        <span class="fw-600">Создать договор</span>
      </div>
    </div>
  </div>
  <div class="dec-out">
    <div class="dec-in">
      <div class="controls">
        <div class="btn-group" role="group" >
          <button type="button" routerLink="/ext/contracts" class="btn btn-info btn-sm"><i class="fa fa-arrow-left"></i>Вернуться в список</button>
          <!--<button type="button" class="btn btn-default btn-sm"><i class="fa fa-map-o"></i>Скрыть примечание</button>-->
          <!--<button type="button" class="btn btn-success btn-sm btn"><i class="fa fa-check"></i>Проверить </button>-->
          <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-eye"></i>Просмотр </button>
        </div>
        <app-ext-certificate (showErrEvent)="sendToNcels()"></app-ext-certificate>
      </div>
      <h3>Договор</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <p class="height-mid">Договор состовляется с*</p>
            </div>
            <div class="col-md-6">
              <select class="custom-select input-drop-down" name="HolderType" (click)="onChangedModel($event.target)">
                <option></option>
                <option *ngFor="let item of holderTypeItems" [value]="item.value" >
                  {{item.nameRu}}
                </option>
              </select>
            </div>
          </div>

        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <p class="height-mid">Тип договора</p>
            </div>
            <div class="col-md-6">
              <select class="form-control input-drop-down" name="ContractForm"  [ngModel]="selectedLevel" (ngModelChange)="changeLevel($event)">
                <option></option>
                <option *ngFor="let item of items" [value]="item.key" >
                  {{item.nameRu}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <br>
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist" value="fl" >
          <a class="nav-item nav-link active" data-toggle="tab" role="tab"
             aria-controls="nav-home" aria-selected="true" [ngClass]="{'text-danger': showAllErr && manufacturForm.invalid }" (click)="setDeclarationTab('manufacturer')" >Производитель</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-profile" aria-selected="false" [ngClass]="{'text-danger': showAllErr && declarantForm.invalid }" (click)="setDeclarationTab('declarant')" >Заявитель</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-contact" aria-selected="false" [ngClass]="{'text-danger': showAllErr && payerForm.invalid }" (click)="setDeclarationTab('payer')" >Плательщик</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-contact" aria-selected="false" [ngClass]="{'text-danger': showAllErr && costForm.invalid }" (click)="setDeclarationTab('cost')" >Стоимость работ</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-contact" aria-selected="false" (click)="setDeclarationTab('attachment')" >Вложения</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-contact" aria-selected="false" [hidden]="ramoch==='Multi'" (click)="setDeclarationTab('payment')" >Заявка на платеж</a>
        </div>
      </nav>
      <div class="pd-20">
        <div [hidden]="type !== 'manufacturer'"><app-ext-manufacturer  [prnRegisterType]="selectedLevel"
                                                                       [idContractChild]="idContract"
                                                                       [viewAction]="viewtype"
                                                                       [showErrors]="showAllErr"
                                                                       name="manufacturForms"
                                                                       [(ngModel)]="contract.manufactur"

                                                                       required #manufacturForm="ngModel"></app-ext-manufacturer></div>
        <div [hidden]="type !== 'declarant'"><app-ext-declarant  [showErrors]="showAllErr"
                                                                 name="declarantForms"
                                                                 [(ngModel)]="contract.declarant"
                                                                 [idContractChild]="idContract"
                                                                 (onChangedManufYes)="onChildChanged($event)"
                                                                 required #declarantForm="ngModel"></app-ext-declarant></div>
        <div [hidden]="type !== 'payer'"><app-ext-payer [showErrors]="showAllErr"
                                                        name="payerForms"
                                                        [(ngModel)]="contract.payer"
                                                        [idContractChild]="idContract"
                                                        (onChangedManufYes)="onChildManufacturChanged($event)"
                                                        (onChangedDeclarantYes)="onChildDeclarantChanged($event)"
                                                        required #payerForm="ngModel"></app-ext-payer></div>
        <div [hidden]="type !== 'cost'"><app-ext-cost [prnRegisterType]="selectedLevel"
                                                      [showErrors]="showAllErr"
                                                      [idContractChild]="idContract"
                                                      name="costForms"
                                                      [(ngModel)]="contract.cost"
                                                      required #costForm="ngModel"></app-ext-cost></div>
        <div [hidden]="type !== 'attachment'"><app-ext-attachment></app-ext-attachment></div>
        <div [hidden]="type !== 'payment'"><app-ext-payment-tab></app-ext-payment-tab></div>
      </div>
    </div>
  </div>

</div>
</form>
