<div class="contract-main">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <p class="height-mid">Договор состовляется с*</p>
        </div>
        <div class="col-md-6">
          <select class="custom-select input-drop-down" >

          </select>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <p class="height-mid">Договор состовляется с*</p>
        </div>
        <div class="col-md-6">
          <select class="custom-select input-drop-down" >

          </select>
        </div>
      </div>
    </div>
  </div>
<br>
<ul class="nav nav-tabs contract-nav-text">
  <li class="nav-item">
    <a class="nav-link active" >Производитель</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" >Заявитель</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" >Плательщик</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" >Стоимость работ</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" >Вложения</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" >Заявка на платеж</a>
  </li>
</ul>

</div>
