<div class="contract-main">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <p class="height-mid">Договор состовляется с*</p>
        </div>
        <div class="col-md-6">
          <select class="custom-select input-drop-down" >

          </select>
        </div>
      </div>

    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <p class="height-mid">Договор состовляется с*</p>
        </div>
        <div class="col-md-6">
          <select class="custom-select input-drop-down" >

          </select>
        </div>
      </div>
    </div>
  </div>
<br>
<!--<ul class="nav nav-tabs contract-nav-text">-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link active" >Производитель</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" >Заявитель</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" >Плательщик</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" >Стоимость работ</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" >Вложения</a>-->
  <!--</li>-->
<!--</ul>-->

  <div class="dec-out">
    <div class="dec-in">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist" value="fl" >
          <a class="nav-item nav-link active" data-toggle="tab" role="tab"
             aria-controls="nav-home" aria-selected="true" (click)="setDeclarationTab('manufacturer')" >Производитель</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-profile" aria-selected="false" (click)="setDeclarationTab('declarant')" >Заявитель</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-contact" aria-selected="false" (click)="setDeclarationTab('payer')" >Плательщик</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-contact" aria-selected="false" (click)="setDeclarationTab('cost')" >Стоимость работ</a>
          <a class="nav-item nav-link" data-toggle="tab" role="tab"
             aria-controls="nav-contact" aria-selected="false" (click)="setDeclarationTab('attachment')" >Вложения</a>
        </div>
      </nav>
      <div [hidden]="type !== 'manufacturer'"><app-ext-manufacturer></app-ext-manufacturer></div>
      <div [hidden]="type !== 'declarant'"><app-ext-declarant></app-ext-declarant></div>
      <div [hidden]="type !== 'payer'"><app-ext-payer></app-ext-payer></div>
      <div [hidden]="type !== 'cost'"><app-ext-cost></app-ext-cost></div>
      <div [hidden]="type !== 'attachment'"><app-ext-attachment></app-ext-attachment></div>
    </div>
  </div>

</div>
