.contract-main {
  margin: 40px;
  background-color: #ffffff;
  padding: 10px;
}

.input-drop-down {
  border-radius: 0;
}

.nav-link {
  color: #A7B1C2;
  font-weight: 600;
}

.nav-item > a {
  color: #A7B1C2;
  text-decoration: none;
}

.nav-item > a:hover {
  color: #555555;
}

.nav-item .active{
  color: #555555;
  font-weight: 600;
}



.height-mid {
  line-height: 14px;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}

.custom-select:focus {
  box-shadow: none;
  border-color: #1a7bb9 !important;
}

.dec-out{
  padding:40px;
}

.dec-in{
  padding:20px;
  background-color: white;
}
.breadcrumbs{
  padding: 20px;
  background-color: white;
}

.controls{
  padding: 10px;
  background-color: #f5f5f5;
  margin-left: -20px;
  margin-right: -20px;
  border: 1px solid #e7eaec;
}

span.fw-600 {
  font-weight: 600;
}
