<p>
    Необходимо принять соглашение:
</p>

<p>
    Гарантирую: достоверность и идентичность информации, содержащейся в регистрационном досье и заявлении,
    представление  образцов изделий медицинского назначения, стандартных образцов в количествах, достаточных для
    трехкратного анализа, специфические реагенты, расходные материалы, применяемые при проведении испытаний (в
    исключительных случаях и на условиях возврата), а также их соответствие нормативным документам, представляемым на
    регистрацию.
    Обязуюсь сообщать обо всех изменениях в регистрационное досье, а также представлять заявление и материалы при
    обнаружении побочных воздействий при применении изделия медицинского назначения, медицинской техники, ранее не
    указанных в инструкции по медицинскому применению изделий медицинского назначения/ руководстве по эксплуатации
    медицинской техники.
</p>


<div class="row">
    <div class="col-md-12">
        <div class="form-check">
            <div class="input-group">
                <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked>
                <label class="form-check-label">
                    Подтверждаю
                </label>
                <span class="input-group-btn">
        <button class="fa fa-info-circle" type="button"></button>
      </span>
            </div>
        </div>
    </div>
</div>