@{
    ViewBag.Title = "Успешное изменения пароля!";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Изменить пароль</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li class="active">
                <strong>Изменить пароль</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div>
        <div>
        </div>
        <h3>@ViewBag.Title</h3>
        <p class="text-navy">
        </p>
    </div>
</div>


