@using System.Collections.Concurrent
@using PW.Ncels.Database.Constants
@{
    ViewBag.Title = "Home Page";
}

@(Html.Kendo().TabStrip().HtmlAttributes(new { @class = "pwTab" })
          .Name("tabstrip")
          .Animation(false)
          .Events(events => events.Select("onSelect").Activate("onActivate"))
          .Items(tabstrip =>
          {
              tabstrip.Add().ImageUrl("~/Content/images/home.png").HtmlAttributes(new { id = "main" }).Selected(true)
                  .LoadContentFrom("Dashboard", "Home").Visible(true);
          })
)
<div id="windowFile"></div>

<script>

    function onSelectOBK(e) {

        if ($(e.item).children(".k-link").attr('ItemId')) {

            var tabStrip = $("#tabstrip").data("kendoTabStrip");
            var header = $(e.item).children(".k-link").text();
            var parametr = $(e.item).children(".k-link").attr('ItemId');

            $.ajax({
                url: "/" + parametr + "/Index",
                //type: "POST", параметр для определения справочника
                success: function (result) {
                    // refreshes partial view
                    $('#OBK_Reference_bar').html(result);
                }
            });
        }
    }

    function onSelectMenu(e) {
        if ($(e.item).children(".k-link").attr('ItemId')) {

            var tabStrip = $("#tabstrip").data("kendoTabStrip");
            var header = $(e.item).children(".k-link").text();
            var parametr = $(e.item).children(".k-link").attr('ItemId');
            var url = '';

            if (parametr == 'InListDoc') {
                url = "/IncomingDoc/Index";
            }
            if (parametr == 'InListDocRegions') {
                url = "/IncomingDoc/IndexRegion";
            }
            if (parametr == 'CitizenListDoc') {
                url = "/CitizenDoc/Index";
            }
            if (parametr == 'OutgoingListDoc') {
                url = "/OutgoingDoc/Index";
            }
            if (parametr == 'OutgoingCoz') {
                url = "/OutgoingDoc/Index2";
            }
            if (parametr == 'MaterialDirectionCoz') {
                url = "/MaterialDirection/Index";
            }

            if (parametr == 'InnerDepartmentListDoc') {
                url = "/CorrespondenceDoc/Department";
            }
            if (parametr == 'EditRegNomer') {
                url = "/Reference/EditRegNomer";
            }
            if (parametr == 'Registery1') {
                url = "/Registeries/Index1";
            }
            if (parametr == 'Registery8') {
                url = "/Registeries/Index8";
            }
            if (parametr == 'Registery2') {
                url = "/Registeries/Index2";
            }
            if (parametr == 'Registery3') {
                url = "/Registeries/Index3";
            }
            if (parametr == 'Registery4') {
                url = "/Registeries/Index4";
            }
            if (parametr == 'Registery5') {
                url = "/Registeries/Index5";
            }
            if (parametr == 'Registery6') {
                url = "/Registeries/Index6";
            }

            if (parametr == 'Registery7') {
                url = "/Registeries/Index7";
            }

            if (parametr == 'RefAnalyseIndicator') {
                url = "/Reference/RefAnalyseIndicator";
            }
            if (parametr == 'RefChangeType') {
                url = "/Reference/RefChangeType";
            }
            if (parametr == 'RefNormDocFarm') {
                url = "/Reference/RefNormDocFarm";
            }
            if (parametr == 'RefPrimaryOTD') {
                url = "/Reference/RefPrimaryOTD";
            }

            if (parametr == 'TmcList') {
                url = "/Tmc/TmcList";
            }
            if (parametr == 'WriteOffTmcList') {
                url = "/Tmc/WriteOffTmcList";
            }

            if (parametr == 'TmcRequest') {
                url = "/Tmc/RequestList";
            }

            if (parametr == 'TmcRequestIn') {
                url = "/Tmc/RequestListIn";
            }

            if (parametr == 'TmcRequestAgreement') {
                url = "/Tmc/RequestAgreementList";
            }

            if (parametr == 'TmcSpent') {
                url = "/Tmc/SpentList";
            }

            if (parametr == 'TmcDelivery') {
                url = "/Tmc/DeliveryList";
            }

            if (parametr == 'TmcReportList') {
                url = "/Tmc/TmcReportList";
            }

            if (parametr == 'MyTmcRequest') {
                url = "/MyTmc/RequestList";
            }


            if (parametr == 'MyTmcStorage') {
                url = "/MyTmc/StorageList";
            }


            if (parametr == 'MyTmc') {
                url = "/MyTmc/MyTmcList";
            }

            if (parametr == 'InstallationList') {
                url = "/Installation/Index";
            }

            if (parametr == 'SrProducerList') {
                url = "/StateRegedit/ProducerList";
            }

            if (parametr == 'SrReestrList') {
                url = "/StateRegedit/ReestrList";
            }

            if (parametr == 'Stage1') {
                url = "/DrugPrimary/Index";
            }
            if (parametr == 'Stage2') {
                url = "/Pharmaceutical/Index";
            }
            if (parametr == 'Stage3') {
                url = "/Pharmacological/Index";
            }
            if (parametr == 'Stage4') {
                url = "/DrugAnalitic/Index";
            }

            if (parametr == 'Stage5') {
                url = "/Translate/Index";
            }
            if (parametr == 'Stage6') {
                url = "/Safetyreport/Index";
            }
            if (parametr == 'Stage7') {
                url = "/Task/IndexStage7";
            }
            if (parametr == 'Stage8') {
                url = "/DirectionToPay/Index";
            }
            if (parametr == 'Stage11') {
                url = "/Task/IndexAgreement";
            }
            if (parametr == 'Stage12') {
                url = "/Task/IndexNotify";
            }


            if (parametr == 'ExpertiseReportList') {
                url = "/Task/ReportList";
            }

            if (parametr == 'Stage10') {
                url = "/ProjectDoc/Index";
            }
            if (parametr == 'Stage9') {
                url = "/RegistrationSteps/EditRegNomer";
            }
            //if (parametr == 'InitiativeListDoc') {
            //    url = "/OutgoingDoc/IndexInit?type=Initiative";
            //}
            //if (parametr == 'RespondingListDoc') {
            //    url = "/OutgoingDoc/Index?type=Responding";
            //}
            if (parametr == 'AdminListDoc') {
                url = "/AdministrativeDoc/Index";
            }
            if (parametr == 'AdminMainListDoc') {
                url = "/AdministrativeMainDoc/Index";
            }
            if (parametr == 'ProtocolListDoc') {
                url = "/ProtocolDoc/Index";
            }
            if (parametr == 'InnerListDoc') {
                url = "/CorrespondenceDoc/Index";
            }
            if (parametr == 'NewTaskListDoc') {
                url = "/Task/Index?type=NewTaskListDoc";
            }
            if (parametr == 'TaskListDoc') {
                url = "/Task/Index?type=TaskListDoc";
            }
            if (parametr == 'ExcludeTaskListDoc') {
                url = "/Task/Index?type=ExcludeTaskListDoc";
            }
            if (parametr == 'RejectTaskListDoc') {
                url = "/Task/Index?type=RejectTaskListDoc";
            }

            if (parametr == 'ListDic') {
                url = "/Reference/Index";
            }

            if (parametr == 'MyReportDoc') {
                url = "/Report/IndexDepartment";
            }
            if (parametr == 'TmcReport') {
                url = "/Report/IndexDepartmentTMC";
            }

            if (parametr == 'UnitList') {
                url = "/Employe/Index";
            }

            if (parametr == 'PermissionRoleList') {
                url = "/Employe/PermissionRoleList";
            }

            if (parametr == 'ActionLogsList') {
                url = "/Employe/ActionLogsList";
            }

            if (parametr == 'VisitType') {
                url = "/Visit/VisitTypeList";
            }

            if (parametr == 'VisitWokringTime') {
                url = "/Visit/VisitWokringTime";
            }


            if (parametr == 'CommissionList') {
                url = "/Commission/CommissionList";
            }


            if (parametr == 'NomenklatureListDic') {
                url = "/Reference/Nomenclature";
            }
            if (parametr == 'CorRefListDic') {
                url = "/Reference/Correspondent";
            }

            if (parametr == 'Contacts') {
                url = "/Reference/ContactAsync";
            }

            if (parametr == 'ReportListDic') {
                url = "/Report/Index";
            }

            if (parametr == 'MyProjectListDoc') {
                url = "/ProjectDoc/Index";
            }
            if (parametr == 'MyInnerListDoc') {
                url = "/CorrespondenceDoc/CurrentList";
            }
            if (parametr == 'ReportOrg') {
                url = "/Report/IndexReport?type=ReportsOrg";
            }
            if (parametr == 'DismissedList') {
                url = "/Employe/DismissedList";
            }
            if (parametr == 'DismissedDepList') {
                url = "/Employe/DismissedListDep";
            }
            if (parametr == 'InListDocContract') {
                url = '/ContractDoc/Index';
            }

            if (parametr == 'archivView') {
                url = '/Reference/ArchivView';
            }
            if (parametr == 'Profile') {
                ProfileView();
            }

            if (parametr == 'PriceRpc') {
                url = "/PriceProcessing/Index";
            }
            if (parametr == 'PriceLs') {
                url = "/Project/PriceLs";
            }
            if (parametr == 'PriceImn') {
                url = "/Project/PriceImn";
            }
            if (parametr == 'RePriceLs') {
                url = "/Project/RePriceLs";
            }
            if (parametr == 'RePriceImn') {
                url = "/Project/RePriceImn";
            }
            if (parametr == 'RefArchive') {
                url = "/Project/RefArchive";
            }
            if (parametr == 'PriceProjectHistory') {
                url = "/Project/PriceProjectHistory";
            }
            if (parametr == 'PriceProjectProtocols') {
                url = "/Protocol/Index";
            }
            if (parametr == 'RequestOrders') {
                url = "/Project/RequestOrders";
            }
            if (parametr == 'OBKDic') {
                url = "/OBKReference/index";
            }
            if (parametr == 'RegisterLs') {
                //  url = "/Project/RegisterLs";
                url = "/DrugDeclaration/Index";
            }
            if (parametr == 'Price') {
                url = "/Project/Price";
            }
            if (parametr == 'Register') {
                url = "/Project/Register";
            }
            if (parametr == 'ReRegisterLs') {
                url = "/Project/ReRegisterLs";
            }
            if (parametr == 'ChRegisterLs') {
                url = "/Project/ChRegisterLs";
            }
            if (parametr == 'RegisterArchive') {
                url = "/Project/RegisterArchive";
            }
            if (parametr == 'Contract') {
                url = "/Contract/Contract";
            }
            if (parametr == 'ContractAddition') {
                url = "/Contract/ContractAddition";
            }
            if (parametr == 'ContractProcSettings') {
                url = "/Contract/ContractProcSettings";
            }
            if (parametr == 'ListEd') {
                url = "/Project/ListEd";
            }
            if (parametr == 'ListAlo') {
                url = "/Project/ListAlo";
            }
            if (parametr == 'ListKnf') {
                url = "/Project/ListKnf";
            }
            if (parametr == 'ListOth') {
                url = "/Project/ListOth";
            }
            if (parametr == 'EXPDocumentAgreement') {
                url = "/ExpDocumentAgreement/Index";
            }
            if (parametr == 'NotificationList') {
                url = "/Notification/Index";
            }
            if (parametr === 'SafetyAssessmentList') {
                url = "/SafetyAssessment/Index?type=" + @CodeConstManager.STAGE_OBK_COZ;
            }
            if (parametr === 'SafetyExpertiseList') {
                url = "/SafetyAssessment/Index?type=" + @CodeConstManager.STAGE_OBK_EXPERTISE_DOC;
            }
            if (parametr === "OBKContractList") {
                url = "/OBKContract/";
            }
            if (parametr === "OBKPaymentList") {
                url = "/OBKPayment/Index";
            }
            if (url != '' && url != 'Profile') {
                var name = guidGen();
                var tab = tabStrip.tabGroup.find(':contains("' + header + '")');

                if (tab.length > 0) {
                    tabStrip.select(tab[0]);
                } else {
                    tabStrip.append({
                        text: header,
                        content: '<div id="' + name + '"> </div>'
                    });
                    tabStrip.select(tabStrip.items().length - 1);
                }

                var gridElement = $("#"  + name);

                gridElement.height($(window).height() - 100);

                $.ajax({
                    url: url,
                    //type: "POST",
                    success: function (result) {
                        // refreshes partial view
                        $('#' + name).html(result);
                    }
                });
            }
        }
    }

</script>
