
<div class="pwWinTitle">
    <div class="pwWinTitleIconReject2"></div><div class="pwWinTitleText">@PW.Ncels.Database.Recources.Messages.Property_Документотозван_133__00</div>
</div><div class="pwWinContent3"></div>
<div class="pwWinFooter">
    <button type="button" class="k-button pwWinButton" onclick="CardCommandWindowClosed()">OK</button>
</div>
