@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('font-awesome/fonts/glyphicons-halflings-regular.eot');
    src: url('font-awesome/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('font-awesome/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('font-awesome/fonts/glyphicons-halflings-regular.woff') format('woff'), url('font-awesome/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('font-awesome/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/*.nav > li.active {
    border-left: 4px solid #0476b2;
}

.text-info2 {
    color: #1ab394 !important;
}*/

.pace .pace-progress {
    background: #ffcc29 none repeat scroll 0 0;
}

.minimalize-styl-2, .minimalize-styl-2:hover, .minimalize-styl-2:focus, .minimalize-styl-2:active, .minimalize-styl-2.active, .open .dropdown-toggle.minimalize-styl-2, .minimalize-styl-2:active:focus, .minimalize-styl-2:active:hover, .minimalize-styl-2.active:hover, .minimalize-styl-2.active:focus {
    background-color: #0476b2;
    border-color: #0476b2;
}

.nav.nav-tabs li {
    border: medium none !important;
}

.pw-register-box {
    margin: 0 auto;
    max-width: 90%;
    padding-top: 40px;
    z-index: 100;
}

.text-muted {
    color: #999;
}

.pw-header {
    margin-left: 40px;
    margin-top: 20px;
    width: 650px;
    word-wrap: break-word;
}

.pw-form-row {
    margin-bottom: 15px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-height: 58px;
    clear: inherit;
}

.pw-form-row-min {
    margin-bottom: 4px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-height: 30px;
    clear: inherit;
}

.form-label {
    display: inline-block;
    text-align: right;
    padding-top: 6px;
}

textarea {
    resize: none;
}

.loginscreen.middle-box {
    width: 400px;
}

.wizard > .content {
    overflow: visible !important;
}

.wizard {
    overflow: visible !important;
}

    .wizard > .content > .body {
        width: 100% !important;
        padding: 20px !important;
    }

    .wizard > .content > .body {
        position: relative !important;
    }

.pw-reg-wizard, .pw-exp-wizard {
    margin-bottom: 10px;
    margin-top: 20px;
}

    .pw-reg-wizard > .steps > ul > li {
        width: 20% !important;
    }

    .pw-exp-wizard > .steps > ul > li {
        width: 25% !important;
    }

.btn-default-focus {
    box-shadow: none !important;
}

.wizard > .content > .body .ui-select-toggle {
    border: 1px solid #ccc;
    display: block;
}

.dataTables_length > label > select {
    padding-left: 15px;
    padding-top: 4px;
}

.ui-select-bootstrap > .ui-select-choices {
    max-height: 210px !important;
}

.pw-tab .uib-tab {
    display: block !important;
    width: 50%;
}

.pw-active {
    font-weight: bold;
}

.pw-project-files, .pw-project-files a, .pw-project-files td {
    color: #676a6c;
    font-size: 11px;
    vertical-align: middle !important;
}

    .pw-project-files td {
        border-top: 0 !important;
        padding-top: 4px !important;
        padding-bottom: 0 !important;
    }

.dl-horizontal dt {
    text-overflow: inherit !important;
    white-space: inherit !important;
    width: 180px !important;
    text-align: left !important;
}

.dl-horizontal dd {
    margin-left: 200px !important;
}

dt {
    font-weight: normal;
}

.navbar-top-links .dropdown-messages, .navbar-top-links .dropdown-tasks, .navbar-top-links .dropdown-alerts {
    width: 350px !important;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 3px !important;
}

.pw-mail-icon {
    font-size: 32px;
    margin-right: 8px;
}

.pw-content {
    background: #eee none repeat scroll 0 0;
    border-radius: 5px;
    display: block;
    margin: 5px 5px 10px;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    width: auto;
    padding: 35px;
}

.pw-content-transp {
    display: block;
    margin: 5px 5px 10px;
    min-height: 120px;
    overflow: hidden;
    position: relative;
    width: auto;
    padding: 35px;
}

.pw-ibox .ibox-title {
    padding-top: 10px !important;
    padding-left: 20px !important;
}

.pw-ibox .ibox-content {
    min-height: 92px !important;
}

.pw-ibox h5 {
    font-size: 24px !important;
    font-weight: normal !important;
}

.pw-ibox .label {
    font-size: 14px !important;
}

.pw-ibox a {
    color: inherit;
}

.loginscreen h3 {
    line-height: normal !important;
}

.pw-label {
    font-weight: 700 !important;
    font-size: 13px !important;
}

.pw-table-attach > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: inherit !important;
}

.dataTable {
    width: 100% !important;
}

.loginColumns {
    padding: 40px 20px 20px;
}

.pw-widget-link {
    color: inherit !important;
}

    .pw-widget-link:hover, .pw-widget-link:focus {
        color: inherit !important;
    }

.form-control:focus, .single-line:focus {
    border-color: #1a7bb9 !important;
}

/*Ramazan*/

.ng-invalid .ng-invalid-required {
}

.pw-select-invalid {
    background: rgb(251, 227, 228) none repeat scroll 0 0;
    color: #8a1f11;
}

    .pw-select-invalid > div > span {
        background: rgb(251, 227, 228) none repeat scroll 0 0;
        border: 1px solid #fbc2c4 !important;
    }

.pw-label-invalid {
    visibility: visible;
    color: #8a1f11;
    display: inline-block;
}

#projectView {
    text-align: center;
}

.jstree {
    font-size: 12px;
}


/* Compact grid */

.pw-compact-table {
    font-size: 12px;
}

    .pw-compact-table > div > .html5buttons {
        display: none;
    }

    .pw-compact-table > div > .dataTables_length {
        display: none;
    }

    .pw-compact-table > div > .dataTables_filter {
        display: none;
    }

    .pw-compact-table > div > .dataTables_info {
        display: none;
    }

    .pw-compact-table > div > .dataTables_paginate {
        display: none;
    }

.pw-compact-table2 {
    font-size: 12px;
}

.table-hover > tbody > tr:hover {
    background-color: #beebff !important;
}

.pw-row-selected {
    background-color: #beebff !important;
}

/* Compact grid */

.timeline-item .date {
    width: 140px !important;
}

.active2 {
    border-bottom: 1px dashed rgba(103, 106, 108, 0.7);
    text-decoration: none !important;
    outline: none !important;
}

    .active2:hover {
        color: inherit;
    }

.ibox-heading {
    border-left-width: 1px;
    border-right-width: 1px;
    padding: 5px 10px;
    background-color: #f9f8f8;
}

    .ibox-heading .btn-default {
        background-color: #ffffff;
        border-color: #cccccc;
    }

.pw-scroll {
    overflow: auto !important;
}

.timeline-item .content {
    width: calc(100% - 160px) !important;
}

.bootstrap-touchspin > .bootstrap-touchspin-postfix {
    border-left-width: 0 !important;
}

/*.ui-select-match-text > span {
    white-space: normal;
}*/

.ui-select-match-text > span {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
}

.pw-task-link {
    text-decoration: underline !important;
}

h2 > span.label {
    vertical-align: middle !important;
}

/* States labels */

.label.new, .label.draft {
    background-color: #d1dade;
    color: #5e5e5e;
}

.label.agreement, .label.agreementExpert, .label.agreementClient, .label.signingClient, .label.signingExpert, .label.work, .label.client, .label.agrExecutor, .label.signExecutor {
    background-color: #f8ac59;
    color: #ffffff;
}

.label.expertise, .label.eco, .label.resolution, .label.sent, .label.ses {
    background-color: #1c84c6;
    color: #ffffff;
}

.label.prolong, .label.active {
    background-color: #23c6c8;
    color: #ffffff;
}

.label.executed, .label.issued, .label.agreed, .label.signed {
    background-color: #1ab394;
    color: #ffffff;
}

.label.annul, .label.denied, .label.dissolve, .label.rejected {
    background-color: #ed5565;
    color: #ffffff;
}

/* States labels */


.pw-text-area {
    height: 500px;
    line-height: 1.7;
    overflow: auto;
    padding: 20px 30px 20px 40px;
    border: 1px solid #ccc;
    background-color: white;
}

.pw-file-input {
    text-align: justify;
}

    .pw-file-input.input-group-addon {
        background-color: #1c84c6;
        -ms-border-radius: 2px 0 0 2px;
        border-radius: 2px 0 0 2px;
        color: white;
        border: 0 none !important;
    }

.pw-sign-test {
    position: fixed;
    top: 5px;
    border: 1px solid red;
    z-index: 9999999;
    right: 5px;
    display: none;
    width: 300px;
    font-size: 10px;
}

    .pw-sign-test textarea, .pw-sign-test input, .pw-sign-test select {
        font-size: 10px !important;
    }

    .pw-sign-test .pw-form-row {
        margin-bottom: 5px;
        min-height: 0;
    }

    .pw-sign-test .form-control {
        height: auto;
        min-height: 22px !important;
        padding: 2px !important;
    }

.pw-is-mainTrue {
    font-weight: bold !important;
}

.pw-is-main2False {
    display: none;
}

.jstree-anchor > .jstree-themeicon {
    margin-right: 0 !important;
}

.jstree-default .jstree-icon:empty {
    width: 23px !important;
}

.navbar-top-links .dropdown-alerts {
      margin-left: 0 !important;
    margin-top: 60px !important;
}

.form-group label {
    font-weight: normal !important;
}

.form-group p {
    font-weight: 600 !important;
    margin-left: 25px;
}

.text-bold {
    font-weight: 600 !important;
}

.dataTables_wrapper {
    padding-bottom: 0 !important;
}

.b-l {
  border-left: 1px solid #e7eaec;
  margin-left: -1px;
}

.panel > .panel-body {
    border: none !important;
}

.pw-text-area {
    height: 100%;
    line-height: 1.7;
    overflow: auto;
    padding: 20px 30px 20px 30px;
    border: 1px solid #e7eaec;
    background-color: white;
}

.pw-footer {
    background-color: #004d86 !important;
    padding: 50px 57px;
    color: white;
    z-index: 9999999;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #05548f;
    text-decoration: none;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: #05548f none repeat scroll 0 0;
}

.pw-nav2 {
    background: #f3f3f4 none repeat scroll 0 0;
}

.navbar {
    min-height: 45px !important; 
}

body.boxed-layout #wrapper {
    background-color: #f3f3f4 !important;
}

.size75p {
    width: 75% !important;
    height: 75% !important;
}
.modal-size-custom {
    width: 500px !important
}
.modal-size-sm {
    width: 400px !important
}
.modal-size-md {
    width: 600px !important
}
.modal-size-lg {
    width: 80% !important;
}
.center {
    text-align: center !important;
}

/***************************/
/*** allert message style***/
/***************************/

.message-alert {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 999992;
    width: 400px;
}
.message-alert .alert-block {
    border-width: 2px;
}
.message-alert .close {
    opacity: 0.7;
    text-decoration: none;
}
.message-alert label {
    white-space: pre-line;
    font-weight: normal;
}