.col-md-3,
.col-md-4,
.col-md-6,
.col-md-8,
.col-md-10 {
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.row {
	padding-left: 15px;
	margin-right: 0 !important;
}

.row > div > table {
	  display: table-cell;
}

.row > div > div > table {
	  display: table-cell;
}

.pwDashboardBody img {
    width:100% !important;
	height: auto !important;
}

.pwDashboardBody td > img {
    height: inherit !important;
    width: inherit !important;
}

.pwDashboardScroll {
    height: 258px;
    overflow: auto;
}

.pwDashboardWidget_ListExpired {
	background-color: #ff7e7c;
}

.pwDashboardWidget_ListExecution {
	background-color: #ffb74b;
}

.pwDashboardWidget_TableDep {
	background-color: #548dd4;
}

.pwDashboardWidget_TableEmpl {
	background-color: #548dd4;
}

.pwDashboardWidget_TableDoc {
	background-color: #548dd4;
}

.pwDashboardWidget_birthday {
	background-color: #31859B;
}

#tabstrip-1 {
	overflow: auto;
}

#widget_ListLawyerBurden {
    background-color: #548dd4;
    padding: 0 !important;
    height: 230px;
    margin-top: 10px
}