.km-exit:after,
.km-exit:before {
	content: "\e0b3";
}

.km-task-new:after,
.km-task-new:before {
	content: "\e30a";
}

.km-task-todo:after,
.km-task-todo:before {
	content: "\e30b";
}

.km-task-done:after,
.km-task-done:before {
	content: "\e320";
}

.pwButtonExit {
	margin-top: 0 !important;
}

.pwTaskAction {
	float: right;
}

.pwTaskList {
	font-size: .8em;
}

	.pwTaskList p,
	.pwTaskList h2,
	.pwTaskList h3 {
		margin: 0 2px;
	}

	.pwTaskList p,
	.pwTaskList h3 {
		color: #777;
	}

		.pwTaskList h3.pwTaskDoc{
			color: #369;
			float: left;
			margin-right: 10px;
		}

.pwTask h2 {
	font-size: 16px;
	margin-bottom: 5px;
    margin-top: 5px;
}

.pwTask p {
	margin-bottom: 5px;
}

/*Ramazan*/

/*taskPopup*/
.fullTaskPopup {
	  height: 95%;
    width: 98%;
}
.contentTaskPopup {
	width: 100%;
	margin-top:3%;
}
.centerTaskText {
	margin-top:10px;
	 margin-left: auto;
    margin-right: auto;
	width: 50%;
}


.firstTaskPopup {
width: 50%;
	float: left;
	margin-top:10px;
}
.secondTaskPopup {
width: 50%;
	float: left;
	margin-top:10px;
}
.taskPopupFooter {
	position:absolute;
	height: 30px;
	width: 100%;
	right: 0;
	padding: 0 10px;
}
/*taskPopup*/


/*taskMobileWindow*/
.fullTaskMobileWindow {
	width: 100%;
}
.leftTaskMobileWindow {
		width: 50%;
	float: left;
}
.rightTaskMobileWindow {
	width: 50%;
	float: right;
}

.borderListViewMobile {
background: none repeat scroll 0 0 transparent;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0 0;
    font-size: 1.1em;
    padding-left: 1em;
	 border-top-color: rgba(180, 180, 180, 0.5);
    color: #000;
	 
}

.k-widget.k-tooltip-validation {
	background-color: white;
	border-color: transparent !important;
	box-shadow: none !important;
	color: red !important;
	display: table;
	font-weight: normal !important;
	right: 0;
	position: absolute;
	top: 6px;
	left: 9px;
}
 
.km-group-title { 
border-top-width: 0 !important;
}

.fullTaskMobileWindow > label  {
font-weight:normal !important;	
}
.leftTaskMobileWindow > label {
font-weight:normal !important;	
}
.rightTaskMobileWindow > label {
font-weight:normal !important;	
}
li > label {
	font-weight:normal !important;	
}
/*Ramazan*/

.pw-back > span {
	vertical-align: super;
}

.km-leftitem {
	top: -4px;
}

.km-rightitem {
	top: -4px;
}

.pw-validation > #_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #comboAssignment1_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #comboAssignment2_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #comboAssignment3_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #comboAssignment4_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #comboAssignment5_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #comboAssignment6_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #comboAssignment7_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #comboAssignment8_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #comboAssignment9_validationMessage {
	left: 21px;
    top: 12px;
}

.picker__input {
	padding-left: 10px !important;
}

.pw-right-fix {
	margin-left: -5px;
}

.pw-right-fix2 {
	margin-left: -9px;
}

.pw-text {
	padding-left: 11px !important;
}

.pw-validation > #combo1_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #combo2_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #combo3_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #combo4_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #combo5_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #combo6_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #combo7_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #combo8_validationMessage {
	left: 21px;
    top: 12px;
}

.pw-validation > #combo9_validationMessage {
	left: 21px;
    top: 12px;
}

.km-badge {
    right: 3em !important;
    top: inherit !important;
    background-color: gray !important;
}

.pw-new-badge {
    background-color: #548dd4 !important;
}

.pw-work-badge {
    background-color: #ffb74b !important;
}

.pw-done-badge {
    background-color: #92d050 !important;
}
