body {
	padding-top: 0;
	background-color: #b3b3b3;
	height: 100%;
	min-height: 100%;
    overflow: hidden;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}
/***************************/
/*** allert message style***/
/***************************/

.message-alert {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 999992;
    width: 400px;
}
.message-alert .alert-block {
    border-width: 2px;
}
.message-alert .close {
    opacity: 0.7;
    text-decoration: none;
}
.message-alert label {
    white-space: pre-line;
    font-weight: normal;
}


/***************************/
/*** bob checkbox style***/
/***************************/

.bob-checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.bob-checkbox + label {
  cursor: pointer;
}
.bob-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.bob-checkbox:not(checked) + label {
  position: relative;
  padding: 0 0 0 60px;
}
.bob-checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.bob-checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s;
}
.bob-checkbox:checked + label:before {
  background: #7FD468;
}
.bob-checkbox:checked + label:after {
  left: 26px;
}
.bob-checkbox:focus + label:before {
  /*box-shadow: 0 0 0 3px rgba(255,255,0,.5);*/
}


/*****************************/
/***** Prism Works Style *****/
/*****************************/

#pwTabs {
	margin: 5px;
	height: 100%;
}

.pwTab {
	height: 100%;
	border: 0 !important;
	padding-bottom: 1px !important;
	min-height: 100%;
}

	.pwTab .k-block {
		padding: 0;
		-ms-border-radius: 0 !important;
		border-radius: 0 !important;
	}

.pwTabContent {
	height: 100%;
	border: 0 !important;
	min-height: 100%;
}

	.pwTabContent .k-block {
		padding: 0;
	}

#pwTabs > div > .pwTab > div {
	padding: 0;
}

.pwSplitter {
	border: 0 !important;
	height: 100% !important;
}

.pwPanelBar > .k-panelbar {
	border-bottom: 0 !important;
	border-top: 0 !important;
}

.pwPanelBar {
	padding: 10px !important;
}

.pwBlockAdd {
	border: 0 !important;
display: table-row;
	width: 100%;
	padding: 0 !important;
}

.pwBlockLegend {
	display: none;
	margin-top: 10px;
	margin-right: 10px !important;
	width: 100%;
	height: 100%;
	color: white; /* Цвет текста */
	-ms-border-radius: 0 !important;
	border-radius: 0 !important;
	background-color: white;
	-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);
	-ms-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);
}

.pwBlockLegendBorder {
	border: 1px solid #ccc;
}

.pwGrid {
	height: 100%;
	font-size: 12px;
}

.pwGridOs {
	height: 100% !important;
	font-size: 12px;
}

.pwGridCor {
	height: 300px;
	font-size: 11px;
}

.pwGridHistory {
	height: 1200px;
	font-size: 12px;
}

.pwGridPrice {
	height: 400px;
	font-size: 12px;
}

.pwGridRef {
	height: 100% !important;
	font-size: 12px;
}

.pwGridTask {
	height: 100% !important;
	font-size: 12px;
}

#pwOne {
	float: left;
	width: 50%;
	padding-left: 0;
	padding-right: 15px;
	-moz-min-width: 100px;
	-ms-min-width: 100px;
	-o-min-width: 100px;
	-webkit-min-width: 100px;
	min-width: 100px;
}

#pwTwo {
	float: left;
	width: 200px;
	padding-left: 0;
	padding-right: 15px;
	-moz-min-width: 70px;
	-ms-min-width: 70px;
	-o-min-width: 70px;
	-webkit-min-width: 70px;
	min-width: 70px;
}

#pwThree {
	float: left;
	width: 100px;
	padding-left: 0;
	-moz-min-width: 100px;
	-ms-min-width: 100px;
	-o-min-width: 100px;
	-webkit-min-width: 100px;
	min-width: 100px;
}

#pwFour {
	float: right;
	width: auto;
	-moz-min-width: 100px;
	-ms-min-width: 100px;
	-o-min-width: 100px;
	-webkit-min-width: 100px;
	min-width: 100px;
}

#pwFour2 {
	float: right;
	width: auto;
}

#pwSix {
	position: relative;
	z-index: 999;
	height: 28px;
	float: right;
	width: 54px;
}

#pwSix1 {
	position: relative;
	z-index: 999;
	height: 28px;
	float: right;
	width: 54px;
}

.pwButtonReload {
	height: 32px;
	float: right;
	width: 30px;
}

.pwContent {
	margin: 0;
	width: auto;
}

.pwStatusbar {
	margin: 0;
	height: 18px;
	padding-top: 2px !important;
	border-width: thin;
	font-size: 12px;
	border-bottom-width: 0 !important;
	border-right-width: 0 !important;
	border-bottom-width: 0 !important;
	border-right-width: 0 !important;
	border-left: 0 !important;
}

.pwContentLeft {
	width: 100px;
	border-left: 0 !important;
	vertical-align: top;
}

.pwContentRight {
	border: 0;
	border-right: 0 !important;
}

.pwTable {
	width: 100%;
	padding: 0;
	border-left-width: 0;
}

	.pwTable th, td {
		padding: 0;
		border: 0;
		border-top-width: 0 !important;
		border-color: ActiveBorder;
	}

.pwFloat {
	float: left;
	margin-left: 30px;
}

.pwLine {
	height: 13px;
	width: 1px;
	border-bottom: 0;
	border-top: 0;
	border-left: 1px grey solid;
	border-left-width: thin;
	margin-left: 30px;
}

.pwPage {
	height: 1200px;
	width: 900px;
	overflow: auto;
	margin: 20px auto;
	background-color: white;
	padding: 1px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);
	-ms-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);
	padding: 30px;
}
.pwPageA5 {
	width: 148mm; 
    height: 100%;
	overflow: auto;
	margin: 20px auto;
	background-color: white;
	padding: 1px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);
	-ms-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, .2);
	padding: 30px;
}

.pwPageEx {
    min-height: 1200px !important;
    height: auto !important;
}

.pwPageScrollable {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.pwPageScrollable1 {
	width: 100%;
	height: 500px;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.pwGrid > .k-grid-footer {
	border-bottom: 0 !important;
}

.pwGridOs > .k-grid-footer {
	border-bottom: 0 !important;
}

.pwGridRef > .k-grid-footer {
	border-bottom: 0 !important;
}

.pwGridTask > .k-grid-footer {
	border-bottom: 0 !important;
}

.pwGrid > .k-grid-footer > .k-grid-footer-wrap {
	visibility: hidden;
	height: 0;
	border: 0 !important;
}

.pwDocTable {
	width: 100%;
	font-size: 12px;
}

	.pwDocTable tr td {
		height: 35px;
		border: 0 !important;
	}

.pwDocTable2 {
	width: 100%;
	font-size: 12px;
}

	.pwDocTable2 tr td {
		height: auto;
		border: 0 !important;
		padding-top: 2px;
		padding-bottom: 2px;
        white-space: initial;
	}

.pwWidth100 {
	width: 100% !important;
}

.pwWidthAuto {
	width: fit-content !important;
	width: -moz-available !important;
}

.pwTextBoxReadonly {
	background-color: rgb(231, 229, 229) !important;
}

	.pwTextBoxReadonly > div {
		background-color: rgb(231, 229, 229) !important;
	}

		.pwTextBoxReadonly > div > input {
			background-color: rgb(231, 229, 229) !important;
		}

.pwTextArea {
	min-height: 65px;
	height: 65px;
	max-height: 65px;
}

	.pwTextArea > textarea {
		min-height: 61px !important;
		height: 61px !important;
		max-height: 61px !important;
	}

	.pwWinContentRight2 > .pwTextArea > textarea {
		min-height: 59px !important;
		height: 59px !important;
		max-height: 59px !important;
	}

.pwTaskTree {
	font-size: 12px !important;
	height: 100%;
	width: 100%;
}

	.pwTaskTree * {
		table-layout: auto !important;
		border-collapse: collapse !important;
	}

.pwTaskTree2 {
	font-size: 12px !important;
	height: 256px;
	width: 838px;
}

	.pwTaskTree2 * {
		table-layout: auto !important;
		border-collapse: collapse !important;
	}

.pwActivityStyle {
	border: 1px #cbc9c9 solid;
	border-width: thin;
}

	.pwActivityStyle > tr {
		border: 1px #cbc9c9 solid;
		border-width: thin;
	}

	.pwActivityStyle > td {
		border: 1px #cbc9c9 solid;
		border-width: thin;
		padding: 4px;
	}

.pwTaskStyle {
	border: 1px #cbc9c9 solid;
	border-width: thin;
}

	.pwTaskStyle > tr {
		border: 1px #cbc9c9 solid;
		border-width: thin;
	}

	.pwTaskStyle > td {
		border: 1px #cbc9c9 solid;
		border-width: thin;
		padding: 4px;
	}

.pwTaskStyleIsResponsible img {
	margin-top: -2px;
	margin-left: 5px;
}

.pwTaskStyleIsResponsibleX img {
	margin-top: -10px;
	margin-left: 5px;
}

.pwTaskStyleIsResponsible {
	border: 0 !important;
	padding: 0 !important;
	vertical-align: top;
}

.pwTaskStyleIsResponsible2 {
	padding: 4px !important;
}

.pwTaskStyleIsResponsible3 {
	width: 379px !important;
}

.pwTaskStyleIsResponsible4 {
	width: 400px !important;
}

.pwIsMineLine {
	font-weight: bold;
}

.k-detail-cell {
	border: 1px #C5C5C5 solid !important;
	border-width: thin !important;
}

.pwButtonTask {
	width: 150px !important;
}

	.pwButtonTask > img {
		vertical-align: text-bottom !important;
		height: 16px;
		width: 16px;
	}

li.k-button {
	text-align: left;
}

/*****************************/
/***** File Uploader Str *****/
/*****************************/

.file-icon {
	display: inline-block;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 2px;
}

.img-file {
	background-image: url(../content/images/ext/jpg.png);
}

.avi-file {
	background-image: url(../content/images/ext/avi.png);
}

.mp3-file {
	background-image: url(../content/images/ext/mp3.png);
}

.doc-file {
	background-image: url(../content/images/ext/docx.png);
}

.pdf-file {
	background-image: url(../content/images/ext/pdf.png);
}

.xls-file {
	background-image: url(../content/images/ext/xlsx.png);
}

.ppt-file {
	background-image: url(../content/images/ext/pptx.png);
}

.zip-file {
	background-image: url(../content/images/ext/zip.png);
}

.default-file {
	background-image: url(../content/images/ext/default.png);
}

.file-heading {
	display: inline-block;
	float: left;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height: 20px;
	line-height: 1.8;
	margin-left: 2px;
	cursor: pointer;
}

.file-name-heading {
	font-weight: normal;
	color: rgb(78, 77, 77);
}

li.k-file .file-wrapper .k-upload-action {
	position: absolute;
	top: 0px;
	right: 0;
}

.file-size-heading {
	display: inline-block;
	float: left;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height: 20px;
	line-height: 1.8;
	margin-left: 5px;
	color: rgb(173, 173, 173);
}

li.k-file div.file-wrapper {
	position: relative;
	height: 20px;
}

.file-edit {
	position: absolute;
	background-color: transparent;
	margin-top: 0px;
	margin-left: 30px;
	background-image: url(../content/images/ext/edit.png);
	height: 16px;
	width: 16px;
	border: none;
	padding: 0 !important;
	cursor: pointer;
}
.file-stamp {
	position: absolute;
	background-color: transparent;
	margin-top: 0px;
	margin-left: 56px;
	background-image: url(../content/images/ext/stamp1.png);
	height: 16px;
	width: 16px;
	border: none;
	padding: 0 !important;
	cursor: pointer;
}
.file-download {
	position: absolute;
	background-color: transparent;
	margin-top: 0px;
	margin-left: 10px;
	background-image: url(../content/images/ext/download.png);
	height: 16px;
	width: 16px;
	border: none;
	padding: 0 !important;
	cursor: pointer;
}

/*****************************/
/***** File Uploader End *****/
/*****************************/

/*****************************/
/***** Bitton CSS3 Start *****/
/*****************************/

.pwBtn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 12px 10px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border-radius: 0;
}

	.pwBtn:after {
		content: '';
		position: absolute;
		z-index: -1;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	.pwBtn:before,
	.icon-heart:after,
	.icon-star:after,
	.icon-plus:after,
	.icon-file:before {
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		position: relative;
		-webkit-font-smoothing: antialiased;
	}
.icon-corespondence:before {
    content: url("images/Corecponce.png");
	margin-top: 20px;
}
.icon-cart:before {
    content: url("images/8.png");
	margin-top: 20px;
}
.icon-cart-1:before {
	content: url("images/1.png");
	margin-top: 20px;
}
.icon-cart-2:before {
	content: url("images/2.png");
	margin-top: 20px;
}

.icon-cart-3:before {
	content: url("images/3.png");
	margin-top: 20px;
}

.icon-cart-4:before {
	content: url("images/4.png");
	margin-top: 20px;
}

.icon-cart-5:before {
	content: url("images/5.png");
	margin-top: 20px;
}

.icon-cart-6:before {
	content: url("images/6.png");
	margin-top: 20px;
}

.icon-cart-7:before {
	content: url("images/7.png");
	margin-top: 20px;
}


.icon-cart-10:before {
	content: url("images/10.png");
	margin-top: 20px;
}

.icon-cart-ref-1:before {
	content: url("images/ref/1.png");
	margin-top: 10px;
}

.icon-cart-ref-0:before {
	content: url("images/ref/0.png");
	margin-top: 10px;
}

.icon-cart-ref-2:before {
	content: url("images/ref/2.png");
	margin-top: 10px;
}

.icon-cart-ref-3:before {
	content: url("images/ref/3.png");
	margin-top: 10px;
}

.icon-cart-ref-4:before {
	content: url("images/ref/4.png");
	margin-top: 10px;
}

.icon-cart-ref-5:before {
	content: url("images/ref/5.png");
	margin-top: 10px;
}

.icon-cart-ref-6:before {
	content: url("images/ref/6.png");
	margin-top: 10px;
}

.icon-cart-ref-7:before {
	content: url("images/ref/7.png");
	margin-top: 10px;
}

.icon-cart-ref-8:before {
	content: url("images/ref/8.png");
	margin-top: 10px;
}

.icon-cart-ref-9:before {
	content: url("images/ref/9.png");
	margin-top: 10px;
}

.icon-cart-ref-12:before {
	content: url("images/ref/12.png");
	margin-top: 10px;
}

.icon-cart-cont-1:before {
	content: url("images/cont/1.png");
	margin-top: 10px;
}

.icon-cart-cont-2:before {
	content: url("images/cont/2.png");
	margin-top: 10px;
}

.icon-cart-cont-3:before {
	content: url("images/cont/3.png");
	margin-top: 10px;
}

.icon-cart-cont-4:before {
	content: url("images/cont/4.png");
	margin-top: 10px;
}

.icon-cart-cont-5:before {
	content: url("images/cont/5.png");
	margin-top: 10px;
}

/* Button 5 */
.pwBtn-5 {
	background: transparent;
	color: black;
	height: 30px;
	width: 79px;
	line-height: 24px;
	font-size: 12px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	border-bottom: 1px rgb(178, 178, 178) solid;
	border-bottom-width: thin;
}

	.pwBtn-5:active {
		background: transparent;
		top: 2px;
	}

	.pwBtn-5 span {
		display: inline-block;
		width: 100%;
		height: 100%;
		-webkit-transition: all 0.3s;
		-webkit-backface-visibility: hidden;
		-moz-transition: all 0.3s;
		-moz-backface-visibility: hidden;
		transition: all 0.3s;
		backface-visibility: hidden;
		padding-top: 0px;
		
	}

	.pwBtn-5:before {
		position: absolute;
		height: 100%;
		width: 100%;
		line-height: 2.5;
		font-size: 180%;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		padding-left: 10px;
	}

	.pwBtn-5:active:before {
		color: #703b87;
	}

/* Button 5a */
.pwBtn-5a:hover span {
	-webkit-transform: translateY(300%);
	-moz-transform: translateY(300%);
	-ms-transform: translateY(300%);
	transform: translateY(300%);
}

.pwBtn-5a:before {
	left: 0;
	top: -100%;
}

.pwBtn-5a:hover:before {
	top: 0;
}

/*****************************/
/****** Bitton CSS3 End ******/
/*****************************/

.pwButtonClose {
	border: 0;
	background-color: transparent;
	margin-left: 5px;
	background-image: url(../content/images/close.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px;
	padding: 0;
}

.k-multiselect-wrap > .k-input {
	color: #aaa9a9; /* specify the default input color */
}

	.k-multiselect-wrap > .k-input:focus {
		color: black; /* specify the focused input color */
	}

.k-window-titlebar {
	font-size: 14px !important;
}

.pwWinTitle {
	height: 30px;
	padding: 5px;
}

.pwWinContent {
	font-size: 12px;
	height: 50px;
	margin-left: 120px;
	overflow: auto;
	padding: 5px;
	margin-top: 7px;
}

.pwWinContent2 {
	font-size: 12px;
	height: 100%;
	padding: 5px;
	margin-top: 13px;
	padding-left: 17px;
}

.pwWinContent3 {
	font-size: 12px;
	height: 0px;
	padding: 5px;
	margin-top: 13px;
	padding-left: 17px;
}

.pwWinContent4 {
	font-size: 12px;
	height: 100%;
	padding-left: 17px;
}


.pwWinFooter {
	/*position:absolute;
	height: 30px;
	width: 100%;
	right: 0;
	padding: 0 10px;*/
}

.pwWinButton {
	width: 120px;
	float: right;
	margin: 0 5px !important;
	margin-top: 13px !important;
}

.pwWinTitleIconOnJob {
	background-image: url("images/windows/onjob.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconExecute {
	background-image: url("images/windows/execute.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconExecuteEx {
	background-image: url("images/windows/light.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconMail {
	background-image: url("images/windows/mail.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconReject {
	background-image: url("images/windows/reject.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconReassignment {
	background-image: url("images/windows/reassignment.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconResolution {
	background-image: url("images/windows/resolution.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconSave {
	background-image: url("images/windows/save.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconSend {
	background-image: url("images/windows/send.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconReg {
	background-image: url("images/windows/reg.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconExe {
	background-image: url("images/windows/execute.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconDel {
	background-image: url("images/windows/del.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconWarning {
	background-image: url("images/windows/warning.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconEdit {
	background-image: url("images/windows/edit.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconReject2 {
	background-image: url("images/windows/reject2.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconBuild {
	background-image: url("images/windows/build.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconAgr {
	background-image: url("images/windows/agr.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleIconSig {
	background-image: url("images/windows/sig.png");
	height: 32px;
	width: 32px;
	float: left;
	margin: 5px 20px 10px 10px;
}

.pwWinTitleText {
	float: left;
	margin-top: 12px;
}

.pwWinContentLeft {
	width: 150px;
	float: left;
}

.pwWinContentRight {
	width: 150px;
	float: left;
	font-weight: bold;
}

.pwWinContentLeft2 {
	width: 120px;
	float: left;
	margin-top: 4px;
}

.pwWinContentRight2 {
	width: 390px;
	float: left;
}

.pwWinContentLine2 {
	width: 510px;
	height: 75px;
}

.pwWinContentLine1 {
	width: 510px;
	min-height: 100%;
	overflow: hidden;
}

.pwWinContentLine2 > .pwWinContentLeft2 {
	margin-top: 24px;
}

.pwToolbar {
	height: auto;
	width: 100%;
	margin: 10px auto;
	height: 44px;
	margin-bottom: -20px;
}

.pwToolbarItem {
	float: left;
	margin-left: 10px;
}

.pwToolbarButton {
	width: 31px;
	border-width: 0 !important;
}

.pwToolbarButtonTitle {
	margin-left: 28px;
	font-size: 12px !important;
}

.pwToolbarButtonSave {
	background-image: url("images/commands/doc_save.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonRegister {
	background-image: url("images/commands/doc_register.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonReview {
	background-image: url("images/commands/doc_review.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonExecute {
	background-image: url("images/commands/doc_execute.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonExecuteEx {
	background-image: url("images/commands/light.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonPrint {
	background-image: url("images/commands/doc_print.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}



.pwToolbarButtonOnjob {
	background-image: url("images/commands/doc_onjob.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonMail {
	background-image: url("images/commands/doc_mail.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonBuild {
	background-image: url("images/commands/doc_build.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonSend {
	background-image: url("images/commands/doc_review.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonReturn {
	background-image: url("images/commands/doc_return.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonEdit {
	background-image: url("images/commands/task_edit.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonDelete {
	background-image: url("images/commands/task_delete.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonResolution {
	background-image: url("images/commands/task_Resolution.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonReasigment {
	background-image: url("images/commands/task_Reasigment.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonAgr {
	background-image: url("images/commands/prj_agr.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwToolbarButtonSig {
	background-image: url("images/commands/prj_sig.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwTaskCommandPrjAdd {
	background-image: url("images/commands/task_Project.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwTaskButtonOnJob {
	background-image: url("images/commands/task_onJob.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwTaskButtonRes {
	background-image: url("images/commands/task_Resolution.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwTaskButtonRea {
	background-image: url("images/commands/task_onJob.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwTaskButtonExe {
	background-image: url("images/commands/task_execute.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwTaskButtonAgr {
	background-image: url("images/commands/task_execute.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwTaskButtonSig {
	background-image: url("images/commands/task_execute.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwTaskButtonTrn {
	background-image: url("images/commands/task_onJob.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwTaskButtonRej {
	background-image: url("images/commands/task_ExecuteFalse.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
	margin-top: -2px;
	width: 24px !important;
	height: 24px !important;
}

.pwTaskButtonReload {
	background-image: url("images/reload.png");
	background-repeat: no-repeat;
	display: inline-block;
	position: absolute;
    margin-top: 1px;
    margin-left: -1px;
	width: 24px !important;
	height: 24px !important;
}

.pwTaskCommandWrapper {
	margin-left: 4px;
	margin-bottom: 5px;
	margin-top: 3px;
}

.pwRefAdd {
	position: absolute;
}

.pwEditRef {
	margin: 0 10px;
	font-size: 12px !important;
}

	.pwEditRef > dd > input {
		width: 100% !important;
	}

.pwGridHistory tbody tr {
	height: 22px;
}

.pwGridHistory td {
	white-space: nowrap;
}

.pwPageReport {
    overflow: auto;
	background-color: #FFFFFF;
        padding: 30px;

}

.pwLabel {
	color: grey;
}

.k-widget.k-tooltip-validation {
	display: flex;
	position: absolute;
	background-color: white !important;
	border-color: transparent !important;
	color: red !important;
	-webkit-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
	left: -7px;
	top: -3px;
	font-weight: bold;
}

.k-warning {
	display: none !important;
}

.pwProfileTable td {
	padding: 5px;
}

.pwProfileTable input[type="password"] {
	border: 1px solid #C7D0D2;
	border-radius: 2px;
	box-shadow: 0 1.5px 3px rgba(190, 190, 190, 0.4) inset, 0 0 0 5px #F5F7F8;
	color: #777777;
	height: 35px;
	margin: 0px 0px 0px 0px;
	padding-left: 10px;
	transition: all 0.4s ease 0s;
	width: 290px;
}

.pwButtonProfile {
	width: 100%;
	height: 40px;
}

.pwButtonProfileLogOn {
	width: 303px;
	height: 40px;
	margin: 12px 10px 10px 18px;
}

.pwFooter {
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	padding-bottom: 5px;
	font-size: 10px;
}

	.pwFooter a {
		text-decoration: none;
		color: #36393B;
	}

.pwCorrespondents {
	float: right;
	position: absolute;
	right: -2px;
	top: -26px;
}

.pwCorFindText {
	width: 556px !important;
}

.pwOs {
	font-size: 12px;
	background: white !important;
	border: 1px solid #C5C5C5 !important;
	margin-top: 10px;
}

.pwUnitsPage {
	font-size: 12px;
	border: 1px solid #C5C5C5 !important;
}

.pwUnitsHeader {
	font-size: 14px;
	border-bottom: 1px solid #C5C5C5 !important;
	padding: 13px 10px;
	font-weight: bold;
}

.pwUnitsContent {
	background: white !important;
	padding: 10px;
	padding-bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.pwUnitsFooter {
	margin-top: 10px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-right: 10px !important;
	margin-left: -11px !important;
	margin-right: -11px !important;
	margin-bottom: 0 !important;
	border: 0 transparent none !important;
	border-top: 1px solid #C5C5C5 !important;
	border-right: 1px solid #C5C5C5 !important;
	border-left: 1px solid #C5C5C5 !important;
	clear: both !important;
	text-align: right !important;
}

.pwUnitsContent > table {
	width: 100%;
}

.pwUnitsContent td {
	padding: 3px 0px !important;
}

.pwUnitsEmployee {
	border: 0 transparent none !important;
}

.pwEmployeeContent {
	padding: 10px 0 0 0;
}

#pwEmployeeContentWrapper {
	overflow: auto;
	margin-right: -11px;
	padding-right: 10px;
}

#pwEmployeeContentWrapper1 {
	overflow: auto;
	margin-right: -11px;
	padding-right: 10px;
}

.pwEmployeeContent > table {
	width: 100%;
}

.pwEmployeeContent td {
	padding: 3px 0px !important;
}

.pwEmployeeFooter {
	margin-top: 10px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-right: 10px !important;
	margin-left: -11px !important;
	margin-right: -11px !important;
	margin-bottom: -3px !important;
	border: 0 transparent none !important;
	border-top: 1px solid #C5C5C5 !important;
	clear: both !important;
	text-align: right !important;
}

.pwMemuVer > span > span {
	visibility: collapse;
	height: 0;
	width: 0;
}

  .customClass
	{
        /*background-color:red !important;*/
        font-weight: 700  !important;
    }

  .customClass2 {
    background-color: rgb(171, 221, 171) !important;
    font-weight: bold !important;
}

.k-dropzone {
	padding: 9px 0 !important;
}

#pwFourX {
	height: 30px;
	position: absolute;
	right: 11px;
	top: 9px;
	width: 67px;
	z-index: 1;
}

.k-grid table tr.k-state-selected
{
    background: 	#8ADCFC; /*#33CCCC;*/
    color: #000;
}

.k-grid table tr.k-state-added
{
    background: 	#AADDAA; /*#33CCCC;*/
    color: #000;
}

#pwReport1 {
	float: left;
	width: 60px;
	padding-left: 0;
	padding-right: 15px;
	margin-top: 7px;
}

#pwReport2 {
	float: left;
	width: 150px;
	padding-left: 0;
	padding-right: 15px;
	-moz-min-width: 70px;
	-ms-min-width: 70px;
	-o-min-width: 70px;
	-webkit-min-width: 70px;
	min-width: 70px;
}

#pwReport3 {
	float: left;
	width: 60px;
	padding-left: 0;
	padding-right: 15px;
	margin-top: 7px;
}

#pwReport4 {
	float: left;
	width: 150px;
	padding-left: 0;
	padding-right: 15px;
	-moz-min-width: 70px;
	-ms-min-width: 70px;
	-o-min-width: 70px;
	-webkit-min-width: 70px;
	min-width: 70px;
}

#pwReport4_1 {
	float: left;
	width: 150px;
	padding-left: 0;
	padding-right: 50px;
	-moz-min-width: 70px;
	-ms-min-width: 70px;
	-o-min-width: 70px;
	-webkit-min-width: 70px;
	min-width: 70px;
}

#pwReport5 {
	float: left;
	width: 200px;
	padding-left: 0;
	padding-right: 15px;
	-moz-min-width: 70px;
	-ms-min-width: 70px;
	-o-min-width: 70px;
	-webkit-min-width: 70px;
	min-width: 70px;
}

#pwReport6 {
	float: right;
	width: 100px;
	padding-left: 0;
	padding-right: 15px;
	-moz-min-width: 70px;
	-ms-min-width: 70px;
	-o-min-width: 70px;
	-webkit-min-width: 70px;
	min-width: 70px;
}

.k-grid td{
    white-space: nowrap;
}

.grid-filter-header > span > span {
	width: 70%;
}

#pwValidWindowContent {
	background: url("images/val.png") no-repeat scroll 0 0;
    height: 50px;
    padding-left: 65px;
    display: table-cell;
	vertical-align: middle;
}

#pwValidWindowButtons {
	margin: 25px 5px 5px;
}
#pwValidWindowButtons > button {
	width: 100px;
	float: right;
}

#pwInvalidWindowContent {
	background: url("images/inv.png") no-repeat scroll 0 0;
    height: 50px;
    padding-left: 65px;
    display: table-cell;
	vertical-align: middle;
}

#pwInvalidWindowButtons {
	margin: 15px 5px 5px;
}
#pwInvalidWindowButtons > button {
	width: 100px;
	float: right;
}

#pwInvalidWindowText {
    border: 1px solid #dbdbde;
    height: 240px;
    margin: 8px 6px 0;
    overflow: auto;
    padding: 5px 10px;
    width: 504px !important;
}

#pwInvalidWindowText > br {
	display: block;
	margin: 4px 0;
}


#main {
	width: 30px;
}

#main > a {
	height: 14px;
}

/*modal dashboard*/

 body.modal-open {
    overflow: hidden;
    position:fixed;
    width: 100%;
}
/*modal dashboard*/


#pwEmployeeContentWrapper2 {
    margin-top: 10px;
    overflow: auto;
}

.pwReloadButtonFix {
    height: 28px !important;
    padding-top: 0 !important;
}

#widget_CountExpired a:hover,
#widget_CountNew a:hover,
#widget_CountWork a:hover,
#widget_CountDone a:hover,
#widget_CountInQueueContracts a:hover,
#widget_CountNewContracts a:hover,
#widget_CountInWorkContracts a:hover,
#widget_CountOnAgreementContracts a:hover,
#widget_CountApprovedContracts a:hover,
#widget_CountOnRegistrationContracts  a:hover{
    text-decoration: underline !important;
}

.css-checkbox {
    float: left;
}

.pwEditRef > dd > .k-combobox {
    width: 100% !important;
}

.pwEditRef > dd > .k-numerictextbox {
    width: 100% !important;
}

.tmcClass > .k-combobox {
    width: 100% !important;
}

.tmcClass > .k-numerictextbox {
    width: 100% !important;
}

.text-bold {
    font-weight: 600 !important;
}

.pwPage .col-lg-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pwPage .col-lg-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pwPage .col-lg-4 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.pwPage .col-lg-3 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pwPage .col-lg-6 > .panel {
    margin-left: 5px;
    margin-right: 5px;
}

/*
 * This combined file was created by the DataTables downloader builder:
 *   https://datatables.net/download
 *
 * To rebuild or modify this file with the latest versions of the included
 * software please visit:
 *   https://datatables.net/download/#bs/dt-1.10.13
 *
 * Included libraries:
 *   DataTables 1.10.13
 */
table.dataTable{display: table !important; width:100%;margin:0 auto;clear:both;border-collapse:separate;border-spacing:0}table.dataTable thead th,table.dataTable tfoot th{font-weight:bold}table.dataTable thead th,table.dataTable thead td{padding:10px 18px;border-bottom:1px solid #111}table.dataTable thead th:active,table.dataTable thead td:active{outline:none}table.dataTable tfoot th,table.dataTable tfoot td{padding:10px 18px 6px 18px;border-top:1px solid #111}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc{cursor:pointer;*cursor:hand}table.dataTable thead .sorting,table.dataTable thead .sorting_asc,table.dataTable thead .sorting_desc,table.dataTable thead .sorting_asc_disabled,table.dataTable thead .sorting_desc_disabled{background-repeat:no-repeat;background-position:center right}table.dataTable thead .sorting{background-image:url("DataTables-1.10.13/images/sort_both.png")}table.dataTable thead .sorting_asc{background-image:url("DataTables-1.10.13/images/sort_asc.png")}table.dataTable thead .sorting_desc{background-image:url("DataTables-1.10.13/images/sort_desc.png")}table.dataTable thead .sorting_asc_disabled{background-image:url("DataTables-1.10.13/images/sort_asc_disabled.png")}table.dataTable thead .sorting_desc_disabled{background-image:url("DataTables-1.10.13/images/sort_desc_disabled.png")}table.dataTable tbody tr{background-color:#ffffff}table.dataTable tbody tr.selected{background-color:#B0BED9}table.dataTable tbody th,table.dataTable tbody td{padding:8px 10px}table.dataTable.row-border tbody th,table.dataTable.row-border tbody td,table.dataTable.display tbody th,table.dataTable.display tbody td{border-top:1px solid #ddd}table.dataTable.row-border tbody tr:first-child th,table.dataTable.row-border tbody tr:first-child td,table.dataTable.display tbody tr:first-child th,table.dataTable.display tbody tr:first-child td{border-top:none}table.dataTable.cell-border tbody th,table.dataTable.cell-border tbody td{border-top:1px solid #ddd;border-right:1px solid #ddd}table.dataTable.cell-border tbody tr th:first-child,table.dataTable.cell-border tbody tr td:first-child{border-left:1px solid #ddd}table.dataTable.cell-border tbody tr:first-child th,table.dataTable.cell-border tbody tr:first-child td{border-top:none}table.dataTable.stripe tbody tr.odd,table.dataTable.display tbody tr.odd{background-color:#f9f9f9}table.dataTable.stripe tbody tr.odd.selected,table.dataTable.display tbody tr.odd.selected{background-color:#acbad4}table.dataTable.hover tbody tr:hover,table.dataTable.display tbody tr:hover{background-color:#f6f6f6}table.dataTable.hover tbody tr:hover.selected,table.dataTable.display tbody tr:hover.selected{background-color:#aab7d1}table.dataTable.order-column tbody tr>.sorting_1,table.dataTable.order-column tbody tr>.sorting_2,table.dataTable.order-column tbody tr>.sorting_3,table.dataTable.display tbody tr>.sorting_1,table.dataTable.display tbody tr>.sorting_2,table.dataTable.display tbody tr>.sorting_3{background-color:#fafafa}table.dataTable.order-column tbody tr.selected>.sorting_1,table.dataTable.order-column tbody tr.selected>.sorting_2,table.dataTable.order-column tbody tr.selected>.sorting_3,table.dataTable.display tbody tr.selected>.sorting_1,table.dataTable.display tbody tr.selected>.sorting_2,table.dataTable.display tbody tr.selected>.sorting_3{background-color:#acbad5}table.dataTable.display tbody tr.odd>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{background-color:#f1f1f1}table.dataTable.display tbody tr.odd>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd>.sorting_2{background-color:#f3f3f3}table.dataTable.display tbody tr.odd>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd>.sorting_3{background-color:whitesmoke}table.dataTable.display tbody tr.odd.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_1{background-color:#a6b4cd}table.dataTable.display tbody tr.odd.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_2{background-color:#a8b5cf}table.dataTable.display tbody tr.odd.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.odd.selected>.sorting_3{background-color:#a9b7d1}table.dataTable.display tbody tr.even>.sorting_1,table.dataTable.order-column.stripe tbody tr.even>.sorting_1{background-color:#fafafa}table.dataTable.display tbody tr.even>.sorting_2,table.dataTable.order-column.stripe tbody tr.even>.sorting_2{background-color:#fcfcfc}table.dataTable.display tbody tr.even>.sorting_3,table.dataTable.order-column.stripe tbody tr.even>.sorting_3{background-color:#fefefe}table.dataTable.display tbody tr.even.selected>.sorting_1,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_1{background-color:#acbad5}table.dataTable.display tbody tr.even.selected>.sorting_2,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_2{background-color:#aebcd6}table.dataTable.display tbody tr.even.selected>.sorting_3,table.dataTable.order-column.stripe tbody tr.even.selected>.sorting_3{background-color:#afbdd8}table.dataTable.display tbody tr:hover>.sorting_1,table.dataTable.order-column.hover tbody tr:hover>.sorting_1{background-color:#eaeaea}table.dataTable.display tbody tr:hover>.sorting_2,table.dataTable.order-column.hover tbody tr:hover>.sorting_2{background-color:#ececec}table.dataTable.display tbody tr:hover>.sorting_3,table.dataTable.order-column.hover tbody tr:hover>.sorting_3{background-color:#efefef}table.dataTable.display tbody tr:hover.selected>.sorting_1,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1{background-color:#a2aec7}table.dataTable.display tbody tr:hover.selected>.sorting_2,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2{background-color:#a3b0c9}table.dataTable.display tbody tr:hover.selected>.sorting_3,table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3{background-color:#a5b2cb}table.dataTable.no-footer{border-bottom:1px solid #111}table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}table.dataTable.compact thead th,table.dataTable.compact thead td{padding:4px 17px 4px 4px}table.dataTable.compact tfoot th,table.dataTable.compact tfoot td{padding:4px}table.dataTable.compact tbody th,table.dataTable.compact tbody td{padding:4px}table.dataTable th.dt-left,table.dataTable td.dt-left{text-align:left}table.dataTable th.dt-center,table.dataTable td.dt-center,table.dataTable td.dataTables_empty{text-align:center}table.dataTable th.dt-right,table.dataTable td.dt-right{text-align:right}table.dataTable th.dt-justify,table.dataTable td.dt-justify{text-align:justify}table.dataTable th.dt-nowrap,table.dataTable td.dt-nowrap{white-space:nowrap}table.dataTable thead th.dt-head-left,table.dataTable thead td.dt-head-left,table.dataTable tfoot th.dt-head-left,table.dataTable tfoot td.dt-head-left{text-align:left}table.dataTable thead th.dt-head-center,table.dataTable thead td.dt-head-center,table.dataTable tfoot th.dt-head-center,table.dataTable tfoot td.dt-head-center{text-align:center}table.dataTable thead th.dt-head-right,table.dataTable thead td.dt-head-right,table.dataTable tfoot th.dt-head-right,table.dataTable tfoot td.dt-head-right{text-align:right}table.dataTable thead th.dt-head-justify,table.dataTable thead td.dt-head-justify,table.dataTable tfoot th.dt-head-justify,table.dataTable tfoot td.dt-head-justify{text-align:justify}table.dataTable thead th.dt-head-nowrap,table.dataTable thead td.dt-head-nowrap,table.dataTable tfoot th.dt-head-nowrap,table.dataTable tfoot td.dt-head-nowrap{white-space:nowrap}table.dataTable tbody th.dt-body-left,table.dataTable tbody td.dt-body-left{text-align:left}table.dataTable tbody th.dt-body-center,table.dataTable tbody td.dt-body-center{text-align:center}table.dataTable tbody th.dt-body-right,table.dataTable tbody td.dt-body-right{text-align:right}table.dataTable tbody th.dt-body-justify,table.dataTable tbody td.dt-body-justify{text-align:justify}table.dataTable tbody th.dt-body-nowrap,table.dataTable tbody td.dt-body-nowrap{white-space:nowrap}table.dataTable,table.dataTable th,table.dataTable td{-webkit-box-sizing:content-box;box-sizing:content-box}.dataTables_wrapper{position:relative;clear:both;*zoom:1;zoom:1}.dataTables_wrapper .dataTables_length{float:left}.dataTables_wrapper .dataTables_filter{float:right;text-align:right}.dataTables_wrapper .dataTables_filter input{margin-left:0.5em}.dataTables_wrapper .dataTables_info{clear:both;float:left;padding-top:0.755em}.dataTables_wrapper .dataTables_paginate{float:right;text-align:right;padding-top:0.25em}.dataTables_wrapper .dataTables_paginate .paginate_button{box-sizing:border-box;display:inline-block;min-width:1.5em;padding:0.5em 1em;margin-left:2px;text-align:center;text-decoration:none !important;cursor:pointer;*cursor:hand;color:#333 !important;border:1px solid transparent;border-radius:2px}.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#333 !important;border:1px solid #979797;background-color:white;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));background:-webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:-o-linear-gradient(top, #fff 0%, #dcdcdc 100%);background:linear-gradient(to bottom, #fff 0%, #dcdcdc 100%)}.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{cursor:default;color:#666 !important;border:1px solid transparent;background:transparent;box-shadow:none}.dataTables_wrapper .dataTables_paginate .paginate_button:hover{color:white !important;border:1px solid #111;background-color:#585858;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));background:-webkit-linear-gradient(top, #585858 0%, #111 100%);background:-moz-linear-gradient(top, #585858 0%, #111 100%);background:-ms-linear-gradient(top, #585858 0%, #111 100%);background:-o-linear-gradient(top, #585858 0%, #111 100%);background:linear-gradient(to bottom, #585858 0%, #111 100%)}.dataTables_wrapper .dataTables_paginate .paginate_button:active{outline:none;background-color:#2b2b2b;background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));background:-webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:-o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);background:linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);box-shadow:inset 0 0 3px #111}.dataTables_wrapper .dataTables_paginate .ellipsis{padding:0 1em}.dataTables_wrapper .dataTables_processing{position:absolute;top:50%;left:50%;width:100%;height:40px;margin-left:-50%;margin-top:-25px;padding-top:20px;text-align:center;font-size:1.2em;background-color:white;background:-webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,0.9)), color-stop(75%, rgba(255,255,255,0.9)), color-stop(100%, rgba(255,255,255,0)));background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:-o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%);background:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 25%, rgba(255,255,255,0.9) 75%, rgba(255,255,255,0) 100%)}.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_processing,.dataTables_wrapper .dataTables_paginate{color:#333}.dataTables_wrapper .dataTables_scroll{clear:both}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody{*margin-top:-1px;-webkit-overflow-scrolling:touch}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td{vertical-align:middle}.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th>div.dataTables_sizing,.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td>div.dataTables_sizing{height:0;overflow:hidden;margin:0 !important;padding:0 !important}.dataTables_wrapper.no-footer .dataTables_scrollBody{border-bottom:1px solid #111}.dataTables_wrapper.no-footer div.dataTables_scrollHead table,.dataTables_wrapper.no-footer div.dataTables_scrollBody table{border-bottom:none}.dataTables_wrapper:after{visibility:hidden;display:block;content:"";clear:both;height:0}@media screen and (max-width: 767px){.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_paginate{float:none;text-align:center}.dataTables_wrapper .dataTables_paginate{margin-top:0.5em}}@media screen and (max-width: 640px){.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_filter{float:none;text-align:center}.dataTables_wrapper .dataTables_filter{margin-top:0.5em}}


table.DTCR_clonedTable.dataTable{position:absolute !important;background-color:rgba(255,255,255,0.7);z-index:202}div.DTCR_pointer{width:1px;background-color:#0259C4;z-index:201}


.dataTables_wrapper > .row {
    margin-left: -15px; padding-left: 0px; padding-right: 15px;
}

.hr-line-dashed {
  border-top: 1px dashed #e7eaec;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}

.text-box {
        background-color: #fff;
    color: #2e2e2e;
    border-radius: 4px;
    border-color: #c5c5c5;
        line-height: 1.6em;
    outline: 0 none;
    padding: 2px 0.3em;
        
    vertical-align: middle;
        border-style: solid;
    border-width: 1px;
}

#ManufacturerPrice, #CipPrice {
    width: 98% !important;
}

.pwGridPrice .k-grid-edit {
    color: transparent;
    min-width: 26px !important;
    overflow: hidden;
    width: 26px;
}

.pwGridPrice .k-grid-delete {
       color: transparent;
    min-width: 26px !important;
    overflow: hidden;
    width: 26px;
}


.hr-line-dashed2 {
    background-color: #ffffff;
    border-top: 1px dashed #e7eaec;
    color: #ffffff;
    height: 1px;
    margin: 10px 0;
}}



/*=========== =*/
#pwReport5_1 {
	float: left;
	/*width: 200px;*/
	padding-left: 0;
	padding-right: 15px;
	-moz-min-width: 70px;
	-ms-min-width: 70px;
	-o-min-width: 70px;
	-webkit-min-width: 70px;
	min-width: 70px;
}


.pwGridMin .k-grid-edit {
    color: transparent;
    min-width: 26px !important;
    overflow: hidden;
    width: 26px;
}

.pwGridMin .k-grid-delete {
       color: transparent;
    min-width: 26px !important;
    overflow: hidden;
    width: 26px;
}

.pwGridMin .k-grid-update {
    color: transparent;
    min-width: 26px !important;
    overflow: hidden;
    width: 26px;
}

.pwGridMin .k-grid-cancel {
    color: transparent;
    min-width: 26px !important;
    overflow: hidden;
    width: 26px;
}

.pw-readonly {
    background-color: rgb(224, 223, 223) !important;
    cursor: not-allowed !important;
}

/* reset everything to the default box model */

*, :before, :after
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* set a border-box model only to elements that need it */

.form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
.container,
.container-fluid,
.row,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* disable input  style*/
input[disabled] {
    background: #e3e3e3;
}

/* no point on disabled  */
.k-state-disabled {
    pointer-events: none;
}

.k-state-hided {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.custom-grid-menu .k-group.k-popup.k-reset {
    max-height: 450px !important;
}

.badge-info {
    background-color: #3a87ad !important;
}
.badge-info:hover {
    background-color: #2d6987 !important;
}

h4.finaldoc-header,
h5.finaldoc-header {
    font-weight: bold
}