<div class="row">
  <div class="col-md-12">
    <p class="text-center">Производитель</p>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Тип производителя</label>
          <div class="input-group">
            <input class="form-control" name="producer" disabled>
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>
            Организационная форма</label>
          <div class="input-group">
            <select class="form-control" name="organizationForm" disabled>
            </select>
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Страна</label>
          <div class="input-group">
            <select class="form-control" name="country" disabled>
            </select>
            <div class="input-group-append">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <p>Наименование на русском языке</p>
  </div>
  <div class="col-md-4">
    <p>Наименование на государственном</p>
  </div>
  <div class="col-md-4">
    <p>Наименование на английском языке</p>
  </div>
</div>

<br>

<div class="form-group row">
  <div class="col-4">
    <div class="form-check">
      <label class="form-check-label" [ngClass]="{'has-error-text':showErrors === true && displayRu.invalid}">
        отображение в РУ
      </label>
      <input class="form-check-input mg-left-20" type="radio" disabled name="displayRuOne">
    </div>
  </div>
  <div class="col-4">
    <div class="form-check">
      <label class="form-check-label" [ngClass]="{'has-error-text':showErrors === true && displayRu.invalid}">
        отображение в РУ
      </label>
      <input class="form-check-input mg-left-20" type="radio" disabled name="displayRuTwo">
    </div>
  </div>
  <div class="col-4">
    <div class="form-check">
      <label class="form-check-label">
        отображение в РУ
      </label>
      <input class="form-check-input mg-left-20" type="radio" name="displayRuThree" disabled>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <input class="form-control" name="displayRussian" disabled>
      <div class="input-group-append">
        <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <input class="form-control" name="displayOfficial" disabled>
      <div class="input-group-append">
        <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <input class="form-control" name="displayEnglish" disabled>
      <div class="input-group-append">
        <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label [ngClass]="{'has-error-text':showErrors === true && permittedDocument.invalid}">№ разрешительного
        документа</label>
      <div class="input-group">
        <input class="form-control" name="permittedDocument" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Дата выдачи</label>
      <div class="input-group">
        <div class="input-group">
          <input class="form-control" name="extraditionDate" disabled >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary fa fa-calendar fa-lg" type="button">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Срок действия</label>
      <div class="input-group">
        <input class="form-control" name="termDate" disabled>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary fa fa-calendar fa-lg" type="button">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label>Фамилия первого руководителя</label>
      <div class="input-group">
        <input class="form-control" name="leaderLastname" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label>Имя первого
        руководителя</label>
      <div class="input-group">
        <input class="form-control" name="leaderFirstname" disabled >
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label [ngClass]="{'has-error-text':showErrors === true && leaderMiddlename.invalid}">Отчество первого
        руководителя</label>
      <div class="input-group">
        <input class="form-control" name="leaderMiddlename" disabled >
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label [ngClass]="{'has-error-text':showErrors === true && leaderPosition.invalid}">Должность первого
        руководителя</label>
      <div class="input-group">
        <input class="form-control" name="leaderPosition" disabled >
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label [ngClass]="{'has-error-text':showErrors === true && leaderPhone.invalid}">Телефон, факс</label>
      <div class="input-group">
        <input class="form-control" name="leaderPhone" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label [ngClass]="{'has-error-text':showErrors === true && leaderEmail.invalid}">Электронная почта</label>
      <div class="input-group">
        <input class="form-control" name="leaderEmail" disabled >
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label [ngClass]="{'has-error-text':showErrors === true && contact.invalid}">Фамилия, имя, отчество контактного
        лица</label>
      <div class="input-group">
        <input class="form-control" name="contact" disabled >
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Должность контактного
        лица</label>
      <div class="input-group">
        <input class="form-control" name="leaderMiddlename" disabled >
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Юридический адрес</label>
      <div class="input-group">
        <input class="form-control" name="legalAddress" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Фактический адрес</label>
      <div class="input-group">
        <input class="form-control" name="leaderMiddlename" disabled>
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<p>Укажите язык отображения в РУ</p>
