.content{
  background-color: white;
  height: 100%;
  padding: 5px;
  margin-top: 50px;
}

.content-in{
  background-color: white;
  border: solid 5px #f1f1f1;
  height: 100%;
}

.app.sidebar-fixed .sidebar-outer {
  position: relative;
  /* top: 0; */
  z-index: 0;
  /* padding-bottom: 46px; */
}

.app.sidebar-fixed .main-content {
  padding-left: 0px;
  margin-top: 50px;
}
