@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Просмотр договора <strong>№Д-1587 от 15 ноября 2016</strong></h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li>
                <a>Договора</a>
            </li>
            <li class="active">
                <strong>Просмотр договора</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="createExpetiseObject">
    <input type="hidden" ng-init="object.AttachPath='@Model'" />
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Карточка заключения</h5>
                </div>
                <div ng-if="object.ProjectStateCode=='draft'" class="ibox-content ibox-heading">
                    <div class="note-font btn-group">
                        <button class="btn btn-default btn-sm" type="button" ng-click="editProject()" security bp-type="project" bp-action="edit" bp-id="{{object.Id}}"><i class="fa fa-pencil"></i> Согласовать</button>
                        <button class="btn btn-default btn-sm" type="button" ng-click="send()" security bp-type="project" bp-action="execute" bp-id="{{object.Id}}"><i class="fa fa-send-o"></i> Отказать</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <dl class="dl-horizontal">
                        <dt>Номер :</dt>
                        <dd>{{object.Number}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Дата:</dt>
                        <dd>{{object.ApplicationDate | date: 'dd.MM.yyyy HH:mm:ss'}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Заявитель:</dt>
                        <dd>{{object.ClientName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Наименование объекта экспертизы:</dt>
                        <dd>{{object.NameRu}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Вид предоставляемой документации:</dt>
                        <dd>{{object.DesignStageDictName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Вид работы:</dt>
                        <dd>{{object.BuildingTypeDictName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Область или город республиканского значения:</dt>
                        <dd>{{object.KatoParentName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Город, район:</dt>
                        <dd>{{object.TerritoryKatoDictName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Вид объекта экспертизы:</dt>
                        <dd>{{object.ObjectTypeDictName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Место проведения экспертизы:</dt>
                        <dd>{{object.ExecutorName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Место проведения санитарно-эпидемиологической экспертизы:</dt>
                        <dd>{{object.ExecutorSesName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Место проведения экологической экспертизы:</dt>
                        <dd>{{object.ExecutorEcoName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Класс опасности (для СЭС экспертизы):</dt>
                        <dd>{{object.DangerClassDictName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Категория (для эколгичской экспертизы):</dt>
                        <dd>{{object.CategoryEccologyDictName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Первичность рассмотрения:</dt>
                        <dd>{{object.PrimaryReviewDictName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Отрасль строителсьва:</dt>
                        <dd>{{object.BuildingBranchDictName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Уровень ответственности:</dt>
                        <dd>{{object.LevelResponsibilityDictName}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Заказчик строительства:</dt>
                        <dd>{{object.CustomerConstruction}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Генпроектировщик:</dt>
                        <dd>{{object.Developer}}</dd>
                    </dl>
                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Источник финансирования:</dt>
                        <dd>{{object.SourceFinancingDictName}}</dd>
                    </dl>

                    <div class="hr-line-dashed"></div>
                    <dl class="dl-horizontal">
                        <dt>Программа:</dt>
                        <dd>{{object.Program}}</dd>
                    </dl>

                </div>
            </div>

        </div>
    </div>
</div>