@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Все</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li>
                <a>Заклюяения</a>
            </li>
            <li class="active">
                <strong>Все</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="projectBaseCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <grid-object url="/Client/Project/ReadIndex" column-order="1"></grid-object>
                    <p>Тут список заключений</p>
                    <p>Посмотреть заключения <a href="@Url.Action("Details", "Conclusion")">нажать тут</a></p>
                </div>
            </div>
        </div>
    </div>
</div>