<div class="card-body pt-0 widget-body pd0">
  <div class="table-responsive">

    <div class="col-md-12 imn-header">
      <p class="imn-p">Список</p>
    </div>

    <ng2-smart-table class="table table-bordered border-lf-none"
                     [settings]="registerSettings"
                     [source]="data"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (rowSelect)="onRowSelect($event)"
                     (userRowSelect)="onUserRowSelect($event)"
                     (rowHover)="onRowHover($event)"></ng2-smart-table>
    <br>
    <button class="btn btn-gray btn-sm">Сформировать акт</button>
    <button type="button" class="btn btn-warning btn-sm"
            (click)="removeObject()" >Удалить список</button>
  </div>
</div>

