.bg-blue {
  background: #004d86;
  padding: 0;
}

.mg-left-30 {
  margin-left: 30px;
}

.exp-menu-item {
  margin-bottom: 0px;
  color: white;
  font-weight: 600;
  padding: 14px 20px 14px 25px;
}

#navlist li:hover {
  background-color: #2EA620;
}

li:hover {
  background: green;
  background-color: #05548f;
  text-decoration: none;
  cursor: pointer;
}

.menu-btn {
  background-color: #004d86;
  border: none;
  cursor: pointer;
}

.menu-btn:hover {
  background: green;
  background-color: #05548f;
}

.menu-btn:focus  {
  outline: none;
}

.ext-ul{
  box-shadow: none;
  border: 1px solid #e7eaec;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}

.ext-menu-item{
  font-size: 12px;
  text-shadow: none;
  padding: 10px 15px 10px 20px;
  color: #676a6c;
}
