<nav class="navbar navbar-expand-lg navbar-light bg-blue">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mg-left-30">
      <li>
        <a><p class="exp-menu-item">Домашняя страница</p></a>
      </li>
      <li>
        <div class="btn-group">
          <button type="button" class="menu-btn exp-menu-item" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            Ценообразование
          </button>
          <div class="dropdown-menu ext-ul">
            <a class="dropdown-item ext-menu-item" href="#">Все</a>
            <a class="dropdown-item ext-menu-item" href="#">Список регистраций цен на ЛС</a>
            <a class="dropdown-item ext-menu-item" href="#">Список регистраций цен на ИМН</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item ext-menu-item" href="#">Список регистраций цен на ИМН</a>
          </div>
        </div>
      </li>
      <li>
        <a><p class="exp-menu-item">Домашняя страница</p></a>
      </li>
      <li>
        <div class="btn-group">
          <button type="button" class="menu-btn exp-menu-item" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            Ценообразование
          </button>
          <div class="dropdown-menu ext-ul">
            <a class="dropdown-item ext-menu-item" href="#">Все</a>
            <a class="dropdown-item ext-menu-item" href="#">Список регистраций цен на ЛС</a>
            <a class="dropdown-item ext-menu-item" href="#">Список регистраций цен на ИМН</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item ext-menu-item" href="#">Список регистраций цен на ИМН</a>
          </div>
        </div>
      </li>
      <li>
        <a><p class="exp-menu-item">Домашняя страница</p></a>
      </li>
      <li>
        <div class="btn-group">
          <button type="button" class="menu-btn exp-menu-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            ОБК
          </button>
          <div class="dropdown-menu ext-ul">
            <a class="dropdown-item ext-menu-item" routerLink="/ext/contracts">Договоры</a>
            <a class="dropdown-item ext-menu-item" routerLink="/ext/declarations">Заявки</a>
          </div>
        </div>
      </li>

      <li>
        <div class="btn-group">
          <button type="button" class="menu-btn exp-menu-item dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            91116584131818
          </button>
          <div class="dropdown-menu ext-ul">
            <a class="dropdown-item ext-menu-item" href="#">Просмотр профиля</a>
            <a class="dropdown-item ext-menu-item" href="#">Изменить пароль</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item ext-menu-item" href="#">Выход</a>
          </div>
        </div>
      </li>

    </ul>
  </div>
</nav>

