@using PW.Ncels.Database.Constants
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Все</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li>
                <a>Сертификаты ЗБК</a>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Заключение о безопасности и качества продукции
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content ibox-heading">
                    <div class="note-font btn-group">
                        <div class="btn-group" role="group">
                            Поиск заключений о безопасности и качества
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <a href="/ZBKCopy/ZbkList" class="btn btn-info btn-sm">Создать запрос на копию ЗБК</a>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <table id="ZBKCopies" dt-options="dtOptions" dt-columns="dtColumns" class="table table-striped table-bordered table-hover dataTable"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        initFillTable();
    });

    function str(value) {
        if (value == null) {
            return "";
        }
        var date = new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10));
        var month = date.getMonth() + 1;
        return date.getDate() + "." + month + "." + date.getFullYear();
    }

    function initFillTable() {
        $.ajax({
            type: 'POST',
            url: '/ZBKCopy/ZBKCopiesCreated/',
            data: {
                declarationNumber: '', declarationType: '',
                decisionNumber: '', decisionDate: ''
            },
            success: function (data) {
                if (data.success == true) {
                    initSamplesTable(data.result);
                }
            }
        });
    }

    function initSamplesTable(data) {
        $("#ZBKCopies").DataTable({
            autoWidth: false,
            searching: false,
            paging: false,
            bInfo: false,
            data: data,
            order: [1, 'asc'],
            "columns": [
                { data: 'expConclusionNumber', sWidth: "50px", title: "№ заключения" },
                {
                    data: 'expStartDate', sWidth: "20px", title: "Дата выдачи",
                    render: function (data, type, row, meta) {
                        return str(row.expStartDate);
                    }
                },
                { data: 'status', sWidth: "20px", title: "Статус" },
                { data: 'copyQuantity', sWidth: "50px", title: "Количество копии" },
                { data: 'sendDate', sWidth: "50px", title: "Дата отправки",
                     render: function (data, type, row, meta) {
                        return str(row.sendDate);
                    }
                },
                {
                    data: 'stageExpDocId', sWidth: "50px", title: "",

                    render: function (data, type, row, meta) {
                        var res = '<div class="btn-group" style="float: right;margin-right: 40px">' +
                            '<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Операции <span class="caret"></span></button>' +
                            '<ul class="dropdown-menu btnmenu"> ' +
                            editBtn(row.zbkCopyId) +
                            '</ul></div>'
                        return res;
                    }
                },
            ]
        });

    }
    function editBtn(zbkCopyId) {
        var copyId = zbkCopyId == undefined ? "" : zbkCopyId;

        return "<li class=\"btn-info\"><a href=\"/ZBKCopy/Edit?zbkCopyId=" + copyId + " \" >" +
            '<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Просмотр</a></li>'
    }

</script>


