<div class="btn-group  pull-right" role="group" >
  <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#md-modal"><i class="fa fa-send-o"  ></i>Подписать и отправить </button>
  <div class="modal fade" id="md-modal" tabindex="-1" role="dialog" aria-labelledby="modal-default-label" style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header state modal-primary">
          <h4 class="modal-title" id="modal-default-label" [hidden]="fileUpload">Выбор ЭЦП</h4>
          <h4 class="modal-title" id="modal-default-label1" [hidden]="!fileUpload">Введите пароль</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div>
          <!--class="modal-body"-->
          <div class="form-group">
            <div class="input-group file-upload">
              <input type="file" (change)="fileChange(input)" #input class="file-upload-btn" [hidden]="fileUpload"/>
              <input type="text" class="form-control btn-group-sm" placeholder="Choose a file..." value="{{file}}" [hidden]="fileUpload">
              <input type="password" class="form-control btn-group-sm" placeholder="******" [hidden]="!fileUpload">
              <i class="fa fa-times delete-file" (click)="removeFile()" *ngIf="file" [hidden]="fileUpload" ></i>
               <span class="input-group-append">
                  <button class="btn btn-primary" type="button" [hidden]="fileUpload" ><i class="fa fa-upload" [hidden]="fileUpload" ></i></button>
               </span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"  [hidden]="fileUpload" (click)="changeHiddenFileUpload()">Подписать</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" [hidden]="!fileUpload" (click)="changeVisibleFileUpload()">Ok</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="changeVisibleFileUpload()">Отменить</button>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-warning btn-sm"><i class=" fa fa-send-o"></i>Подписать ЭЦП и отправить в ЦОЗ</button>
  <button type="button" class="btn btn-warning btn-sm"><i class=" fa fa-send-o"></i>Отправить в ЦОЗ (в случае отсутствия ЭЦП)</button>
  <button type="button" class="btn btn-success btn-sm"(click)="sendToNcels()"><i class=" fa fa-save"></i>Сохранить</button>
</div>
