<form #templateForm="ngForm" (change)="model=model">
  <div class="container">
    <h5>Наименование</h5>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label class="required" [ngClass]="{'has-error-text':showErrors === true && nameKz.invalid}">На
            государственном языке</label>
          <div class="input-group">
            <input class="form-control" placeholder="Введите значение"
                   #nameKz="ngModel" name="nameKz"
                   [ngClass]="{'has-error':showErrors === true && nameKz.invalid}"
                   [(ngModel)]="model.nameKz" required
                   (change)="changeModel($event.target)"
            >
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="required">На русском языке</label>
          <div class="input-group">
            <input type="text" class="form-control" id="nameRu" placeholder="Введите значение"
                   #nameRu="ngModel" name="nameRu"
                   [ngClass]="{'has-error':showErrors === true && nameRu.invalid}"
                   [(ngModel)]="model.nameRu" required
                   (change)="changeModel($event.target)"
            >
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5>Область применения</h5>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label class="required">На государственном языке</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Введите значение"
                   #applicationAreaKz="ngModel" name="applicationAreaKz"
                   [ngClass]="{'has-error':showErrors === true && applicationAreaKz.invalid}"
                   [(ngModel)]="model.applicationAreaKz" required
                   (change)="changeModel($event.target)"
            >
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="required">На русском языке</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Введите значение"
                   #applicationAreaRu="ngModel" name="applicationAreaRu"
                   [ngClass]="{'has-error':showErrors === true && applicationAreaRu.invalid}"
                   [(ngModel)]="model.applicationAreaRu" required
                   (change)="changeModel($event.target)"
            >
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h5>Назначение</h5>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label class="required">На государственном языке</label>
          <div class="input-group">
            <input type="text" class="form-control" id="useKz" placeholder="Введите значение"
                   #appointmentKz="ngModel" name="appointmentKz"
                   [ngClass]="{'has-error':showErrors === true && appointmentKz.invalid}"
                   [(ngModel)]="model.appointmentKz" required
                   (change)="changeModel($event.target)"
            >
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="form-group">
          <label class="required">На русском языке</label>
          <div class="input-group">
            <input type="text" class="form-control" id="useRu" placeholder="Введите значение"
                   #appointmentRu="ngModel" name="appointmentRu"
                   [ngClass]="{'has-error':showErrors === true && appointmentRu.invalid}"
                   [(ngModel)]="model.appointmentRu" required
                   (change)="changeModel($event.target)"
            >
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <div class="alert alert-dark">
          <h5>Тип медицинской техники</h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
          <label class="required">Закрытая система</label>
        </div>

        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="isClosedSystem" value="True"
                     [checked]="model.isClosedSystem" (change)="changeModel($event.target)" >Да
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="isClosedSystem" value="False"
                     [checked]="model.isClosedSystem==false" (change)="changeModel($event.target)" >Нет
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label class="required">Обоснование от производителя (указать страницу регистрационного досье)</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Введите значение"
                   #rationaleManufacturer="ngModel" name="rationaleManufacturer"
                   [ngClass]="{'has-error':showErrors === true && rationaleManufacturer.invalid}"
                   [(ngModel)]="model.rationaleManufacturer" required
                   (change)="changeModel($event.target)"
            >
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <label class="required">Класс в зависимости от степени потенциального риска применения</label>
        <div class="form-group">
          <div class="input-group">
            <app-reference-standart [showItemErrors]="showErrors" [referenceName]="degreeRiskClass"
                                         style="width: calc(100% - 40px);" name="ContractForm2"
                                         [(ngModel)]="model.degreeRiskClassId" required #ContractForm1="ngModel"
                                         (changeModelParent)="changeModel($event)"
            ></app-reference-standart>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h5>Признаки</h5>
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
          <label class="required">Бланк</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="blanks" value="option1">Да
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="blanks" value="option2" checked>Нет
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
          <label class="required">Средство измерения</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="measurements" value="option1">Да
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="measurements" value="option2" checked>Нет
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
          <label class="required">ИМН и МТ для ин витро диагностики</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="diagnostics" value="option1">Да
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="diagnostics" value="option2" checked>Нет
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
          <label class="required">Стирильное</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="styrile" value="option1">Да
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="styrile" value="option2" checked>Нет

          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
          <label class="required">В наличие лекарственное средства</label>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="availability" value="option1">Да
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="availability" value="option2" checked>Нет
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-info w-100p mb-1">Сохранить</button>
    <button type="button" class="btn btn-info w-100p mb-1">Отмена</button>

  </div>
</form>
