
<button type="button" class="btn btn-primary" (click)="showIconModal()">showIconModal</button>

<div class="container">
  <h5>Наименование</h5>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label for="nameKz">На государственном языке</label>
        <input type="text" class="form-control" id="nameKz" placeholder="Введите значение">
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label for="nameRu">На русском языке</label>
        <input type="text" class="form-control" id="nameRu" placeholder="Введите значение">
      </div>
    </div>
  </div>
  <h5>Область применения</h5>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label for="nameKz">На государственном языке</label>
        <select class="form-control">
          <option>выберите значение</option>
        </select>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label for="nameRu">На русском языке</label>
        <select class="form-control">
          <option>выберите значение</option>
        </select>
      </div>
    </div>
  </div>
  <h5>Назначение</h5>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label for="useKz">На государственном языке</label>
        <input type="text" class="form-control" id="useKz" placeholder="Введите значение">
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group">
        <label for="useRu">На русском языке</label>
        <input type="text" class="form-control" id="useRu" placeholder="Введите значение">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <div class="alert alert-dark">
        <h5>Тип медицинской техники</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <label>Закрытая система</label>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="closed" id="inlineRadio1" value="option1">Да
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="closed" id="inlineRadio2" value="option2" checked>Нет
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group">
        <label for="useKz">Обоснование от производителя (указать страницу регистрационного досье)</label>
        <input type="text" class="form-control" id="Justification" placeholder="Введите значение">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <label>Класс в зависимости от степени потенциального риска применения</label>
      <div class="form-group">
        <select class="form-control">
          <option>выберите значение</option>
        </select>
      </div>
    </div>
  </div>

  <h5>Признаки</h5>
  <div class="row">
    <div class="col-sm-4">
      <label>Бланк</label>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="blanks" value="option1">Да
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="blanks" value="option2" checked>Нет
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>Средство измерения</label>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="measurements" value="option1">Да
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="measurements" value="option2" checked>Нет
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>ИМН и МТ для ин витро диагностики</label>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="diagnostics" value="option1">Да
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="diagnostics" value="option2" checked>Нет
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>Стирильное</label>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="styrile" value="option1">Да
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="styrile" value="option2" checked>Нет
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <label>В наличие лекарственное средства</label>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="availability" value="option1">Да
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="availability" value="option2" checked>Нет
          </label>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-info w-100p mb-1">Сохранить</button>
  <button type="button" class="btn btn-info w-100p mb-1">Отмена</button>

</div>
