<button type="button" class="btn btn-gray btn-sm"
 [hidden]="MeetRequirements"
        (click)="CozExecutorAgreedRequest()">
  <i class="fa fa-check"></i>Отправить на подписание
</button>
<button type="button" class="btn btn-gray btn-sm"
        [hidden]="NotMeetRequirements"
        (click)="CozExecutorNotAgreedRequest()">
  Отказать в слгласовании
</button>
<button type="button" class="btn btn-gray btn-sm">
  Просмотр договора
</button>
<div class="modal fade" id="JrDirector" tabindex="-1" role="dialog"
     aria-labelledby="modal-default-label" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-12">
            <label>Заместитель генерального директора</label>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отправить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist" value="fl">
    <a class="nav-item nav-link active" data-toggle="tab" role="tab"
       aria-controls="nav-home" aria-selected="true"
       (click)="setDeclarationTab('manufacturer')">Производитель</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab"
       aria-controls="nav-profile" aria-selected="false" (click)="setDeclarationTab('declarant')">Заявитель</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab"
       aria-controls="nav-contact" aria-selected="false" (click)="setDeclarationTab('payer')">Плательщик</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab"
       aria-controls="nav-contact" aria-selected="false" (click)="setDeclarationTab('cost')">Стоимость работ</a>
  </div>
</nav>
<div class="pd-20">
  <div [hidden]="type !== 'manufacturer'">
    <app-int-manufacturer [idContractChild]="idContract"
                          [idManufacurIn]="idManufactur"></app-int-manufacturer>
  </div>
  <div [hidden]="type !== 'declarant'">
    <app-int-declarant [idContractChild]="idContract"
                       [idDeclarantIn]="idDeclarant"></app-int-declarant>
  </div>
  <div [hidden]="type !== 'payer'">
    <app-int-payer [idContractChild]="idContract"
                   [idPayerIn]="idPayer"></app-int-payer>
  </div>
  <div [hidden]="type !== 'cost'">
    <app-int-cost [idContractChild]="idContract"></app-int-cost>
  </div>
</div>
