<button type="button" class="btn btn-gray btn-sm"
 [hidden]="MeetRequirements"    data-toggle="modal" data-target="#md-modal1">
  <i class="fa fa-check"></i>Отправить на подписание
</button>
<div class="modal fade" id="md-modal1" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
     style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-primary">
        <h4 class="modal-title" id="modal-default-label1">Подтвердите действие</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        Завершить процесс?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="CozExecutorAgreedRequest()">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-gray btn-sm" data-toggle="modal" data-target="#md-modal3">
  Просмотр договора
</button>
<div class="modal fade" id="md-modal3" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
     style="display: none;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-primary">
        <h5 id="modal-default-label">Просмотр договора</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <object   [data]="urlContract" style="width:100%;height:500px"></object>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-gray btn-sm"
        [hidden]="NotMeetRequirements"
        data-toggle="modal" data-target="#md-modal2">
  Отказать в согласовании
</button>
<div class="modal fade" id="md-modal2" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
     style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-primary">
        <h4 class="modal-title" id="modal-default-label2">Подтвердите действие</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="CozExecutorNotAgreedRequest()">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<button  [hidden]="returnToDeclarant" type="button" class="btn btn-gray btn-sm" data-toggle="modal" data-target="#md-modal4">
  На корректировку
</button>
<div class="modal fade" id="md-modal4" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
     style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-primary">
        <h4 class="modal-title" id="modal-default-label4">Подтвердите действие</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        Завершить процесс?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="ReturnToDeclarant()">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="JrDirector" tabindex="-1" role="dialog"
     aria-labelledby="modal-default-label" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header state modal-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-12">
            <label>Заместитель генерального директора</label>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Отправить</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist" value="fl">
    <a class="nav-item nav-link active" data-toggle="tab" role="tab"
       aria-controls="nav-home" aria-selected="true"
       (click)="setDeclarationTab('manufacturer')">Производитель</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab"
       aria-controls="nav-profile" aria-selected="false" (click)="setDeclarationTab('declarant')">Заявитель</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab"
       aria-controls="nav-contact" aria-selected="false" (click)="setDeclarationTab('payer')">Плательщик</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab"
       aria-controls="nav-contact" aria-selected="false" (click)="setDeclarationTab('cost')">Стоимость работ</a>
  </div>
</nav>
<div class="pd-20">
  <div [hidden]="type !== 'manufacturer'">
    <app-int-manufacturer [idContractChild]="idContract"
                          [idManufacurIn]="idManufactur"></app-int-manufacturer>
  </div>
  <div [hidden]="type !== 'declarant'">
    <app-int-declarant [idContractChild]="idContract"
                       [idDeclarantIn]="idDeclarant"></app-int-declarant>
  </div>
  <div [hidden]="type !== 'payer'">
    <app-int-payer [idContractChild]="idContract"
                   [idPayerIn]="idPayer"></app-int-payer>
  </div>
  <div [hidden]="type !== 'cost'">
    <app-int-cost [idContractChild]="idContract"></app-int-cost>
  </div>
</div>
