.m-b {
  margin-bottom: 15px;
}

.panel-body {
  background: #fff;
  border: 1px solid #e7eaec;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}

.my-drop-zone {
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

.pd75 {
  padding: 0.75rem;
}

.mg0 {
  margin-bottom: 0;
}

a {
  color: #676a6c;
  font-weight: 600;
  font-size: 13px;
}
