<div [innerHtml]="htmlToAdd"></div>



<button type="button" class="btn btn-primary" (click)="getid()">test get id</button>

<button type="button" class="btn btn-primary" (click)="addIcon()">addIcon</button>
<button type="button" class="btn btn-primary" (click)="showIcon()">showIcon</button>

<button type="button" class="btn btn-primary" (click)="removeIcon()">removeIcon</button>

<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#iconModal">-->
  <!--Launch demo modal-->
<!--</button>-->




