<div class="container">
  <div class="form-group">
    <h3>{{myDate | date:'dd/MM/yyyy'}}</h3>

    <input type="text" class="form-control" value="{{dateTest}}">
    <label class="required">Айка внутрений</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="внутренний" readonly [(ngModel)]="displayField1" >
      <app-icon-int-button
        [moduleType]="moduleType1"
        [objectId]="objectId1"
        [fieldName]="fieldName1"
        [valueField]="valueField1"
        [displayField]="displayField1"
      >
      </app-icon-int-button>
    </div>
    <button type="button" (click)="getTest()" class="btn btn-warning btn-sm">Test</button>
    <br>
    <label class="required">Айка внешний</label>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="внешний" [(ngModel)]="textInput">
      <app-icon-ext-button
        [moduleType]="moduleType1"
        [objectId]="objectId1"
        [fieldName]="fieldName1"
        [valueField]="textInput"
      >
      </app-icon-ext-button>
    </div>

  </div>


  <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
</div>
