<div class="form-group">
  <h3>{{myDate | date:'dd/MM/yyyy'}}</h3>

  <input type="text" class="form-control" value="{{dateTest}}">
  <label class="required">Айка внутрений</label>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="внутренний" readonly>
    <app-icon-int-button
      [moduleType]="moduleType"
      [objectId]="objectId"
      [fieldName]="fieldName"
      [valueField]="valueField"
      [displayField]="displayField"
      >
    </app-icon-int-button>
  </div>

  <label class="required">Айка внешний</label>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="внешний">
    <app-icon-ext-button
      [moduleType]="moduleType"
      [objectId]="objectId"
      [fieldName]="fieldName"
    >
    </app-icon-ext-button>
  </div>

</div>


<ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
