@model Guid?
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="MaterialBase.materialGridController">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Список всех материалов
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content ibox-heading">
                    <div class="note-font btn-group">
                        <div class="btn-group" role="group">
                            <button class="btn btn-default btn-sm" type="button" onclick="location.href = '@Url.Action("CreateMaterial", "Material")?id=' + $('#modelId').val()">
                                <i class="fa fa-file-text-o"></i> Добавить материал
                            </button>
                            <button class="btn btn-default btn-sm" type="button" ng-click="edit()" ng-disabled="localCurrentRowId == null">
                                <i class="fa fa-pencil-square-o"></i> Редактировать
                            </button>
                            <button class="btn btn-danger btn-sm" type="button" ng-click="remove()" ng-disabled="localCurrentRowId == null">
                                <i class="fa fa-trash"></i> Удалить
                            </button>
                            
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12" style="padding-left: 0px;">
                            <grid-object url="@Url.Action("ReadMaterialListData", "Material", new { drugDeclarationId = Model })" column-order="1">
                            </grid-object>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>