<div class="pd-20">
  <div class="form-group row">
    <label class="col-4 col-form-label">Вид регистрации</label>
    <div class="col-5">
      <div class="input-group">
        <select class="form-control" id="exampleSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      </div>
    </div>
  </div>
  <p>Данные с государственного реестра Республики Казахстан</p>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-2 col-form-label">Вид регистрации</label>
        <div class="col-5">
          <div class="input-group">
            <input>
            <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
