<div id="accordion-1" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1. Доверенность на менеджера
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" data-parent="#accordion-1" role="tabpanel" aria-labelledby="headingOne">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <input type="file" class="pd75" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>

          <div class="col-md-9">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Наименование</th>
                <th>Размер</th>
                <th>Прогресс</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress mg0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                  </button>
                  <button type="button" class="btn btn-warning btn-sm"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>


<div id="accordion-2" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne2">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
          2. Доверенность от производителя
        </a>
      </h5>
    </div>
    <div id="collapseOne2" class="collapse" data-parent="#accordion-2" role="tabpanel" aria-labelledby="headingOne2">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <input type="file" class="pd75" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>

          <div class="col-md-9">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Наименование</th>
                <th>Размер</th>
                <th>Прогресс</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress mg0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                  </button>
                  <button type="button" class="btn btn-warning btn-sm"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div id="accordion-3" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne3">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
          3. Список документов для проверки суммы договора
        </a>
      </h5>
    </div>
    <div id="collapseOne3" class="collapse" data-parent="#accordion-3" role="tabpanel" aria-labelledby="headingOne3">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <input type="file" class="pd75" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>

          <div class="col-md-9">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Наименование</th>
                <th>Размер</th>
                <th>Прогресс</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress mg0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                  </button>
                  <button type="button" class="btn btn-warning btn-sm"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

