
<div id="right-sidebar" ng-show="rightSidebar" class="sidebar-open">
    <div class="sidebar-container" full-scroll>

        <ul class="nav nav-tabs navs-2">

            <li ng-class="{active: tab1}">
                <a ng-click="tab1 = true; tab2 = false;" ng-init="tab1 = true">
                    Госреестр
                </a>
            </li>
            <li ng-class="{active: tab2}">
                <a ng-click="tab2 = true; tab1 = false;">
                    Законы
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane" ng-class="{active: tab2}">
                <div class="sidebar-title">
                    <h3> <i class="fa fa-cube"></i> Законодательство формации</h3>
                    <small><i class="fa fa-tim"></i> Постановления и другие документы.</small>
                </div>
                <div>
                    <div class="sidebar-message">
                        <a target="_blank" rel="external" href="http://adilet.zan.kz/rus/docs/Z010000242_">
                            <div class="media-body">
                                Законодательство фармации № 1
                                <br>
                                <small class="text-muted">Закон РК от 16 июля 2001 года № 242</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a target="_blank" rel="external" href="http://adilet.zan.kz/rus/docs/Z010000242_">
                            <div class="media-body">
                                Законодательство фармации № 2
                                <br>
                                <small class="text-muted">Закон РК от 16 июля 2001 года № 242</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a target="_blank" rel="external" href="http://adilet.zan.kz/rus/docs/Z010000242_">
                            <div class="media-body">
                                Законодательство фармации № 3
                                <br>
                                <small class="text-muted">Закон РК от 16 июля 2001 года № 242</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a target="_blank" rel="external" href="http://adilet.zan.kz/rus/docs/Z010000242_">
                            <div class="media-body">
                                Законодательство фармации № 4
                                <br>
                                <small class="text-muted">Закон РК от 16 июля 2001 года № 242</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a target="_blank" rel="external" href="http://adilet.zan.kz/rus/docs/Z010000242_">
                            <div class="media-body">
                                Законодательство фармации № 5
                                <br>
                                <small class="text-muted">Закон РК от 16 июля 2001 года № 242</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a target="_blank" rel="external" href="http://adilet.zan.kz/rus/docs/Z010000242_">
                            <div class="media-body">
                                Законодательство фармации № 6
                                <br>
                                <small class="text-muted">Закон РК от 16 июля 2001 года № 242</small>
                            </div>
                        </a>
                    </div>
                    <div class="sidebar-message">
                        <a target="_blank" rel="external" href="http://adilet.zan.kz/rus/docs/Z010000242_">
                            <div class="media-body">
                                Законодательство фармации № 7
                                <br>
                                <small class="text-muted">Закон РК от 16 июля 2001 года № 242</small>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

            <div class="tab-pane" ng-class="{active: tab1}">
                <div class="sidebar-title">
                    <h3> <i class="fa fa-database"></i> Госреестры</h3>
                    <small><i class="fa fa-tim"></i> ЛС, ИМН и МТ </small>
                </div>
                <ul class="sidebar-list">
                    <li>
                        <a target="_blank" rel="external" href="#">
                            <span class="label label-primary pull-right">Обновлено</span>
                            <h4>Государственный реестр лекарственных средств</h4>
                            Государственный реестр лекарственных средств, изделий медицинского назначения и медицинской техники издается в соответствии с  приказом МЗСР РК №364 от 23.06.08г. «Об утверждении Правил ведения Государственного реестра ЛС, ИМН и МТ».
                            <div class="small text-muted m-t-xs">23.06.2008</div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="external" href="#">
                            <span class="label label-primary pull-right">Обновлено</span>
                            <h4>Государственный реестр изделий медицинского назначения</h4>
                            Государственный реестр лекарственных средств, изделий медицинского назначения и медицинской техники издается в соответствии с  приказом МЗСР РК №364 от 23.06.08г. «Об утверждении Правил ведения Государственного реестра ЛС, ИМН и МТ».
                            <div class="small text-muted m-t-xs">23.06.2008</div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="external" href="#">
                            <span class="label label-primary pull-right">Обновлено</span>
                            <h4>Государственный реестр медицинской техники</h4>
                            Государственный реестр лекарственных средств, изделий медицинского назначения и медицинской техники издается в соответствии с  приказом МЗСР РК №364 от 23.06.08г. «Об утверждении Правил ведения Государственного реестра ЛС, ИМН и МТ».
                            <div class="small text-muted m-t-xs">23.06.2008</div>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

    </div>
</div>