
<div class="row border-bottom" >
    <nav class="navbar navbar-static-top pw-nav2" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            @*<span minimaliza-sidebar></span>*@
            <div class="visible-lg"><img style="margin-bottom: 10px;margin-left: 65px;margin-top: 10px;" src="~/Content/img/ncels.png" /></div>
            <div class="visible-md"><img style="margin-bottom: 10px;margin-left: 65px;margin-top: 10px;" src="~/Content/img/ncels.png" /></div>
            <div class="visible-xs"><img style="margin-bottom: 10px;margin-left: 65px;margin-top: 10px;" src="~/Content/img/ncels.png" /></div>
            <div class="visible-sm"><img style="margin-bottom: 10px;margin-left: 65px;margin-top: 10px;" src="~/Content/img/ncels.png" /></div>
        </div>
        <ul class="nav navbar-top-links navbar-right" data-ng-controller="navbarNotification" style="margin-top: 19px; margin-right: 60px;">
            <li uib-dropdown>
                <a class="count-info" uib-dropdown-toggle>
                    <i class="fa fa-bell"></i> <span id="topNavCountNew" class="label label-warning">@ViewBag.NotificationCount</span>
                </a>
                <ul class="dropdown-alerts" uib-dropdown-menu >
                    <li class="divider"></li>
                    <!--goo-->
                    <li ng-repeat="item in notification">
                        <a ui-sref="profile" href="@Url.Action("Index", "Notification", new { area = "" })">
                            <div>
                                <span class="pull-right text-muted small">{{item.CreatedDate.slice(6,-2)  | date:'dd.MM.yyyy HH:mm'}}</span>
                                <i class="fa fa-bell-o fa-fw"></i> {{item.Note}}
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a ui-sref="miscellaneous.notify" href="@Url.Action("Index", "Notification", new { area = "" })">
                                <strong>Смотреть все уведомления</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>