@model PW.Ncels.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Забыли пароль?";
}
@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <img alt="image" src="/Content/img/logo_big.png" />
        </div>
        <h3>Забыли пароль?</h3>
        <p>Введите e-mail для получения дальнейших инструкций по востановлению пароля.</p>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "m-t", role = "form" })) {
        @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-success block full-width m-b pw-button">Отправить</button>
            <p class="text-muted text-center">
                <small>У вас есть аккаунт?</small>
                </p>
                <a class="btn btn-sm btn-white btn-block" href="/Account/Login">Войдите в систему</a>
        }
        <p class="m-t"> <p class="m-t"> <small>&copy; 2017 | Национальный Центр экспертизы лекарственных средств, изделий медицинского назначения и медицинской техники.<br>Все права защищены.</small> </p> </p>
    </div>
</div>


