@model PW.Photon.Web.ViewModels.ModelMessage
@{
    ViewBag.Title = "Ошибка восстановление пароля";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <img alt="image" src="/Content/img/logo_big.png" />
        </div>
        <h3>Ошибка восстановление пароля</h3>
        <p class="text-danger">
            <strong>Ошибка:</strong> @Model.Message
        </p>

        <a href="/Account/Login"><small>Вернуться на главную страницу?</small></a>
        <p class="m-t"> <p class="m-t"> <small>&copy; 2017 | Национальный Центр экспертизы лекарственных средств, изделий медицинского назначения и медицинской техники.<br>Все права защищены.</small> </p> </p>
    </div>
</div>
