@{
    ViewBag.Title = "Успешное восстановление пароля";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>
            <img alt="image" src="/Content/img/logo_big.png" />
        </div>
        <h3>Успешное восстановление пароля</h3>
        <p class="text-navy">
            На почту высланы дальнейшие инструкции для восстановления пароля.
        </p>

        <a href="/Account/Login"><small>Вернуться на главную страницу?</small></a>
        <p class="m-t"> <p class="m-t"> <small>&copy; 2017 | Национальный Центр экспертизы лекарственных средств, изделий медицинского назначения и медицинской техники.<br>Все права защищены.</small> </p> </p>
    </div>
</div>
