@{
    ViewBag.Title = "RegisterFl";
}
@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<div class="pw-register-box animated fadeInDown">
    <div class="row text-center">
        <div class="col-lg-3">
            <img alt="image" src="/Content/img/logo_big.png" />
        </div>
        <div class="col-lg-6">
            <h3>Регистрация в системе</h3>
            <p>
                Экспертиза лекарственных средств, изделий медицинского назначения и медицинской техники
            </p>
        </div>
    </div>
    <br />


    <div class="row" data-ng-controller="registerRequest">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td>
                                <h2>Регистрация физических лиц граждан РК</h2>
                            </td>
                            <td style="padding-left: 20px;"><a href="~/Account/RegisterUl">Для граждан РК ЮЛ</a></td>
                            <td style="padding-left: 20px;"><a href="~/Account/Register2">Для иностранных граждан ФЛ</a></td>
                            <td style="padding-left: 20px;"><a href="~/Account/Register2Ul">Для иностранных граждан ЮЛ</a></td>
                        </tr>
                    </table>
                    <p>
                        Заполните формы ниже для регистрации в системе.
                    </p>
                    <div class="row" data-ng-controller="registerRequest">
                        <form name="registerForm">
                            <div class="wrapper animated fadeInRight">
                                <input type="hidden" ng-model="user.personType" ng-init="user.personType=0" />
                                <div class="pw-form-row row">
                                    <div class="col-lg-4">
                                        <label for="user.LastName">Фамилия:</label>
                                        <input type="text" ui-select-selected required id="LastName" name="LastName" class="form-control required" ng-model="user.LastName" pw-max-length="100">
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="user.FirstName">Имя:</label>
                                        <input type="text" ui-select-selected required id="FirstName" name="FirstName" class="form-control required" ng-model="user.FirstName" pw-max-length="100">
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="user.MiddleName">Отчество:</label>
                                        <input type="text" ui-select-selected required id="MiddleName" name="MiddleName" class="form-control required" ng-model="user.MiddleName" pw-max-length="100">
                                    </div>
                                </div>
                                <div class="pw-form-row row">
                                    <div class="col-lg-4">
                                        <label for="user.Email">Email:</label>
                                        <input type="email" class="form-control required email" placeholder="email@mail.kz" ui-select-selected required ng-model="user.Email" pw-max-length="50">
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="user.Iin">ИИН:</label>
                                        <input type="text" ui-select-selected required id="Iin" name="Iin" class="form-control required" ng-model="user.Iin" pw-max-length="100">
                                    </div>
                                </div>
                                <div class="pw-form-row row">
                                    <div class="col-lg-12">
                                        <button class="btn btn-success" type="button" ng-click="postRequest()" check-validate>Зарегистрироваться</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="middle-box text-center" style="padding-top: 20px">
    <a ui-sref="forgot_password" href="/Account/ForgotPassword"><small>Забыли пароль?</small></a>
    <p class="text-muted text-center">
        <small>У вас есть аккаунт?</small>
    </p>
    <a class="btn btn-sm btn-white btn-block" href="/Account/Login">Войдите в систему</a>
    <p class="m-t text-center">
    <p class="m-t"> <small>&copy; 2017 | Национальный Центр экспертизы лекарственных средств, изделий медицинского назначения и медицинской техники.<br>Все права защищены.</small> </p>
    </p>
</div>
@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
}