@{
    ViewBag.Title = "Register";
}
@{
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="pw-register-box animated fadeInDown">
    <div class="row text-center">
        <div class="col-lg-3">
            <img alt="image" src="/Content/img/logo_big.png" />
        </div>
        <div class="col-lg-6">
            <h3>Проверка подписи данных</h3>
            <p>
                Экспертиза лекарственных средств, изделий медицинского назначения и медицинской техники
            </p>
        </div>
    </div>
    <br />
    <div class="row" data-ng-controller="registerRequest">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table>
                        <tr>
                            <td>
                                <h2>Проверка подписи данных</h2>
                            </td>
                        </tr>
                    </table>
                    <p>
                        Заполните поля ниже для подписи данных:
                    </p>
                    <div class="hr-line-dashed"></div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <label for="certPath">Путь к сертификату:</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="chooseCertButton" class="btn btn-success" type="button" onclick="chooseCert();" >Выбрать сертификат:</button>
                                </span>
                                <input id="certPath" type="text" name="certPath" class="form-control" placeholder="Путь к сертификату" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <label for="certPass">Пароль к сертификату:</label>
                            <input id="certPass" type="password" name="certPass" class="form-control" placeholder="Введите пароль" value="pioner11">
                        </div>
                    </div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <label for="dataFile">Выбрать файл для подписи:</label>
                            <input id="dataFile" class="form-control" type="file" placeholder="Выберите файл:">
                        </div>
                        <div class="col-lg-12">
                            <div id="md5"></div>
                        </div>
                    </div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <input value="Рассчитать MD5 файла" onclick="calcMd5();" type="button" class="btn btn-success" />
                        </div>
                    </div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <label for="certPass">XML:</label>
                            <textarea id="xmlData" type="text" name="xmlData" class="form-control">
                                <root>
                                    <name>Ivan</name>
                                    <iin>123456789012</iin>
                                </root>
                            </textarea>
                        </div>
                    </div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <input value="Подписать данные" onclick="signXml(document.getElementById('xmlData').value);" type="button" class="btn btn-success" id="signbutton"  />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <label for="storageAlias">Тип хранилища:</label>
                            <select onchange="chooseCert();" id="storageAlias" size="1" class="form-control">
                                <option value="PKCS12">Ваш Компьютер</option>
                                <option value="AKKaztokenStore">Казтокен</option>
                                <option value="AKKZIDCardStore">Личное Удостоверение</option>
                                <option value="AKEToken72KStore">EToken Java 72k</option>
                                <option value="AKJaCartaStore">AK JaCarta</option>
                            </select>
                        </div>
                    </div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <label for="keys">Список сертифакатов:</label>
                            <select id="keys" onchange="keysOptionChanged();" class="form-control"></select>
                        </div>
                    </div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <label for="keyAlias">Выбранный сертифакат:</label>
                            <input id="keyAlias" type="text" value="" class="form-control" />
                        </div>
                    </div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <label for="signatureXML">Подпись:</label>
                            <textarea id="signatureXML" type="text" name="signatureXML" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <input value="Проверить подпись" onclick="verifyXml(document.getElementById('signatureXML').value);" type="button" class="btn btn-warning" />
                            <span id="signtrue" class="label label-primary" style="display: none">Валидная подпись</span>
                            <span id="signfalse" class="label label-danger" style="display: none">Не валидная подпись</span>
                        </div>
                    </div>
                    <div class="pw-form-row row">
                        <div class="col-lg-12">
                            <label for="signInfo">Данные о подписи:</label>
                            <textarea id="signInfo" type="text" name="signInfo" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>