<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-dark">
        <h5>Перечень документов, необходимых для согласования счета по договору на экспертизу МИ в соответствии с
          классом безопасности</h5>
      </div>
    </div>
  </div>
  <label>Файлы для прикрепления:</label>
  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
      <div class="form-check  float-right">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Не применимо
        </label>
      </div>
    </div>
  </div>
</div>


<div id="accordion-1" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <div class="input-group">
        <div class="input-group-append" (click)="iconModal.showIconModal()">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1. Документ, подтверждающий класс безопасности в зависимости от степени потенциального риска применения
            (Декларация соответствия; письмо-обоснование от производителя и т.д) с аутентичным переводом на русский
            язык, заверенный нотариально
          </a>
        </h5>
      </div>
    </div>
    <div id="collapseOne" class="collapse" data-parent="#accordion-1" role="tabpanel" aria-labelledby="headingOne">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <input type="file" class="pd75" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>

          <div class="col-md-9">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Наименование</th>
                <th>Размер</th>
                <th>Прогресс</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress mg0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                  </button>
                  <button type="button" class="btn btn-warning btn-sm"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div id="accordion-2" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne2">
      <div class="input-group">
        <div class="input-group-append" (click)="iconModal.showIconModal()">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
            2. Документ, удостоверяющий регистрацию в стране производителе
          </a>
        </h5>
      </div>
    </div>
    <div id="collapseOne2" class="collapse" data-parent="#accordion-2" role="tabpanel" aria-labelledby="headingOne2">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <input type="file" class="pd75" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>

          <div class="col-md-9">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Наименование</th>
                <th>Размер</th>
                <th>Прогресс</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress mg0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                  </button>
                  <button type="button" class="btn btn-warning btn-sm"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div id="accordion-3" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne3">
      <div class="input-group">
        <div class="input-group-append" (click)="iconModal.showIconModal()">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
            3. Информация о введенных в медицинское изделие лекарственных средствах: состав, количество.
          </a>
        </h5>
      </div>
    </div>
    <div id="collapseOne3" class="collapse" data-parent="#accordion-3" role="tabpanel" aria-labelledby="headingOne3">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <input type="file" class="pd75" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>

          <div class="col-md-9">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Наименование</th>
                <th>Размер</th>
                <th>Прогресс</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress mg0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                  </button>
                  <button type="button" class="btn btn-warning btn-sm"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div id="accordion-4" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne4">
      <div class="input-group">
        <div class="input-group-append" (click)="iconModal.showIconModal()">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
            4. Спецификация с указанием технических характеристик, перечня комплектующих и расходных материалов (по
            утвержденной форме)
          </a>
        </h5>
      </div>
    </div>
    <div id="collapseOne4" class="collapse" data-parent="#accordion-4" role="tabpanel" aria-labelledby="headingOne4">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <input type="file" class="pd75" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>

          <div class="col-md-9">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Наименование</th>
                <th>Размер</th>
                <th>Прогресс</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress mg0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                  </button>
                  <button type="button" class="btn btn-warning btn-sm"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div id="accordion-5" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne5">
      <div class="input-group">
        <div class="input-group-append" (click)="iconModal.showIconModal()">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapseOne5" aria-expanded="true" aria-controls="collapseOne5">
            5. Эксплуатационный документ медицинской техники на русском языке, в том числе инструкция по медицинскому
            применению расходных материалов и комплектующих к медицинской технике, являющихся изделиями медицинского
            назначения
          </a>
        </h5>
      </div>
    </div>
    <div id="collapseOne5" class="collapse" data-parent="#accordion-5" role="tabpanel" aria-labelledby="headingOne5">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <input type="file" class="pd75" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>

          <div class="col-md-9">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Наименование</th>
                <th>Размер</th>
                <th>Прогресс</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress mg0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                  </button>
                  <button type="button" class="btn btn-warning btn-sm"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div id="accordion-6" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne6">
      <div class="input-group">
        <div class="input-group-append" (click)="iconModal.showIconModal()">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapseOne6" aria-expanded="true" aria-controls="collapseOne6">
            6. Инструкция по применению изделия медицинского назначения, утвержденная в стране-производителе с
            аутентичным переводом на русский язык
          </a>
        </h5>
      </div>
    </div>
    <div id="collapseOne6" class="collapse" data-parent="#accordion-6" role="tabpanel" aria-labelledby="headingOne6">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <input type="file" class="pd75" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>

          <div class="col-md-9">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Наименование</th>
                <th>Размер</th>
                <th>Прогресс</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress mg0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                  </button>
                  <button type="button" class="btn btn-warning btn-sm"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div id="accordion-7" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne7">
      <div class="input-group">
        <div class="input-group-append" (click)="iconModal.showIconModal()">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapseOne7" aria-expanded="true" aria-controls="collapseOne7">
            7. Письмо – обоснование о типе медицинской техники (открытая или закрытая система)
          </a>
        </h5>
      </div>
    </div>
    <div id="collapseOne7" class="collapse" data-parent="#accordion-7" role="tabpanel" aria-labelledby="headingOne7">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <input type="file" class="pd75" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>

          <div class="col-md-9">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Наименование</th>
                <th>Размер</th>
                <th>Прогресс</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress mg0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                  </button>
                  <button type="button" class="btn btn-warning btn-sm"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>

<div id="accordion-8" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne8">
      <div class="input-group">
        <div class="input-group-append" (click)="iconModal.showIconModal()">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
        <h5 class="mb-0">
          <a data-toggle="collapse" href="#collapseOne8" aria-expanded="true" aria-controls="collapseOne8">
            8. Письмо – обоснование от производителя о вносимых изменениях
          </a>
        </h5>
      </div>
    </div>
    <div id="collapseOne8" class="collapse" data-parent="#accordion-8" role="tabpanel" aria-labelledby="headingOne8">
      <div class="container">

        <div class="row">
          <div class="col-md-3">
            <input type="file" class="pd75" ng2FileSelect [uploader]="uploader" multiple/><br/>
          </div>

          <div class="col-md-9">
            <table class="table">
              <thead>
              <tr>
                <th width="50%">Наименование</th>
                <th>Размер</th>
                <th>Прогресс</th>
                <th>Статус</th>
                <th>Действия</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.options.isHTML5">
                  <div class="progress mg0">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-sm"
                          (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Загрузить
                  </button>
                  <button type="button" class="btn btn-warning btn-sm"
                          (click)="item.cancel()" [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Отменить
                  </button>
                  <button type="button" class="btn btn-danger btn-sm"
                          (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Удалить
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
