<!--
<div class="card-body pt-0 widget-body">

  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#default-modal">Default</button>

  <div class="modal fade" id="default-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label"
       style="display: none;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-label">Добавление</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
          </button>
        </div>




        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Выбрать</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
        </div>
      </div>
    </div>
  </div>
</div>
-->


<div class="row justify-content-center" style="margin: 10px;">
  <div class="col-xl-6 col-md-8 col-10">
    <div class="card border-0 box-shadow rounded-0">
      <div class="card-body pt-0">

        <div class="btn-group">
          <div class="col-lg-4 col-sm-6 ng-star-inserted">
            <div class="fa-hover">
              <i aria-hidden="true" class="fa fa-remove"></i>
              <span class="sr-only"></span>fa fa-remove
            </div>
          </div>

          <button class="btn" data-action="open" data-content-url="/Modules/RecordCards/RecordCards/AddRecordCard" data-grid="recordCardsTable" data-mode="add" id="btnAddCard" title="Добавить учетную карточку" data-tag="dl1"><i class="fa fa-remove"></i></button>
          <button class="btn" data-action="open" data-content-url="/Modules/RecordCards/RecordCards/EditRecordCard" data-grid="recordCardsTable" data-mode="edit" disabled="disabled" id="btnEditCard" title="Редактировать учетную карточку"><i class="icon-pencil"></i></button>
          <button class="btn" data-action="open" data-content-url="/Modules/RecordCards/RecordCards/DeleteCard" data-grid="recordCardsTable" data-mode="delete" disabled="disabled" id="btnDeleteCard" title="Удалить учетную карточку"><i class="icon-remove"></i></button>
          <button class="btn" data-action="open" data-content-url="/Modules/RecordCards/RecordCards/ViewRecordCard" data-grid="recordCardsTable" data-mode="view" disabled="disabled" id="btnViewRecordCard" title="Просмотреть учетную карточку"><i class="icon-eye-open"></i></button>
        </div>

        <div class="form-group">
          <label>Parent menu</label>
          <select class="form-control" formControlName="parentId">
            <option [selected]="form.controls.parentId.value == 0" value="0">-- Выберите из списка --</option>
            <option *ngFor="let item of menuItems" [selected]="item.id == id" [value]="item.id">{{item.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <button class="btn btn-gray w-100p mb-1" type="button">Отменить</button>
          <button class="btn btn-info w-100p mb-1" type="button">Выбрать</button>
        </div>
      </div>
    </div>
  </div>
</div>


