.body {
    background: url('/imgs/shattered.png');
    height: 100vh;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #004d86;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

.form-container {
    background-color: #f3f3f4;
    max-width: 1200px;
    margin: auto;
    padding-bottom: 1px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    color: #676a6c;
}

.pw-register-box {
    margin: 0 auto;
    max-width: 90%;
    padding-top: 40px;
    z-index: 100;
}

h3 {
    font-size: 16px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.pw-form-row-min {
    margin-bottom: 4px;
    margin-left: 0 !important;
    margin-right: 0 !important;
    min-height: 30px;
    clear: inherit;
}

.form-label {
    display: inline-block;
    text-align: right;
    padding-top: 6px;
}

.wrapper {
    padding: 0 20px;
}

h3, h4, h5 {
    margin-top: 5px;
    font-weight: 600;
}

.no-underline:hover {
    text-decoration: none;
}

.open-sans {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

    .form-control,
    .form-control:focus,
    .has-error .form-control:focus,
    .has-success .form-control:focus,
    .has-warning .form-control:focus,
    .navbar-collapse,
    .navbar-form,
    .navbar-form-custom .form-control:focus,
    .navbar-form-custom .form-control:hover,
    .open .btn.dropdown-toggle,
    .panel,
    .popover,
    .progress,
    .progress-bar {
        box-shadow: none;
    }

.full-width {
    width: 100% !important;
}

.btn-success {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFFFFF;
}

.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}

.no-underline:hover {
    text-decoration: none;
}

.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white, .btn-white:active:focus, .btn-white:active:hover, .btn-white.active:hover, .btn-white.active:focus {
    color: inherit;
    border: 1px solid #d2d2d2;
}

.btn {
    border-radius: 3px;
}

.form-control:focus, .single-line:focus {
     border-color: #1a7bb9 !important; 
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success,
.btn-success:active:focus,
.btn-success:active:hover,
.btn-success.active:hover,
.btn-success.active:focus {
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #FFFFFF;
}

.align-left{
    text-align:left;
}