@using PW.Ncels.Database.Constants
@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Все</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li>
                <a>Договоры</a>
            </li>
            <li class="active">
                <strong>Все</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="obkContractGrid">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Список всех договоров
                    </h5>
                    <div ibox-tools></div>
                </div>
                <div class="ibox-content ibox-heading">
                    <div class="note-font btn-group">
                        <button class="btn btn-default btn-sm" type="button" onclick="location.href = '@Url.Action("Contract", "OBKContract")'"><i class="fa fa-file-text-o"></i> Создать новый договор</button>
                        <button class="btn btn-default btn-sm" type="button" onclick="location.href = '@Url.Action("ContractAddition", "OBKContract")'"><i class="fa fa-files-o"></i> Создать дополнительное соглашение</button>
                        <button class="btn btn-default btn-sm" type="button" ng-click="viewContract();"><i class="fa fa-files-o"></i> Создать заявку</button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <grid-object url="/OBKContract/ReadContract" column-order="5"></grid-object>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function deleteApp(id) {
        var success = function() {
            window.location.href = '@Url.Action("Delete", "SafetyAssessment")/' + id;
        }
        var cancel = function() {
        };
        showConfirmation("Сохранить", "Вы уверены, что хотите удалить?", success, cancel);
    }
</script>



