<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SynchronizationServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ObkDb" connectionString="Data Source=localhost; Initial Catalog=safety_buck_up; Integrated Security=True" />
    <add name="ExpDb" connectionString="Data Source=localhost; Initial Catalog=ncls_db; Integrated Security=True" />
    <add name="SrDb" connectionString="Data Source=localhost; Initial Catalog=register_back_up; Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="SyncInterval" value="60" />
    <add key="ExchangeRatesSourceUrl" value="http://www.nationalbank.kz/rss/get_rates.cfm?fdate=" />
    <add key="SyncExchangeRateFrom" value="01.01.2013" />
    <add key="SyncExchangeRateStartTime" value="03:00" />
  </appSettings>
</configuration>
