<form novalidate #templateForm="ngForm" (change)="model=model">
<div id="tab-2" class="tab-pane">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 b-r">
        <div class="form-group">
            <label><input type="checkbox" name="isManufacturer"  value="">Является производителем</label>

        </div>

        <div class="form-group" >
          <div class="custom-control custom-radio radio-inline" >
            <input type="radio" class="custom-control-input radio-primary " name="DeclarantIsResident" id="DeclarantResident"  [(ngModel)]="isDecRes" value="res" >
            <label class="custom-control-label" for="DeclarantResident">Резидент РК</label>
          </div>
          <div class="custom-control custom-radio radio-inline ">
            <input type="radio" class="custom-control-input  radio-primary" name="DeclarantIsResident" id="DeclarantNoResident" [(ngModel)]="isDecRes" value="unres">
            <label class="custom-control-label" for="DeclarantNoResident">Нерезидент РК</label>
          </div>
        </div>

        <div *ngIf="isDecRes !== 'unres'" class="form-group">
          <label>ИИН/БИН *</label>
          <div>
            <input maxlength="24" name="declarantBin"   class="form-control"  type="text"   ng-pattern="[0-9]+" ng-minlength="12" ng-maxlength="12" ui-mask="999999999999"  placeholder="____________"
                   #declarantBin = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantBin.invalid && isDecRes !== 'unres'}"
                   [(ngModel)]="model.declarantBin"
                   required>
          </div>
          <br>
          <button type="button" class="btn btn-sm btn-primary"  >Найти</button>
          <button type="button" class="btn btn-sm btn-primary" ng-click="cancelFind('Declarant');" ng-disabled="!iinSearchActiveDeclarant" >Отмена</button>
        </div>

        <div [hidden]="isDecRes !== 'unres'" >
          <div class="form-group">
            <label>Страна</label>
            <select class="form-control"   name="declarantNoResCounty"
                    #declarantNoResCounty = "ngModel"
                    [ngClass]="{'has-error':showErrors === true && declarantNoResCounty.invalid && isDecRes === 'unres'}"
                    [(ngModel)]="model.declarantNoResCounty"
                    required>
              <option *ngFor="let item of countryVarNoRes">{{item.nameRu}}</option>
            </select>
          </div>
        </div>
        <div [hidden]="isDecRes !== 'unres'" >
          <div class="form-group">
            <label>Наименование на русском языке *</label>
              <select class="form-control" name="declarantRuName"
                      #declarantRuName = "ngModel"
                      [ngClass]="{'has-error':showErrors === true && declarantRuName.invalid && isDecRes === 'unres'}"
                      [(ngModel)]="model.declarantRuName"
                      required>
              </select>
          </div>
        </div>
        <div class="form-group ng-hide">
          По Вашему запросу ничего не найдено!
        </div>
        <div>
          <button type="button" class="btn btn-sm btn-primary" ng-click="addManufactur('Declarant');" >Добавить</button>
        </div>

        <h4>Заявитель</h4>
        <div class="form-group">
          <label>Организационная форма*</label>
          <select class="form-control" name="declarantOrgForm"
                  #declarantOrgForm = "ngModel"
                  [ngClass]="{'has-error':showErrors === true && declarantOrgForm.invalid}"
                  [(ngModel)]="model.declarantOrgForm"
                  required>
            <option *ngFor="let item of orgFormVar">{{item.nameRu}}</option>
          </select>
        </div>
        <div>
          <button type="button" class="btn btn-sm btn-primary" (click)="addOrgForm()">Добавить</button>
        </div>

        <div *ngIf="isAddOrgForm">
          <div class="card card-outline-info text-left">
            <!--<div class="card-header">-->
            <!--Default card-->
            <!--</div>-->
            <div class="card-body">
              <div >
                <div class="form-group">
                  <label>Наименование на казахском языке</label>
                  <input name="OrgFormNameKz" #OrgFormNameKz class="form-control" placeholder="Введите значение"  type="text" >
                </div>
              </div>
              <div >
                <div class="form-group">
                  <label>Наименование на русском языке</label>
                  <input name="OrgFormNameRu" #OrgFormNameKz class="form-control" placeholder="Введите значение"  type="text" >
                </div>
              </div>

            </div>
            <div class="card-footer">
              <div>
                <button type="button" class="btn btn-sm btn-primary" (click)="saveOrgForm(OrgFormNameKz.value ,OrgFormNameKz.value)">Сохранить</button>
                <button type="button" class="btn btn-sm btn-primary" (click)="declineOrgForm()">Отменить</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label>Наименование на государственном языке *</label>
          <div>
            <input name="declarantNameKz"  class="form-control"  placeholder="Введите значение"  type="text" required=""
                   #declarantNameKz = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantNameKz.invalid}"
                   [(ngModel)]="model.declarantNameKz"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label>Наименование на русском языке *</label>
          <div>
            <input name="declarantNameRu"  class="form-control"  placeholder="Введите значение"  type="text" required=""
                   #declarantNameRu = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantNameRu.invalid}"
                   [(ngModel)]="model.declarantNameRu"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label>Наименование на английском языке*</label>
          <div>
            <input id="declarantNameEn" class="form-control" placeholder="Введите значение"  type="text"  name="declarantNameEn"
                   #declarantNameEn = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantNameRu.invalid}"
                   [(ngModel)]="model.declarantNameEn"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label>Страна*</label>
          <select class="form-control" name="declarantCountry"
                  #declarantCountry = "ngModel"
                  [ngClass]="{'has-error':showErrors === true && declarantCountry.invalid}"
                  [(ngModel)]="model.declarantCountry"
                  required>
            <option *ngFor="let item of countryVarRes">{{item.nameRu}}</option>
          </select>
        </div>
        <div class="form-group">
          <h4>Адрес</h4>
          <label>Юридический адрес * </label>
          <div>
            <input name="declarantAddressLegalRu"  class="form-control"  placeholder="Введите значение" type="text"
                   #declarantAddressLegalRu = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantAddressLegalRu.invalid}"
                   [(ngModel)]="model.declarantAddressLegalRu"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label>Фактический адрес * </label>
          <div>
            <input name="declarantAddressFact"  class="form-control"  placeholder="Введите значение"  type="text"
                   #declarantAddressLegalRu = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantAddressLegalRu.invalid}"
                   [(ngModel)]="model.declarantAddressLegalRu"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label>Номер телефона * </label>
          <div>
            <input name="declarantPhone"  class="form-control"  ui-mask="+7 (999) 999-99-99"  type="text" placeholder="+7 (___) ___-__-__"
                   #declarantPhone = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantPhone.invalid}"
                   [(ngModel)]="model.declarantPhone"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label>Номер телефона</label>
          <div>
            <input name="declarantPhone2"   class="form-control"  type="text"  ui-mask="+7 (999) 999-99-99"   placeholder="+7 (___) ___-__-__"
                   #declarantPhone2 = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantPhone2.invalid}"
                   [(ngModel)]="model.declarantPhone2"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label>Адрес электронной почты * </label>
          <div>
            <input name="declarantEmail" class="form-control"  placeholder="example@mail.ru"  type="text"    ng-pattern=".+@.+\..+"
                   #declarantEmail = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantEmail.invalid}"
                   [(ngModel)]="model.declarantEmail"
                   required>
          </div>
        </div>
      </div>
      <div class="col-lg-6 b-l">
        <div class="form-group">
          <h4>Подписывающее лицо</h4>
          <label>Фамилия первого руководителя *</label>
          <div>
            <input name="declarantBossLastName" class="form-control"  placeholder="Введите значение"  type="text"
                   #declarantBossLastName = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantBossLastName.invalid}"
                   [(ngModel)]="model.declarantBossLastName"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label>Имя первого руководителя *</label>
          <div>
            <input name="declarantBossFirstName" class="form-control"  placeholder="Введите значение"  type="text"
                   #declarantBossFirstName = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantBossFirstName.invalid}"
                   [(ngModel)]="model.declarantBossFirstName"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label>Отчество первого руководителя</label>
          <div >
            <input id="declarantBossMiddleName"  class="form-control"  placeholder="Введите значение"  type="text">
          </div>
        </div>
        <div class="form-group">
          <label>Должность первого руководителя на русском языке *</label>
          <div>
            <input name="declarantBossPosition" class="form-control"  placeholder="Введите значение"  type="text"
                   #declarantBossPosition = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantBossPosition.invalid}"
                   [(ngModel)]="model.declarantBossPosition"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label>Должность первого руководителя на государственном языке *</label>
          <div>
            <input name="declarantBossPositionKz"  class="form-control"  placeholder="Введите значение"  type="text"
                   #declarantBossPositionKz = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantBossPositionKz.invalid}"
                   [(ngModel)]="model.declarantBossPositionKz"
                   required>
          </div>
        </div>


        <h4>Банковские реквизиты</h4>

        <div class="form-group">
          <label>Название банка</label>
          <select class="form-control" name="declarantBank"
                  #declarantBank = "ngModel"
                  [ngClass]="{'has-error':showErrors === true && declarantBank.invalid}"
                  [(ngModel)]="model.declarantBank"
                  required>
            <option *ngFor="let item of bankVar">{{item.nameRu}}</option>
          </select>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-sm btn-primary" (click)="addBankName()">Добавить</button>
        </div>
        <div *ngIf="isAddBankName">
          <div class="card card-outline-info text-left">
            <!--<div class="card-header">-->
            <!--Default card-->
            <!--</div>-->
            <div class="card-body">
              <div class="form-group">
                <label>Наименование банка на русском</label>
                <div>
                  <input id="BankNameRu" #bankNameRu class="form-control" placeholder="Введите значение"  type="text">
                </div>
              </div>
              <div class="form-group">
                <label>Наименование банка на казахском</label>
                <div>
                  <input id="BankNameKz" #bankNameKz class="form-control" placeholder="Введите значение"  type="text">
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div>
                <button type="button" class="btn btn-sm btn-primary" (click)="saveBank(bankNameRu.value,bankNameKz.value)">Сохранить</button>
                <button type="button" class="btn btn-sm btn-primary" (click)="declineBank()">Отменить</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Расчетный счет *</label>
          <div>
            <input name="declarantBankIik"  class="form-control"  placeholder="Введите значение" type="text"
                   #declarantBankIik = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && declarantBankIik.invalid}"
                   [(ngModel)]="model.declarantBankIik"
                   required>
          </div>
        </div>
        <div class="form-group">
          <label>Валюта *</label>
          <select class="form-control" name="declarantBankCurr"
                  #declarantBankCurr= "ngModel"
                  [ngClass]="{'has-error':showErrors === true && declarantBankCurr.invalid}"
                  [(ngModel)]="model.declarantBankCurr"
                  required>
            <option *ngFor="let item of currencyVar">{{item.nameRu}}</option>
          </select>
        </div>
        <div [hidden]="isDecRes !== 'unres'" >
          <div class="form-group ng-scope" >
            <label>SWIFT *</label>
            <div>
              <input name="declarantBankSwift" class="form-control" placeholder="Введите значение"  type="text"
                     #declarantBankSwift= "ngModel"
                     [ngClass]="{'has-error':showErrors === true && declarantBankSwift.invalid && isDecRes === 'unres'}"
                     [(ngModel)]="model.declarantBankSwift"
                     required>
            </div>
          </div>
        </div>

        <h4>Действующее на основании</h4>
        <select class="form-control" type="number" name="declarantSelectDocType" [(ngModel)]="selectedDeclarantDocType">
          <option *ngFor="let level of levels" [ngValue]="level.code" (click)="changeDocLevel(level)">
            {{level.name}}
          </option>
        </select>
        <br>
        <div [hidden]="(selectedDeclarantDocType !== 'Procuration' )">
          <div class="col-lg-2">
            <div class="form-group">
              <div class="checkbox">
                <label><input type="checkbox" name="declarantWithoutNumber" value="" >Без номера</label>
              </div>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="form-group">
              <label>№ документа *</label>
              <div>
                <input id="declarantDocNumber" class="form-control"  placeholder="Введите значение"  type="text" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Дата начала действия *</label>
          <div class="input-group">
            <input class="form-control"
                   name="letterBDate" [(ngModel)]="model.letterBDate" ngbDatepicker
                   #letterBDate="ngModel" #letterBDateBtn="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary fa fa-calendar fa-lg" (click)="letterBDateBtn.toggle()"
                      type="button">
              </button>
            </div>
          </div>
          </div>
          <div class="form-group">
            <label>Дата окончание *</label>
            <div class="input-group">
              <input class="form-control"
                     name="letterEDate" [(ngModel)]="model.letterEDate" ngbDatepicker
                     #letterEDate="ngModel" #letterEDateBtn="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary fa fa-calendar fa-lg" (click)="letterEDateBtn.toggle()"
                        type="button">
                </button>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="form-group">
              <div class="checkbox">
                <label><input type="checkbox" value="" name="unlimited">Бессрочный</label>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</form>
