<div id="tab-2" class="tab-pane">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 b-r">
        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox"  value="">Является производителем</label>
          </div>
        </div>

        <div class="form-group">
          <div class="radio-inline">
            <label><input type="radio" name="declarantisresident" ng-value="true"  checked >Резидент РК</label>
          </div>
          <div class="radio-inline">
            <label><input type="radio" name="declarantisresident"  ng-value="false" >Нерезидент РК</label>
          </div>
        </div>

        <div class="form-group ng-hide">
          <label>ИИН/БИН *</label>
          <div>
            <input maxlength="24" id="binDeclarant"   class="form-control"  type="text"  name="bin"  ng-pattern="[0-9]+" ng-minlength="12" ng-maxlength="12" ui-mask="999999999999"  placeholder="____________">
          </div>
          <button type="button" class="btn btn-sm btn-success"  disabled="disabled">Найти</button>
          <button type="button" class="btn btn-sm btn-success" ng-click="cancelFind('Declarant');" ng-disabled="!iinSearchActiveDeclarant" disabled="disabled">Отмена</button>
        </div>

        <div class="form-group">
          <label>Страна</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group">
          <label>Наименование на русском языке *</label>
            <select class="form-control" >
            </select>
        </div>
        <div class="form-group ng-hide">
          По Вашему запросу ничего не найдено!
        </div>
        <div>
          <button type="button" class="btn btn-sm btn-success" ng-click="addManufactur('Declarant');" >Добавить</button>
        </div>

        <h4>Заявитель</h4>
        <div class="form-group">
          <label>Организационная форма</label>
          <select class="form-control" >
          </select>
        </div>
        <div class="form-group">
          <label>Наименование на государственном языке *</label>
          <div>
            <input id="declarantNameKz"  class="form-control"  placeholder="Введите значение"  type="text" required=""  name="declarantNameKz" disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label>Наименование на русском языке *</label>
          <div>
            <input id="declarantNameRu"  class="form-control"  placeholder="Введите значение"  type="text" required=""  name="declarantNameRu" disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label>Наименование на английском языке</label>
          <div>
            <input id="declarantNameEn" placeholder="Введите значение"  type="text"  name="declarantNameEn" disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label>Страна</label>
          <select class="form-control" >
          </select>
        </div>
        <div class="form-group">
          <h4>Адрес</h4>
          <label>Юридический адрес * </label>
          <div>
            <input id="DeclarantAddressLegalRu"  class="form-control"  placeholder="Введите значение" type="text" required="" name="AddressLegalRu"  disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label>Фактический адрес * </label>
          <div>
            <input id="AddressFact"  class="form-control"  placeholder="Введите значение"  type="text" required=""  name="AddressFact" disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label>Номер телефона * </label>
          <div>
            <input id="Phone"  class="form-control"  ui-mask="+7 (999) 999-99-99"  type="text" required=""  name="Phone"  placeholder="+7 (___) ___-__-__" disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label>Номер телефона</label>
          <div>
            <input id="Phone2"   class="form-control"  type="text"  ui-mask="+7 (999) 999-99-99"  name="manufacturPhone" ng-model-options="{ allowInvalid: true}" placeholder="+7 (___) ___-__-__" disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label>Адрес электронной почты * </label>
          <div>
            <input id="Email" class="form-control"  placeholder="example@mail.ru"  type="text" required=""  name="Email" ng-pattern=".+@.+\..+" disabled="disabled">
          </div>
        </div>
      </div>
      <div class="col-lg-6 b-l">
        <div class="form-group">
          <h4>Подписывающее лицо</h4>
          <label>Фамилия первого руководителя *</label>
          <div>
            <input id="BossLastName" class="form-control"  placeholder="Введите значение"  type="text"  required=""  disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label>Имя первого руководителя *</label>
          <div>
            <input id="BossFirstName" class="form-control"  placeholder="Введите значение"  type="text"  required=""  disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label>Отчество первого руководителя</label>
          <div >
            <input id="BossMiddleName"  class="form-control"  placeholder="Введите значение"  type="text"   disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label>Должность первого руководителя на русском языке *</label>
          <div>
            <input id="BossPosition" class="form-control"  placeholder="Введите значение"  type="text"  required=""  disabled="disabled">
          </div>
        </div>
        <div class="form-group">
          <label>Должность первого руководителя на государственном языке *</label>
          <div>
            <input id="BossPositionKz"  class="form-control"  placeholder="Введите значение"  type="text"  required=""  disabled="disabled">
          </div>
        </div>


        <h4>Банковские реквизиты</h4>

        <div class="form-group">
          <label>Название банка</label>
          <select class="form-control" >
          </select>
        </div>
        <div class="form-group ng-hide">
          <label>Наименование банка на русском</label>
          <div>
            <input id="declarantBankNameRu" class="form-control"  placeholder="Введите значение"  type="text">
          </div>
        </div>
        <div >
          <label>Наименование банка на казахском</label>
          <div>
            <input id="declarantBankNameKz"  class="form-control"  placeholder="Введите значение"  type="text">
          </div>
        </div>
        <div class="form-group ng-hide">
          <button type="button" class="btn btn-sm btn-success">Сохранить</button>
        </div>
        <div class="form-group">
          <label>Расчетный счет *</label>
          <div>
            <input id="BankIik"  class="form-control"  placeholder="Введите значение" type="text"  required="" >
          </div>
        </div>
        <div class="form-group">
          <label>Валюта *</label>
          <select class="form-control" >
          </select>
        </div>

        <h4>Действующее на основании</h4>
        <div class="form-group">
          <label>Тип документа</label>
          <select class="form-control" >
          </select>
        </div>
        <div>
          <div class="col-lg-2">
            <div class="form-group">
              <div class="checkbox">
                <label><input type="checkbox" value="" >Без номера</label>
              </div>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="form-group">
              <label>№ документа *</label>
              <div>
                <input id="bossDocNumber" class="form-control"  placeholder="Введите значение"  type="text" >
              </div>
            </div>
          </div>
          <div class="form-group">
              <label>Дата начала действия *</label>
              <div>
                <input id="BossDocCreatedDate"  class="form-control"   placeholder="ДД.ММ.ГГГГ"  required="" date-time="" auto-close="true" view="date" min-view="date" format="DD.MM.YYYY">
              </div>
            </div>
           <div class="form-group">
              <label>Дата окончания действия *</label>
              <div>
                <input id="BossDocEndDate"  class="form-control"  placeholder="ДД.ММ.ГГГГ"  date-time="" auto-close="true" view="date" min-view="date" format="DD.MM.YYYY">
              </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <div class="checkbox">
                <label><input type="checkbox" value="">Бессрочный</label>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
