<div id="tab-3" class="tab-pane">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 b-r">

        <div class="form-group">
          <label>Плательщик</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group">
          <div class="custom-control custom-radio radio-inline" >
            <input type="radio" class="custom-control-input" name="manufacturIsResident" id="manufacturResident"  [(ngModel)]="isRes" value="res" >
            <label class="custom-control-label" for="manufacturResident">Резидент РК</label>
          </div>
          <div class="custom-control custom-radio radio-inline">
            <input type="radio" class="custom-control-input" name="manufacturIsResident" id="manufacturNoResident" [(ngModel)]="isRes" value="unres">
            <label class="custom-control-label" for="manufacturNoResident">Нерезидент РК</label>
          </div>
        </div>

        <div class="form-group ng-hide" >
          <label>ИИН/БИН *</label>
          <div ng-class="{'input-group': showComments}">
            <input maxlength="24" id="binDeclarantPayer" class="form-control"   type="text" name="bin"  ng-pattern="[0-9]+" ng-minlength="12" ng-maxlength="12" ui-mask="999999999999"  placeholder="____________">
          </div>
          <button type="button" class="btn btn-sm btn-success" >Найти</button>
          <button type="button" class="btn btn-sm btn-success" >Отмена</button>
        </div>
        <div class="form-group">
          <label>Плательщик</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group">
          <label>Наименование на русском языке *</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group ng-hide" ng-show="payerNotFound &amp;&amp; object.Payer.IsResident == true">
          По Вашему запросу ничего не найдено!
        </div>
        <div class="form-group ng-hide" ng-show="payerNotFound">
          <button type="button" class="btn btn-sm btn-success" ng-click="addManufactur('Payer');" ng-disabled="addPayerDisabled">Добавить</button>
        </div>

        <div class="form-group">
          <label>Организационная форма</label>
        </div>
        <div class="form-group">
          <label>Наименование на русском языке *</label>
          <select class="form-control" >
          </select>
        </div>
        <div class="form-group">
          <label>Страна</label>
          <select class="form-control" >
          </select>
        </div>
        <div class="form-group">
          <label>Юридический адрес</label>
          <div ng-class="{'input-group': showComments}">
            <input id="PayerAddressLegalRu" class="form-control" placeholder="Введите значение"  type="text"  name="AddressLegalRu" >
          </div>
        </div>
      </div>
      <div class="col-lg-6 b-l">

        <div class="form-group">
          <label>Название банка</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group ng-hide">
          <label>Наименование банка на русском</label>
          <div ng-class="{'input-group': showComments}">
            <input id="payerBankNameRu" class="form-control" placeholder="Введите значение"  type="text">
          </div>
        </div>
        <div class="form-group ng-hide" >
          <label>Наименование банка на казахском</label>
          <div ng-class="{'input-group': showComments}">
            <input id="payerBankNameKz" class="form-control" placeholder="Введите значение"  type="text">
          </div>
        </div>
        <div class="form-group ng-hide" ng-show="addPayerNewBankName">
          <button type="button" class="btn btn-sm btn-success" ng-click="addNewBank('Payer');">Сохранить</button>
        </div>

        <div class="form-group ng-hide" ng-show="object.Payer.IsResident == true">
          <label>Расчетный счет/ИИК</label>
          <div ng-class="{'input-group': showComments}">
            <input id="BankIik1" class="form-control" placeholder="Введите значение"  type="text" ng-disabled="showContactInformationPayer" required="" >
          </div>
        </div>
        <div class="form-group ng-hide" ng-show="object.Payer.IsResident == false">
          <label>Расчетный счет</label>
          <div ng-class="{'input-group': showComments}">
            <input id="BankIik2" class="form-control" placeholder="Введите значение"  type="text"  required="" >
          </div>
        </div>

        <div class="form-group">
          <label>Валюта *</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group ng-hide" ng-show="object.Payer.IsResident == true">
          <label>ИИН/БИН</label>
          <div ng-class="{'input-group': showComments}">
            <input id="BankAccount2" class="form-control"  placeholder="Введите значение"  type="text" ng-disabled="true" required="" >
          </div>
        </div>

        <div class="form-group ng-hide" ng-show="object.Payer.IsResident != null">
          <label ng-show="object.Payer.IsResident == true" class="ng-hide">БИК</label>
          <label ng-show="object.Payer.IsResident == false" class="ng-hide">SWIFT *</label>
          <div ng-class="{'input-group': showComments}">
            <input id="SWIFT3" class="form-control" placeholder="Введите значение"  type="text" >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
