<form novalidate #templateForm="ngForm" (change)="model=model">
<div id="tab-3" class="tab-pane">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 b-r">

        <div class="form-group">
          <label>Плательщик</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group">
          <div class="custom-control custom-radio radio-inline" >
            <input type="radio" class="custom-control-input radio-primary" name="payerIsResident" id="payerResident"  [(ngModel)]="isPayerRes" value="res" >
            <label class="custom-control-label" for="payerResident">Резидент РК</label>
          </div>
          <div class="custom-control custom-radio radio-inline">
            <input type="radio" class="custom-control-input radio-primary" name="payerIsResident" id="payerNoResident" [(ngModel)]="isPayerRes" value="unres">
            <label class="custom-control-label" for="payerNoResident">Нерезидент РК</label>
          </div>
        </div>

        <div [hidden]="isPayerRes!=='res'" class="form-group">
          <div class="custom-control custom-radio radio-inline" >
            <input type="radio" class="custom-control-input radio-primary" name="payerIsFlUl" id="payerFL"  [(ngModel)]="isPayerPlFl" value="fl" >
            <label class="custom-control-label" for="payerFL">Физическое лицо</label>
          </div>
          <div class="custom-control custom-radio radio-inline">
            <input type="radio" class="custom-control-input radio-primary" name="payerIsFlUl" id="payerUl" [(ngModel)]="isPayerPlFl" value="ul">
            <label class="custom-control-label" for="payerUl">Юридическое лицо</label>
          </div>
        </div>

        <div [hidden]="isPayerRes==='unres'" >
          <label>ИИН/БИН *</label>
          <div>
            <input maxlength="24" name="payerBin" class="form-control"   type="text"   ng-pattern="[0-9]+" ng-minlength="12" ng-maxlength="12" ui-mask="999999999999"  placeholder="____________"
                   #payerBin = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && payerBin.invalid }"
                   [(ngModel)]="model.payerBin"
                   required>
          </div><br>
          <button type="button" class="btn btn-sm btn-primary" >Найти</button>
          <button type="button" class="btn btn-sm btn-primary" >Отмена</button>
        </div>
        <div [hidden]="isPayerRes!=='unres'" >
        <div class="form-group">
          <label>Плательщик</label>
          <select class="form-control"  name="payerNoRes"
                  #payerNoRes = "ngModel"
                  [ngClass]="{'has-error':showErrors === true && payerNoRes.invalid && isDecRes !== 'unres'}"
                  [(ngModel)]="model.payerNoRes"
                  required>
          </select>
        </div>
        </div>
        <div [hidden]="isPayerRes!=='unres'" >
          <div class="form-group">
            <label>Наименование на русском языке *</label>
            <select class="form-control" name="payerNoResName"
                    #payerNoResName = "ngModel"
                    [ngClass]="{'has-error':showErrors === true && payerNoResName.invalid && isDecRes !== 'unres'}"
                    [(ngModel)]="model.payerNoResName"
                    required>
            </select>
          </div>
        </div>

        <div class="form-group ng-hide" ng-show="payerNotFound &amp;&amp; object.Payer.IsResident == true">
          По Вашему запросу ничего не найдено!
        </div>
        <div class="form-group ng-hide" ng-show="payerNotFound">
          <button type="button" class="btn btn-sm btn-primary" ng-click="addManufactur('Payer');" ng-disabled="addPayerDisabled">Добавить</button>
        </div>

        <div >
          <div class="form-group">
            <label>Организационная форма</label>
            <select class="form-control" name="payerOrgForm"
                    #payerOrgForm = "ngModel"
                    [ngClass]="{'has-error':showErrors === true && payerOrgForm.invalid}"
                    [(ngModel)]="model.payerOrgForm"
                    required>
            </select>
          </div>
        </div>
        <div class="form-group ng-hide">
          <button type="button" class="btn btn-sm btn-primary" (click)="addOrgForm()">Добавить</button>
        </div>

        <div *ngIf="isAddOrgForm">
          <div class="card card-outline-info text-left">
            <!--<div class="card-header">-->
            <!--Default card-->
            <!--</div>-->
            <div class="card-body">
              <div >
                <div class="form-group">
                  <label>Наименование организационной формы</label>
                  <input name="manufacturOrgFormAddText"  class="form-control" placeholder="Введите значение"  type="text" >
                </div>
              </div>

            </div>
            <div class="card-footer">
              <div>
                <button type="button" class="btn btn-sm btn-primary" (click)="saveOrgForm()">Сохранить</button>
                <button type="button" class="btn btn-sm btn-primary" (click)="saveOrgForm()">Оменить</button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div class="form-group">
        <label>Наименование на русском языке *</label>
        <div>
          <input class="form-control" placeholder="Введите значение"  type="text"  name="payerNameRu"
                 #payerNameRu = "ngModel"
                 [ngClass]="{'has-error':showErrors === true && payerNameRu.invalid}"
                 [(ngModel)]="model.payerNameRu"
                 required>
        </div>
      </div>
        <div class="form-group">
          <label>Страна</label>
          <select class="form-control" name="payerCountry"
                  #payerCountry = "ngModel"
                  [ngClass]="{'has-error':showErrors === true && payerNameRu.invalid}"
                  [(ngModel)]="model.payerCountry"
                  required>
          </select>
        </div>
        <div class="form-group">
          <label>Юридический адрес</label>
          <div>
            <input id="payerAddressLegalRu" class="form-control" placeholder="Введите значение"  type="text"
                   lass="form-control" name="payerAddressLegalRu"
                   #payerAddressLegalRu = "ngModel"
                   [ngClass]="{'has-error':showErrors === true && payerAddressLegalRu.invalid}"
                   [(ngModel)]="model.payerAddressLegalRu"
                   required>
          </div>
        </div>
      </div>
      <div class="col-lg-6 b-l">

        <div class="form-group">
          <label>Название банка</label>
          <select class="form-control" name="payerBankName" #payerBankName = "ngModel"
                  #payerBankName="ngModel"
                  [ngClass]="{'has-error':showErrors === true && payerBankName.invalid}"
                  [(ngModel)]="model.payerBankName"
                  required>
          </select>
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-sm btn-primary" (click)="addBankName()">Добавить</button>
        </div>
        <div *ngIf="isAddBankName">
          <div class="card card-outline-info text-left">
            <!--<div class="card-header">-->
            <!--Default card-->
            <!--</div>-->
            <div class="card-body">
              <div class="form-group">
                <label>Наименование банка на русском</label>
                <div>
                  <input id="manufacturBankNameRu"  class="form-control" placeholder="Введите значение"  type="text">
                </div>
              </div>
              <div class="form-group">
                <label>Наименование банка на казахском</label>
                <div>
                  <input id="manufacturBankNameKz"  class="form-control" placeholder="Введите значение"  type="text">
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div>
                <button type="button" class="btn btn-sm btn-primary" (click)="saveBankName()">Сохранить</button>
                <button type="button" class="btn btn-sm btn-primary" (click)="saveBankName()">Оменить</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group ng-hide" ng-show="object.Payer.IsResident == true">
          <label>Расчетный счет/ИИК</label>
          <div>
            <input name="payerBankIik" class="form-control" placeholder="Введите значение"  type="text" ng-disabled="showContactInformationPayer"
                   #payerBankIik="ngModel"
                   [ngClass]="{'has-error':showErrors === true && payerBankIik.invalid }"
                   [(ngModel)]="model.payerBankIik"
                   required>
          </div>
        </div>
        <!--<div class="form-group ng-hide" >-->
          <!--<label>Расчетный счет</label>-->
          <!--<div ng-class="{'input-group': showComments}">-->
            <!--<input id="BankIik2" class="form-control" placeholder="Введите значение"  type="text"  required="" >-->
          <!--</div>-->
        <!--</div>-->

        <div class="form-group">
          <label>Валюта *</label>
          <select class="form-control" name="payerBankCurr"
                  #payerBankCurr="ngModel"
                  [ngClass]="{'has-error':showErrors === true && payerBankCurr.invalid}"
                  [(ngModel)]="model.payerBankCurr"
                  required>
          </select>
        </div>

        <div class="form-group ng-hide" ng-show="object.Payer.IsResident == true">
          <label>ИИН/БИН</label>
          <div >
            <input id="BankAccount2" class="form-control"  placeholder="Введите значение"  type="text" ng-disabled="true" required="" >
          </div>
        </div>

        <div class="form-group ng-hide" ng-show="object.Payer.IsResident != null">
          <label ng-show="object.Payer.IsResident == true" class="ng-hide">БИК</label>
          <!--<label ng-show="object.Payer.IsResident == false" class="ng-hide">SWIFT *</label>-->
          <div ng-class="{'input-group': showComments}">
            <input name="payerBankSwift" class="form-control" placeholder="Введите значение"  type="text"
                   #payerBankSwift="ngModel"
                   [ngClass]="{'has-error':showErrors === true && payerBankSwift.invalid}"
                   [(ngModel)]="model.payerBankSwift"
                   required>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
