<div id="tab-3" class="tab-pane">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 b-r">

        <div class="form-group">
          <label>Плательщик</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group">
          <div class="radio-inline">
            <label><input type="radio" name="payerisresident" ng-model="object.Payer.IsResident" ng-value="true" ng-disabled="showFindInformationPayer" ng-change="residentChange('Payer');" class="ng-pristine ng-untouched ng-valid ng-empty" value="true" disabled="disabled">Резидент РК</label>
          </div>
          <div class="radio-inline">
            <label><input type="radio" name="payerisresident" ng-model="object.Payer.IsResident" ng-value="false" ng-disabled="showFindInformationPayer" ng-change="residentChange('Payer');" class="ng-pristine ng-untouched ng-valid ng-empty" value="false" disabled="disabled">Нерезидент РК</label>
          </div>
        </div>

        <div class="form-group ng-hide" ng-show="object.Payer.IsResident == true">
          <label>ИИН/БИН *</label>
          <div ng-class="{'input-group': showComments}">
            <input maxlength="24" id="binDeclarantPayer" ng-model="object.Payer.Bin" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-valid-mask ng-empty ng-valid-pattern ng-valid-minlength ng-valid-maxlength ng-valid-required" type="text" ui-select-selected="" name="bin" ng-required="object.Payer.IsResident == true" ng-disabled="showContactInformationPayerPayer" ng-pattern="[0-9]+" ng-minlength="12" ng-maxlength="12" ui-mask="999999999999" ui-mask-placeholder="" ui-mask-placeholder-char="_" placeholder="____________">
          </div>
          <button type="button" class="btn btn-sm btn-success" ng-disabled="object.Payer.Bin == null || object.Payer.Bin.length !== 12 || iinSearchActivePayer" ng-click="findDeclarant('Payer');" disabled="disabled">Найти</button>
          <button type="button" class="btn btn-sm btn-success" ng-click="cancelFind('Payer');" ng-disabled="!iinSearchActivePayer" disabled="disabled">Отмена</button>
        </div>
        <div class="form-group">
          <label>Плательщик</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group">
          <label>Наименование на русском языке *</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group ng-hide" ng-show="payerNotFound &amp;&amp; object.Payer.IsResident == true">
          По Вашему запросу ничего не найдено!
        </div>
        <div class="form-group ng-hide" ng-show="payerNotFound">
          <button type="button" class="btn btn-sm btn-success" ng-click="addManufactur('Payer');" ng-disabled="addPayerDisabled">Добавить</button>
        </div>

        <div class="form-group">
          <label>Организационная форма</label>
        </div>
        <div class="form-group">
          <label>Наименование на русском языке *</label>
          <select class="form-control" >
          </select>
        </div>
        <div class="form-group">
          <label>Страна</label>
          <select class="form-control" >
          </select>
        </div>
        <div class="form-group">
          <label>Юридический адрес</label>
          <div ng-class="{'input-group': showComments}">
            <input id="PayerAddressLegalRu" ng-model="object.Payer.Contact.AddressLegalRu" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ng-disabled="showContactInformationPayer" ui-select-selected="" name="AddressLegalRu" disabled="disabled">
          </div>
        </div>
      </div>
      <div class="col-lg-6 b-l">

        <div class="form-group">
          <label>Название банка</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group ng-hide" ng-show="addPayerNewBankName">
          <label>Наименование банка на русском</label>
          <div ng-class="{'input-group': showComments}">
            <input id="payerBankNameRu" ng-model="object.Payer.Contact.BankNameRu" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
          </div>
        </div>
        <div class="form-group ng-hide" ng-show="addPayerNewBankName">
          <label>Наименование банка на казахском</label>
          <div ng-class="{'input-group': showComments}">
            <input id="payerBankNameKz" ng-model="object.Payer.Contact.BankNameKz" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-empty" type="text">
          </div>
        </div>
        <div class="form-group ng-hide" ng-show="addPayerNewBankName">
          <button type="button" class="btn btn-sm btn-success" ng-click="addNewBank('Payer');">Сохранить</button>
        </div>

        <div class="form-group ng-hide" ng-show="object.Payer.IsResident == true">
          <label>Расчетный счет/ИИК</label>
          <div ng-class="{'input-group': showComments}">
            <input id="BankIik1" ng-model="object.Payer.Contact.BankIik" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" ng-disabled="showContactInformationPayer" required="" ui-select-selected="" disabled="disabled">
          </div>
        </div>
        <div class="form-group ng-hide" ng-show="object.Payer.IsResident == false">
          <label>Расчетный счет</label>
          <div ng-class="{'input-group': showComments}">
            <input id="BankIik2" ng-model="object.Payer.Contact.BankIik" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" ng-disabled="showContactInformationPayer" required="" ui-select-selected="" disabled="disabled">
          </div>
        </div>

        <div class="form-group">
          <label>Валюта *</label>
          <select class="form-control" >
          </select>
        </div>

        <div class="form-group ng-hide" ng-show="object.Payer.IsResident == true">
          <label>ИИН/БИН</label>
          <div ng-class="{'input-group': showComments}">
            <input id="BankAccount2" ng-model="object.Payer.Bin" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" type="text" ng-disabled="true" required="" ui-select-selected="" disabled="disabled">
          </div>
        </div>

        <div class="form-group ng-hide" ng-show="object.Payer.IsResident != null">
          <label ng-show="object.Payer.IsResident == true" class="ng-hide">БИК</label>
          <label ng-show="object.Payer.IsResident == false" class="ng-hide">SWIFT *</label>
          <div ng-class="{'input-group': showComments}">
            <input id="SWIFT3" ng-model="object.Payer.Contact.BankBik" placeholder="Введите значение" class="form-control edit-control ng-pristine ng-untouched ng-valid ng-empty" type="text" ui-select-selected="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
