<div id="tab-1" class="tab-pane active">
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-6 b-r">
        <div *ngIf="prnRegisterType === 'Reregistration'" class="form-group">
          <h4>Поиск в реестре МИ</h4>
          <div class="row">
            <div class="col-lg-6 b-r form-group">
              <label>Регистрационный номер</label>
              <input id="regNum" class="form-control edit-control" type="text" name="regNum">
            </div>
            <div class="col-lg-6 b-l form-group">
              <label>Торговое название</label>
              <input id="tradName" class="form-control edit-control" type="text" name="tradName">
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-primary">Поиск</button>
            <button type="button" class="btn btn-primary">Очистить критерий поиска</button>
          </div>
        </div>

        <div class="form-group">
          <div class="custom-control custom-radio radio-inline">
            <input type="radio" class="custom-control-input radio-primary " name="ManafacturIsResident"
                   id="ManafacturResident" [(ngModel)]="isRes" value="res">
            <label class="custom-control-label" for="ManafacturResident">Резидент РК</label>
          </div>
          <div class="custom-control custom-radio radio-inline ">
            <input type="radio" class="custom-control-input  radio-primary" name="ManafacturIsResident"
                   id="ManafacturNoResident" [(ngModel)]="isRes" value="unres">
            <label class="custom-control-label" for="ManafacturNoResident">Нерезидент РК</label>
          </div>
        </div>

        <div *ngIf="isRes !== 'unres'">
          <label>ИИН/БИН *</label>
          <div>
            <input maxlength="24" class="form-control edit-control" type="text" name="bin" disabled>
          </div>
          <br>
        </div>
        <div *ngIf="isRes === 'unres'">
          <div class="form-group">
            <label>Страна</label>
            <select class="form-control" name="manufacturNoResCountry" disabled>
            </select>
          </div>
        </div>
        <div *ngIf="isRes === 'unres'">
          <div class="form-group">
            <label>Наименование на русском языке *</label>
            <input id="manufacturNoResName" class="form-control" disabled type="text"
                   name="manufacturNoResName">
          </div>
        </div>

        <div>
          <div class="form-group">
            <label>Организационная форма</label>
            <select class="form-control" name="manufacturOrgForm" disabled>
            </select>
          </div>
        </div>
        <br>
        <div class="form-group">
          <label>Наименование на государственном языке*</label>
          <div>
            <input class="form-control" disabled type="text" name="manufacturNameKz">
          </div>
        </div>
        <div class="form-group">
          <label>Наименование на русском языке *</label>
          <div>
            <input class="form-control" disabled type="text" name="manufacturNameRu">
          </div>
        </div>
        <div class="form-group">
          <label>Наименование на английском языке</label>
          <div>
            <input class="form-control" disabled type="text" name="manufacturNameEn">
          </div>
        </div>
        <div class="form-group">
          <label>Страна</label>
          <select class="form-control" name="manufacturCountry" disabled>
          </select>
        </div>

        <div class="form-group">
          <h4>Адрес</h4>
          <label>Юридический адрес * </label>
          <div>
            <input class="form-control" disabled type="text" name="manufacturAddressLegalRu">
          </div>
        </div>
        <div class="form-group">
          <label>Фактический адрес * </label>
          <div>
            <input disabled class="form-control" type="text" name="manufacturAddressFact">
          </div>
        </div>
        <div class="form-group">
          <label>Номер телефона * </label>
          <div>
            <input type="text" class="form-control" name="manufacturPhone" disabled>
          </div>
        </div>
        <div class="form-group">
          <label>Номер телефона</label>
          <div>
            <input type="text" class="input-medium bfh-phone" id="manufacturPhone2" type="text" class="form-control" disabled>
          </div>
        </div>
        <div class="form-group">
          <label>Адрес электронной почты * </label>
          <div ng-class="{'input-group': showComments}">
            <input id="manufacturEmail" class="form-control" disabled type="text"
                   name="manufacturEmail">
          </div>
        </div>
      </div>
      <div class="col-lg-6 b-l">
        <div class="form-group">
          <h4>Подписывающее лицо</h4>
          <label>Фамилия первого руководителя *</label>
          <div>
            <input class="form-control" disabled type="text" name="manufacturBossLastName">
          </div>
        </div>
        <div class="form-group">
          <label>Имя первого руководителя *</label>
          <div>
            <input class="form-control" disabled type="text" name="manufacturBossFirstName">
          </div>
        </div>
        <div class="form-group">
          <label>Отчество первого руководителя</label>
          <div>
            <input class="form-control" disabled type="text" name="manufacturBossMiddleName">
          </div>
        </div>
        <div class="form-group">
          <label>Должность первого руководителя на русском языке *</label>
          <div>
            <input name="manufacturBossPosition" class="form-control" disabled type="text">
          </div>
        </div>
        <div class="form-group">
          <label>Должность первого руководителя на государственном языке *</label>
          <div>
            <input name="manufacturBossPositionKz" class="form-control" disabled type="text">
          </div>
        </div>

        <div class="form-group">
          <h4>Банковские реквизиты</h4>
          <label>Наименования банка*</label>
          <select class="form-control" name="manufacturBankName" disabled>

          </select>
        </div>

        <div class="form-group">
          <label>Расчетный счет *</label>
          <div>
            <input name="manufacturBankIik" class="form-control" disabled type="text">
          </div>
        </div>
        <div class="form-group">
          <label>Валюта *</label>
          <select class="form-control" name="manufacturCurr" disabled>
          </select>
        </div>
        <div [hidden]="isRes !== 'unres'">
          <div class="form-group ng-scope">
            <label>SWIFT *</label>
            <div>
              <input name="bankBik" class="form-control" disabled type="text">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

