
@model PW.Ncels.Database.DataModel.ArchivView
<dl class="pwEditRef">

    <dt>Акт</dt>
    <dd>
        @(Html.EditorFor(p => p.Akt))
        <span data-for="Name" class="k-invalid-msg"></span>
    </dd>
    <dt>Листы</dt>
    <dd>
        @(Html.EditorFor(p => p.Book))
        <span data-for="NameKz" class="k-invalid-msg"></span>
    </dd>
    <dt>Том</dt>
    <dd>
        @(Html.EditorFor(p => p.Deed))
        <span data-for="Email" class="k-invalid-msg"></span>
    </dd>
    <dt>Примечание</dt>
    <dd>
        @(Html.EditorFor(p => p.Note))
        <span data-for="Email" class="k-invalid-msg"></span>
    </dd>

</dl>