@model PW.Ncels.Database.DataModel.EXP_DIC_ChangeType
<dl class="pwEditRef">
    <dt>@PW.Ncels.Database.Recources.Messages.Property_Код_399__00</dt>
    <dd>
        @(Html.EditorFor(p => p.Code))
        <span data-for="Code" class="k-invalid-msg"></span>
    </dd>
    <dt>Изменение</dt>
    <dd>
        @(Html.EditorFor(p => p.ChangeName))
        <span data-for="ChangeName" class="k-invalid-msg"></span>
    </dd>
    <dt>Тип</dt>
    <dd>
        @(Html.EditorFor(p => p.ChangeType))
        <span data-for="ChangeType" class="k-invalid-msg"></span>
    </dd>


</dl>
