@model PW.Ncels.Database.Models.OBKReferenceValAdTaxModel

    <dl class="pwEditRef">
        <br>
        <br>
        <dt>@PW.Ncels.Database.Recources.Messages.NDS_Value</dt>
        <dd>
            @(Html.EditorFor(p=>p.Value))
            <span data-for="Code" class="k-invalid-msg"></span>
        </dd>
        <dt>@PW.Ncels.Database.Recources.Messages.Year</dt>
        <dd>
            @(Html.EditorFor(p=>p.Year))
            <span data-for="Name" class="k-invalid-msg"></span>
        </dd>
    </dl>

     

   
 

