@model PW.Ncels.Database.Models.PermissionModel
<div style="padding: 10px; font-size: 12px;">

    @Html.HiddenFor(o => o.KeyType)
    @Html.HiddenFor(o => o.KeyValue)
    @Html.HiddenFor(o => o.KeyPermission)

    @(Html.Kendo().DropDownList().Name("KeyPermissionValue")
                  .HtmlAttributes(new {@class="pwWidth100"})
                  .AutoBind(false)
                  .OptionLabel(PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00)
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .DataSource(dataSource => dataSource.Read(read => read.Action("PermissionValueList", "Employe").Data("paramsPermissionValueList"))).Events(o => o.Change("changePermission"))
    )

</div>
