@model PW.Ncels.Database.Models.PermissionRoleModel
<div style="padding: 10px; font-size: 12px;">

    @Html.HiddenFor(o => o.EmployeeRoleId)
    @Html.HiddenFor(o => o.RoleId)
    @Html.HiddenFor(o => o.RoleName)

    @(Html.Kendo().DropDownList().Name("PermissionRoleCombobox")
                  .HtmlAttributes(new {@class="pwWidth100"})
                  .AutoBind(false)
                  .OptionLabel(PW.Ncels.Database.Recources.Messages.Property_Выберитезначение_57__00)
                  .DataTextField("Name")
                  .DataValueField("Id")
                  .DataSource(dataSource => dataSource.Read(read => read.Action("PermissionRoleValueList", "Employe"))).Events(o => o.Change("changePermissionRole"))
                  //.Filter(FilterType.Contains) бага какаято, 2 поиска появляется :(
    )

</div>
