@model PW.Ncels.Database.DataModel.PP_DIC_AvgExchangeRateView

<div class="pwEditRef">
    
    <dt>Валюта</dt>
    <dd>
        @(Html.Kendo().ComboBoxFor(p => p.CurrencyId).DataValueField("Id").DataTextField("Name")
            .ValuePrimitive(true)
            .DataSource(source => source.Read("GetCurrencies", "Reference"))
            .Value("")
        )
        <span data-for="Name" class="k-invalid-msg"></span>
    </dd>
    <dt>Курс, тг</dt>
    <dd>
        @(Html.EditorFor(p=>p.Rate))
        <span data-for="Rate" class="k-invalid-msg"></span>
    </dd>
</div>

     

   
 

