
@model PW.Ncels.Database.DataModel.PrtPrjsView
<dl class="pwEditRef">
    <dt>Заявка</dt>
    <dd>
        @(Html.Kendo().ComboBoxFor(p => p.ProjectId).DataValueField("Id").DataTextField("Name").ValuePrimitive(true).DataSource(
                            source => source.Read("ListProjectForProtocols", "Reference")
        ))
        <span data-for="Id" class="k-invalid-msg"></span>
    </dd>
</dl>
