
@model PW.Ncels.Database.DataModel.PrtPrjsView2
<dl class="pwEditRef">
    <dt>Протокол</dt>
    <dd>
        @(Html.Kendo().ComboBoxFor(p => p.ProtocolId).DataValueField("Id").DataTextField("Name").ValuePrimitive(true).DataSource(
                            source => source.Read("ListProtocolForProjects", "Reference")
        ))
        <span data-for="Id" class="k-invalid-msg"></span>
    </dd>
    <dt>Результат</dt>
    <dd>
        @(Html.Kendo().ComboBoxFor(p => p.ResultDictionaryId).DataValueField("Id").DataTextField("Name").ValuePrimitive(true).DataSource(
                            source => source.Read("List", "Reference", new { text = "PrtPrjsDics" })
        ))
        <span data-for="ManufacturerPriceCurrencyDicId" class="k-invalid-msg"></span>
    </dd>
</dl>
