@model PW.Ncels.Database.DataModel.TmcOutView
<dl class="pwEditRef">
    <dt>Наименование</dt>
    <dd>
        @(Html.EditorFor(p => p.Note))
        <span data-for="Provider" class="k-invalid-msg"></span>
    </dd>
    <br/>
    <dt>Вид получения</dt>
    <dd>
        @(Html.Kendo().ComboBoxFor(p => p.OutTypeDicId).DataValueField("Id").DataTextField("Name").ValuePrimitive(true).DataSource(source => source.Read("List", "Reference", new { text = "OutType" })))
    </dd>
    <br />
    <dt>ФИО МОЛ</dt>
    <dd>
        @(Html.Kendo().ComboBoxFor(p => p.OwnerEmployeeId).ValuePrimitive(true).DataValueField("Id").DataTextField("Name").DataSource(source => source.Read("ListEmployeAll", "Reference")))
    </dd>
</dl>