<div id="tab-4" class="tab-pane">
  <div class="panel-body">
    <div class="row ng-scope">
      <div class="col-lg-6 b-r">
        <div class="form-group">
          <label>Тип заявки</label>
          <select class="form-control" name="applicationType" disabled>
          </select>
        </div>
        <div class="form-group">
          <label>Тип услуги</label>
          <select class="form-control" name="serviceType" disabled>
          </select>
        </div>

      </div>
      <div class="col-lg-6 b-l">
        <div class="form-group">
          <label>Наименование ИМН/МТ на русском языке *</label>
          <div>
            <input name="NameIMNRu" class="form-control" type="text" disabled>
          </div>
        </div>
        <div class="form-group">
          <label>Наименование ИМН/МТ на государственном языке *</label>
          <div>
            <input name="NameIMNKz" class="form-control" type="text" disabled>
          </div>
        </div>
        <div class="form-group">
          <label>Дополнительные услуги</label>
          <select class="form-control" name="costAddService" disabled>
            <option code="notService">--Нет дополнительных услуг--</option>
            <option code="breketSystem">--Брекет системы--</option>
          </select>
        </div>
        <div>
          <div class="form-group">
            <label>Количетсво</label>
            <div>
              <input id="Count" class="form-control" type="text" disabled>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="custom-control custom-radio radio-inline">
            <input type="radio" class="custom-control-input radio-primary " name="costManufactur" id="costForeign"
                   [(ngModel)]="isManuf" value="frg" disabled>
            <label class="custom-control-label" for="costForeign">Стоимость зарубежного производителя</label>
          </div>
          <div class="custom-control custom-radio radio-inline ">
            <input type="radio" class="custom-control-input  radio-primary" name="costManufactur" id="costNational"
                   [(ngModel)]="isManuf" value="nat" disabled>
            <label class="custom-control-label" for="costNational">Стоимость отечественного производителя</label>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="card-body pt-0 widget-body pd0">
          <div class="table-responsive">
            <ng2-smart-table class="table table-bordered"
                             [settings]="costsSettings"
                             [source]="data"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
