@using Kendo.Mvc.UI
@using PW.Ncels.Database.Models


<div id="loaderContact">
    <form id="ContactAsyncData">

        @(Html.Kendo().Grid<EmployeeModel>()
.Name("kEmployeesGrid").HtmlAttributes(new { @class = "pwWidth100" })
.Columns(columns =>
{
    columns.Bound(p => p.FullName).Title(PW.Ncels.Database.Recources.Messages.Property_Имя_386__00).Width(150);
    columns.Bound(p => p.Phone).Title(PW.Ncels.Database.Recources.Messages.Property_Номер_354__00).Width(150);
    columns.Bound(p => p.Email).Width(150); ;
})
.Groupable(g => g.Messages(messages => messages.Empty("")))
.Filterable()
.Sortable()
.Scrollable()
.Pageable()
.Selectable()
.HtmlAttributes(new { @class = "pwGridRef" })
.DataSource(datasource => datasource
.Ajax()
.PageSize(50)
.Read(read => read.Action("ContactAsyncData", "Reference"))
)
        )


        </form>
</div>

<script>
    resizeGrid('@("#kEmployeesGrid")');
</script>