<div class="container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-sm-10">

      <div class="form-group">
        <label>Необходимо принять соглашение:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"
                  placeholder="Ждем текст ..."></textarea>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
          Подтверждаю
        </label>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary" (click)="sendPaymentSign(true)">Отправить</button>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-gray w-100p mb-1">Отмена</button>
    </div>
  </div>
</div>
