.dec-out{
  padding:40px;
}

.dec-in{
  padding:20px;
  background-color: white;
}

.nav-tabs .nav-link.active {
  color: #676a6c;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  font-weight: 600;
}

.nav-tabs .nav-link {
  color: #A7B1C2;
  font-weight: 600;
}
