<div class="dec-out">
    <div class="dec-in">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" value="fl">
                <a class="nav-item nav-link active" data-toggle="tab" role="tab "
                   aria-controls="nav-home" aria-selected="true" (click)="setDeclarationTab('general')">Общие
                    сведения</a>
                <a class="nav-item nav-link" data-toggle="tab" role="tab"
                   aria-controls="nav-profile" aria-selected="false" (click)="setDeclarationTab('imn')">Комплектация ИМН
                    и МТ</a>
                <a class="nav-item nav-link" data-toggle="tab" role="tab"
                   aria-controls="nav-contact" aria-selected="false" (click)="setDeclarationTab('producer')">Производители
                    и участки производства</a>
                <a class="nav-item nav-link" data-toggle="tab" role="tab"
                   aria-controls="nav-contact" aria-selected="false"
                   (click)="setDeclarationTab('agreement')">Соглашение</a>
            </div>
        </nav>
        <div class="pd-20">
            <div [hidden]="type !== 'general'">
                <app-ext-general-information></app-ext-general-information>
            </div>
            <div [hidden]="type !== 'imn'">
                <app-ext-imn-set></app-ext-imn-set>
            </div>
            <div [hidden]="type !== 'producer'">
                <app-ext-producer></app-ext-producer>
            </div>
            <div [hidden]="type !== 'agreement'">
                <app-ext-agreement></app-ext-agreement>
            </div>
        </div>
    </div>
</div>
