<form #templateForm="ngForm" (change)="model=model">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && subject.invalid}">
          Субъект*</label>
        <div class="input-group">
          <select class="form-control" #subject="ngModel" name="subject"
                  [ngClass]="{'has-error':showErrors === true && subject.invalid}"
                  [(ngModel)]="model.subject" required>
            <option></option>
            <option *ngFor="let item of subjects">{{item.nameRu}}</option>
          </select>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" [(ngModel)]="model.resident" name="resident"
                   value="true"
                   #resident="ngModel" checked required>
            <label class="form-check-label" [ngClass]="{'has-error-text':showErrors === true && resident.invalid}">
              Резидент РК
            </label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-check">
            <div class="input-group">
              <input class="form-check-input" type="radio" [(ngModel)]="model.notResident" name="notResident"
                     value="false"
                     #notResident="ngModel" checked required>
              <label class="form-check-label"
                     [ngClass]="{'has-error-text':showErrors === true && notResident.invalid}">
                Не резидент РК
              </label>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-6">
          <div class="form-check">
            <input class="form-check-input" type="radio" [(ngModel)]="model.individual" name="individualTrue"
                   value="true"
                   #individual="ngModel" checked required>
            <label class="form-check-label"
                   [ngClass]="{'has-error-text':showErrors === true && individual.invalid}">
              Физическое лицо
            </label>
          </div>
        </div>
        <div class="col-6">
          <div class="form-check">
            <div class="input-group">
              <input class="form-check-input" type="radio" [(ngModel)]="model.legalEntity" name="legalEntityFalse"
                     value="false"
                     #legalEntity="ngModel" checked required>
              <label class="form-check-label"
                     [ngClass]="{'has-error-text':showErrors === true && legalEntity.invalid}">
                Юридическое лицо
              </label>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && bin.invalid}">Бин*</label>
        <div class="input-group">
          <input class="form-control" #bin="ngModel"
                 name="bin"
                 [ngClass]="{'has-error':showErrors === true && bin.invalid}"
                 [(ngModel)]="model.bin"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
        <br>
        <button class="btn btn-primary btn-sm">Найти</button>
        <button class="btn btn-primary btn-sm">Отмена</button>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && organizationForm.invalid}">Организационная форма*</label>
        <div class="input-group">
          <select class="form-control" #organizationForm="ngModel" name="organizationForm"
                  [ngClass]="{'has-error':showErrors === true && organizationForm.invalid}"
                  [(ngModel)]="model.organizationForm" required>
            <option></option>
            <option *ngFor="let item of organizationForms">{{item.nameRu}}</option>
          </select>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && subjectNameRu.invalid}">Наименование на русском языке*</label>
        <div class="input-group">
          <input class="form-control" #subjectNameRu="ngModel"
                 name="subjectNameRu"
                 [ngClass]="{'has-error':showErrors === true && subjectNameRu.invalid}"
                 [(ngModel)]="model.subjectNameRu"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && subjectCountry.invalid}">Страна*</label>
        <div class="input-group">
          <select class="form-control" #subjectCountry="ngModel" name="subjectCountry"
                  [ngClass]="{'has-error':showErrors === true && subjectCountry.invalid}"
                  [(ngModel)]="model.subjectCountry" required>
            <option></option>
            <option *ngFor="let item of countries">{{item.nameRu}}</option>
          </select>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && legalAddress.invalid}">Юридический адрес*</label>
        <div class="input-group">
          <input class="form-control" #legalAddress="ngModel"
                 name="legalAddress"
                 [ngClass]="{'has-error':showErrors === true && legalAddress.invalid}"
                 [(ngModel)]="model.legalAddress"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && factualAddress.invalid}">Фактический адрес*</label>
        <div class="input-group">
          <input class="form-control" #factualAddress="ngModel"
                 name="factualAddress"
                 [ngClass]="{'has-error':showErrors === true && factualAddress.invalid}"
                 [(ngModel)]="model.factualAddress"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && phoneNumber.invalid}">Номер телефона*</label>
        <div class="input-group">
          <input class="form-control" #phoneNumber="ngModel"
                 name="phoneNumber"
                 [ngClass]="{'has-error':showErrors === true && phoneNumber.invalid}"
                 [(ngModel)]="model.phoneNumber"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && email.invalid}">Адрес электронной почты*</label>
        <div class="input-group">
          <input class="form-control" #email="ngModel"
                 name="email"
                 [ngClass]="{'has-error':showErrors === true && email.invalid}"
                 [(ngModel)]="model.email"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Факс</label>
        <div class="input-group">
          <input class="form-control" #fax="ngModel"
                 name="fax" [(ngModel)]="model.fax">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="form-group">
        <h5>Подписывающее лицо</h5>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && firstChiefSurname.invalid}">Фамилия первого
          руководителя*</label>
        <div class="input-group">
          <input class="form-control" #firstChiefSurname="ngModel"
                 name="firstChiefSurname"
                 [ngClass]="{'has-error':showErrors === true && firstChiefSurname.invalid}"
                 [(ngModel)]="model.firstChiefSurname"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && firstChiefName.invalid}">Имя первого
          руководителя*</label>
        <div class="input-group">
          <input class="form-control" #firstChiefName="ngModel"
                 name="firstChiefName"
                 [ngClass]="{'has-error':showErrors === true && firstChiefName.invalid}"
                 [(ngModel)]="model.firstChiefName"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && middleName.invalid}">Отчество первого руководителя*</label>
        <div class="input-group">
          <input class="form-control" #middleName="ngModel"
                 name="middleName"
                 [ngClass]="{'has-error':showErrors === true && middleName.invalid}"
                 [(ngModel)]="model.middleName"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && firstLeaderPositionRu.invalid}">Должность первого руководителя на русском языке*</label>
        <div class="input-group">
          <input class="form-control" #firstLeaderPositionRu="ngModel"
                 name="firstLeaderPositionRu"
                 [ngClass]="{'has-error':showErrors === true && firstLeaderPositionRu.invalid}"
                 [(ngModel)]="model.firstLeaderPositionRu"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && firstLeaderPositionKz.invalid}">
          Должность первого руководителя на государственном языке*</label>
        <div class="input-group">
          <input class="form-control" #firstLeaderPositionKz="ngModel"
                 name="firstLeaderPositionKz"
                 [ngClass]="{'has-error':showErrors === true && firstLeaderPositionKz.invalid}"
                 [(ngModel)]="model.firstLeaderPositionKz"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && bankName.invalid}">
          Название банка*</label>
        <div class="input-group">
          <select class="form-control" name="bankName"
                  #bankName = "ngModel"
                  [ngClass]="{'has-error':showErrors === true && bankName.invalid}"
                  [(ngModel)]="model.bankName"
                  required>
            <option *ngFor="let item of bankVar">{{item.nameRu}}</option>
          </select>

          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-sm btn-primary" (click)="addBankName()">Добавить</button>
      </div>
      <div *ngIf="isAddBankName">
        <div class="card card-outline-info text-left">
          <!--<div class="card-header">-->
          <!--Default card-->
          <!--</div>-->
          <div class="card-body">
            <div class="form-group">
              <label>Наименование банка на русском</label>
              <div>
                <input id="bankNameRu"  #bankNameRu class="form-control" placeholder="Введите значение"  type="text">
              </div>
            </div>
            <div class="form-group">
              <label>Наименование банка на казахском</label>
              <div>
                <input id="BankNameKz" #bankNameKz class="form-control" placeholder="Введите значение"  type="text">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div>
              <button type="button" class="btn btn-sm btn-primary" (click)="saveBank(bankNameRu.value,bankNameKz.value)">Сохранить</button>
              <button type="button" class="btn btn-sm btn-primary" (click)="declineBank()">Отменить</button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && IIK.invalid}">
          ИИК*</label>
        <div class="input-group">
          <input class="form-control" #IIK="ngModel"
                 name="IIK"
                 [ngClass]="{'has-error':showErrors === true && IIK.invalid}"
                 [(ngModel)]="model.IIK"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && currency.invalid}">
          Валюта*</label>
        <div class="input-group">
          <input class="form-control" #currency="ngModel" name="currency"
                 [ngClass]="{'has-error':showErrors === true && currency.invalid}"
                 [(ngModel)]="model.currency"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && leaderBin.invalid}">
          БИН*</label>
        <div class="input-group">
          <input class="form-control" #leaderBin="ngModel" name="leaderBin"
                 [ngClass]="{'has-error':showErrors === true && leaderBin.invalid}"
                 [(ngModel)]="model.leaderBin"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && leaderBik.invalid}">
          БИК*</label>
        <div class="input-group">
          <input class="form-control" #leaderBik="ngModel" name="leaderBik"
                 [ngClass]="{'has-error':showErrors === true && leaderBik.invalid}"
                 [(ngModel)]="model.leaderBik"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label [ngClass]="{'has-error-text':showErrors === true && leaderCode.invalid}">
          Код*</label>
        <div class="input-group">
          <input class="form-control" #leaderCode="ngModel" name="leaderCode"
                 [ngClass]="{'has-error':showErrors === true && leaderCode.invalid}"
                 [(ngModel)]="model.leaderCode"
                 required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>
