<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
<!--    <add name="i1cDb" connectionString="Data Source=METIS\MSSQL2016; Initial Catalog=Integration1Cdb;User Id=sa;Password=1q2w3e4r;" />-->
    <add name="i1cDb" connectionString="Data Source=88.198.137.129; Initial Catalog=Integration1Cdb;User Id=sa;Password=!Q2w3e4r;" />
<!--    <add name="ExpDb" connectionString="Data Source=METIS\MSSQL2016; Initial Catalog=ncels;User Id=sa;Password=1q2w3e4r;" />-->
    <add name="ExpDb" connectionString="Data Source=88.198.137.129; Initial Catalog=ncels;User Id=sa;Password=!Q2w3e4r;" />

<!--    <add name="i1cDb" connectionString="Data Source=89.218.7.180; Initial Catalog=Integration1Cdb;User Id=sa;Password=!Q2w3e4r;" />-->
<!--    <add name="ExpDb" connectionString="Data Source=89.218.7.180; Initial Catalog=ncels;User Id=sa;Password=!Q2w3e4r;" />-->
  </connectionStrings>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true" />
    <add key="SyncInterval" value="1" />
  </appSettings>
  <log4net>
    <appender name="RollingLogFileApender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\log_" />
      <staticLogFileName value="false" />
      <rollingStyle value="Date" />
      <datepattern value="yyyy-MM-dd'.txt'" />
      <maximumFileSize value="5MB" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileApender" />
    </root>
  </log4net>
</configuration>