.ext-body.boxed-layout {
  background: url('../../../assets/imgs/shattered.png');
  height: 1000px;
  margin: 0px;
}

.ext-body {
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #004d86;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

.top-navigation.boxed-layout #wrapper, .boxed-layout .ext-wrapper.top-navigation {
  max-width: 1300px !important;
}

.ext-body.boxed-layout .ext-wrapper {
  background-color: #f3f3f4 !important;
}

.ext-body.boxed-layout .ext-wrapper {
  background-color: #2f4050;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
}
