
<div id="@("window" + ViewData["ActReceptionId"])">
    <object data="/SafetyAssessment/PrintActReception?contractId=@ViewData["ContractId"]&actReceptionId=@ViewData["ActReceptionId"]&view=true" style="width:100%;height:550px"></object>
</div>


<script>
    var myWindow = $("#window" + '@ViewData["ActReceptionId"]');
    
    myWindow.kendoWindow({
        width: "1000px",
        visible: false,
        actions: [
            "Pin",
            "Minimize",
            "Maximize",
            "Close"
        ],
    }).data("kendoWindow").center().open();;

</script>
