@using PW.Ncels.Database.Constants
@using PW.Ncels.Database.DataModel
@using PW.Ncels.Database.Helpers
@using PW.Ncels.Database.Models
@using PW.Ncels.Database.Models.OBK
@model Guid?

@{
    var currentUser = UserHelper.GetCurrentEmployee().Id;
    var controllerName = @ViewContext.RouteData.GetRequiredString("controller");
}

@(Html.Kendo().Splitter()
                                                  .HtmlAttributes(new { @class = "pwSplitter k-block" })
                                                  .Name(("splitter"))
                                                  .Panes(panes =>
                                                  {
                                                      panes.Add().Scrollable(false).Size("100%").Content(
                                                            @<div class="pwPanelBar">

                                                                @( Html.Kendo().Grid<AdditionalContractArchive>()
                                                                                                                                                                 .Name("AdditionalContractArchive" + Model)

                                                                                                                                                                 .Columns(columns =>
                                                                                                                                                                 {

                                                                                                                                                                             columns.Bound(p => p.Number).ClientTemplate(
                                                                                                                                                                      "<div class=\"btn-group btn-group-xs\" style='height:14px;margin-top: -9px;'>" +
                                                                                                                                                                      "<button type='button' style='width:90px;' class='btn btn-default btn-xs' onclick=\"getObkContractDetails('#=[Id]#', '#=Number#',);\"><span style=\"color:rgb(66,139,202);\">#=Number#</span></button>" +
                                                                                                                                                                      "</div>"  ).Title("Номер");
                                                                                                                                                                             columns.Bound(p => p.StartDate).Format("{0:dd.MM.yyyy}").Title("Дата регистраций");
                                                                                                                                                                             columns.Bound(p => p.additionalType).Title("Тип");
                                                                                                                                                                         })
                                                                                                                                                                 .AutoBind(false)
                                                                                                                                                                 .Reorderable(reorderable => reorderable.Columns(true))
                                                                                                                                                                 .Resizable(resizable => resizable.Columns(true))
                                                                                                                                                                 .Groupable()
                                                                                                                                                                 .Sortable()
                                                                                                                                                                 .Filterable()
                                                                                                                                                                 .Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
                                                                                                                                                                 .Scrollable(scrollable => scrollable.Virtual(true))
                                                                                                                                                                 .Pageable()
                                                                                                                                                                 .HtmlAttributes(new { @class = "pwGrid" })
                                                                                                                                                                 .DataSource(dataSource => dataSource
                                                                                                                                                                     .Ajax()
                                                                                                                                                                     .Sort(sort => { sort.Add("StartDate").Descending(); })
                                                                                                                                                                     .PageSize(10)
                                                                                                                                                                     .Read(read => read.Action("AdditionalContractList", "SafetyAssessment", new { contractId = Model }))
                                                                                                                                                                    )
                                                                ))

                                                            </div>
                                                                                                                            );
                                                          }))

<script>

    $(document).ready(function ()
    {
        $("#AdditionalContractArchive"+"@Model").data("kendoGrid").dataSource.read();
    });

</script>

