.mg-0{
  margin-right: 0px;
  margin-left: 0px;
}

.imn-p{
  font-weight: 700;
  text-align: center;
}

.overflow-vis{
  overflow: visible;
}

.dec-out{
  padding: 40px;
}

.dec-in{
  padding:20px;
  background-color: white;
}

.pd0 {
  padding: 0;
}

.dropdown-shadow{
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
}


.breadcrumbs{
  padding: 20px;
  background-color: white;
}

a {
  color: #676a6c;
  font-weight: 300;
  font-size: 13px;
}

span.fw-600 {
  font-weight: 600;
}

h2.font-weight-300 {
  font-weight: 300;
}

