.mg-0{
  margin-right: 0px;
  margin-left: 0px;
}

.imn-p{
  font-weight: 700;
  text-align: center;
}

.overflow-vis{
  overflow: visible;
}

.dec-out{
  padding: 40px;
}

.dec-in{
  padding:20px;
  background-color: white;
}

.pd0 {
  padding: 0;
}
