<div class="breadcrumbs">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="font-weight-300">Все</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <a routerLink="/ext">Домашняя страница</a>
      <span>/</span>
      <a routerLink="/ext/declarations">Заявки</a>
      <span>/</span>
      <span class="fw-600">Все</span>
    </div>
  </div>
</div>

<div class="dec-out">
  <div class="dec-in">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle  fa fa-file-text-o" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Создать заявку
      </button>
      <div class="dropdown-menu dropdown-shadow" aria-labelledby="dropdownMenu2">
        <button class="dropdown-item" routerLink="/ext/declarations/create" type="button">Создать заявку</button>
        <button class="dropdown-item" type="button">Создать заявку</button>
        <button class="dropdown-item" type="button">Создать заявку</button>
      </div>
    </div>

    <ng2-smart-table class="table table-bordered"
                     [settings]="declarationsSettings"
                     [source]="data"></ng2-smart-table>
  </div>
</div>
