<br>
<div class="row mg-right0">
  <div class="col-md-2">
    <div class="sidebar-outer">
      <app-vertical-menu [menuItems]="menuItems"></app-vertical-menu>
    </div>
  </div>
  <div class="col-md-10">
    <div class="card border-0 box-shadow">
      <div class="dec-in">
        <div class="card-body pt-0 widget-body pd0">
          <div class="table-responsive">
            <button type="button" class="btn btn-gray btn-sm" data-toggle="modal" data-target="#md-modal">Распределить
            </button>
            <button type="button" class="btn btn-gray btn-sm" data-toggle="modal" data-target="#extendedSearch">
              Расширенный поиск
            </button>
            <div class="modal fade" id="md-modal" tabindex="-1" role="dialog" aria-labelledby="modal-default-label"
                 style="display: none;">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header state modal-primary">
                    <h4 class="modal-title" id="modal-default-label">Default modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                      aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, magni suscipit. Dicta dolorem earum
                    esse, fugiat harum minus neque nesciunt, quas reiciendis rem repudiandae rerum? Adipisci et labore
                    laborum quidem!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="extendedSearch" tabindex="-1" role="dialog"
                 aria-labelledby="modal-default-label" style="display: none;">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header state modal-primary">
                    <h6 class="modal-title" id="extendedSearch-label">Расширенный поиск</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                      aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Заявитель</label>
                          <input class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label>Дата отправки с</label>
                        <div class="input-group">
                          <input class="form-control" name="registrationDate" ngbDatepicker
                                 #sendDateFromBtn="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-calendar fa-lg"
                                    (click)="sendDateFromBtn.toggle()"
                                    type="button">
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label>По</label>
                        <div class="input-group">
                          <input class="form-control" name="registrationDate" ngbDatepicker
                                 #sendDateToBtn="ngbDatepicker">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-calendar fa-lg"
                                    (click)="sendDateToBtn.toggle()"
                                    type="button">
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label>Эксперт</label>
                        <select class="form-control">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Поиск</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                  </div>
                </div>
              </div>
            </div>

            <br>
            <br>
            <ng2-smart-table class="table table-bordered"
                             [settings]="table1Settings"
                             [source]="data"
                             (deleteConfirm)="onDeleteConfirm($event)"
                             (rowSelect)="onRowSelect($event)"
                             (userRowSelect)="onUserRowSelect($event)"
                             (rowHover)="onRowHover($event)"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


