 .link-object { }
 #loading
    {
        display:none;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
        background:rgba(255,255,255,0.8);
        z-index:1000;
    }
  
    #loadingcontent
    {
        display:table;
        position:fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
    }
  
    #loadingspinner
    {
        display: table-cell;
        vertical-align:middle;
        width: 100%;
        text-align: center;
        font-size:larger;
        padding-top:80px;
    }
      .CSSTableGenerator thead tr, .disabletd {
        color: #707070;
        font-weight: normal;
        background: #f2f2f2;
        background-color: #f3f3f3;
        background-image: -moz-linear-gradient(top,#f8f8f8,#ececec);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#ececec));
        background-image: -webkit-linear-gradient(top,#f8f8f8,#ececec);
        background-image: -o-linear-gradient(top,#f8f8f8,#ececec);
        background-image: linear-gradient(to bottom,#f8f8f8,#ececec);
        background-repeat: repeat-x;
        margin-bottom: 20px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8',endColorstr='#ffececec',GradientType=0);
    }

        .CSSTableGenerator thead tr td {
            border-left: 1px solid gray;
        }
          .select2-container {
        width: 100%;
    }

    .edit-control {
        width: 100%;
    }

    .ui-dialog {
        background: white;
    }

    .ui-dialog-titlebar-close {
        background: #08e7d2;
    }

    .ui-widget-header {
        border: 1px solid #08e7d2;
        background: #004d86;
        color: #ffffff;
        font-weight: bold;
    }

    .ui-dialog .ui-dialog-buttonpane button {
        background-color: #5cb85c;
        border-color: #4cae4c;
        color: white;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
    }

    .main-control {
    }