<nav class="navbar navbar-static-top pw-nav2 mg-0" role="navigation">

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <div class="navbar-header">

        <div class="visible-lg">
          <a href="/">
            <img class="logo-img" src="../../../assets/imgs/ncels.png">
          </a>
        </div>

      </div>
    </li>
  </ul>

  <ul class="nav navbar-top-links navbar-right mg-local" data-ng-controller="navbarNotification">
    <li uib-dropdown="" class="dropdown">

      <form action="/Home/SetCulture" method="post" class="ng-pristine ng-valid">
        <div class="control-group">
          <div class="controls">
            <label for="es">
              <input name="culture" id="es" class="local-font" value="РУС" type="submit">
              <input name="culture" id="ar" class="local-font" value="ҚАЗ" type="submit">
            </label>
          </div>
        </div>
      </form>
    </li>
  </ul>

  <ul class="nav navbar-top-links navbar-right mg-60" data-ng-controller="navbarNotification">

    <li uib-dropdown="" class="dropdown">
      <div class="row">
        <p class="mg-20">Версия: 1.0.7.23</p>
     </div>
      <div class="row">
        <a class="count-info " uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell"></i> <span id="topNavCountNew" class="label label-warning">26</span>
        </a>
        <ul class="dropdown-alerts dropdown-menu" uib-dropdown-menu="">
          <li class="divider"></li>
          <!--goo-->
          <!-- ngRepeat: item in notification -->
          <li>
            <a href="/Notification">
              <div class="ng-binding">
                <span class="pull-right text-muted small ng-binding">28.02.2018 18:13</span>
                <i class="fa fa-bell-o fa-fw"></i> Договор зарегистрирован. № 143, дата начала действия 28.02.2018.
                Договор можно просмотреть во вложениях
              </div>
            </a>
          </li><!-- end ngRepeat: item in notification -->
          <li class="divider"></li>
          <li>
            <div class="text-center link-block">
              <a ui-sref="miscellaneous.notify" href="/Notification">
                <strong>Смотреть все уведомления</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>

</nav>




