
<div>

  <div class="row border-bottom">
    <nav class="navbar navbar-static-top pw-nav2" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">

        <div class="visible-lg">
          <a href="/">
            <img style="margin-bottom: 10px; margin-left: 65px; margin-top: 10px;" src="../../../assets/imgs/ncels.png">
          </a>
        </div>

      </div>

      <ul class="nav navbar-top-links navbar-right " data-ng-controller="navbarNotification" style="margin-top: 19px; margin-right: 60px;">
        <p style="margin-bottom: 0px;">Версия: 1.0.7.23</p>
        <li uib-dropdown="" class="dropdown">

          <a class="count-info dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-bell"></i> <span id="topNavCountNew" class="label label-warning">26</span>
          </a>
          <ul class="dropdown-alerts dropdown-menu" uib-dropdown-menu="">
            <li class="divider"></li>
            <!--goo-->
            <!-- ngRepeat: item in notification --><li ng-repeat="item in notification" class="ng-scope">
            <a ui-sref="profile" href="/Notification">
              <div class="ng-binding">
                <span class="pull-right text-muted small ng-binding">28.02.2018 18:13</span>
                <i class="fa fa-bell-o fa-fw"></i> Договор зарегистрирован. № 143, дата начала действия 28.02.2018. Договор можно просмотреть во вложениях
              </div>
            </a>
          </li><!-- end ngRepeat: item in notification --><li ng-repeat="item in notification" class="ng-scope">
            <a ui-sref="profile" href="/Notification">
              <div class="ng-binding">
                <span class="pull-right text-muted small ng-binding">28.02.2018 18:13</span>
                <i class="fa fa-bell-o fa-fw"></i> Договор зарегистрирован. № 143, дата начала действия 28.02.2018. Необходимо произвести оплату работ по предоставленному счету на оплату
              </div>
            </a>
          </li><!-- end ngRepeat: item in notification --><li ng-repeat="item in notification" class="ng-scope">
            <a ui-sref="profile" href="/Notification">
              <div class="ng-binding">
                <span class="pull-right text-muted small ng-binding">28.02.2018 18:12</span>
                <i class="fa fa-bell-o fa-fw"></i> Договор с типом Оценка безопасности и качества каждой серии(партии) согласован. Необходимо предоставить договор с подписью в ЦОЗ
              </div>
            </a>
          </li><!-- end ngRepeat: item in notification -->
            <li class="divider"></li>
            <li>
              <div class="text-center link-block">
                <a ui-sref="miscellaneous.notify" href="/Notification">
                  <strong>Смотреть все уведомления</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-top-links navbar-right " data-ng-controller="navbarNotification" style="margin-top: 19px; margin-right: 60px;">
        <li uib-dropdown="" class="dropdown">

          <form action="/Home/SetCulture" method="post" class="ng-pristine ng-valid">                    <div class="control-group">
            <div class="controls">
              <label for="es">
                <input name="culture" id="es" value="РУС" type="submit">
                <input name="culture" id="ar" value="ҚАЗ" type="submit">
              </label>
            </div>
          </div>
          </form>
        </li>
      </ul>
    </nav>
  </div>

</div>
