.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}

.top-navigation .navbar {
  margin-bottom: 0;
}

.navbar {
  min-height: 45px !important;
}

.pw-nav2 {
  background: #f3f3f4 none repeat scroll 0 0;
}

.navbar {
  border: 0;
}

.local-font {
  color: #676a6c;
  font-weight: 700;
}

.logo-img {
  margin-bottom: 10px;
  margin-left: 65px;
  margin-top: 10px;
}

label-warning, .badge-warning {
  background-color: #f8ac59;
  color: #FFFFFF;
}

.count-info .label {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 59px;
  top: 30px;
}

.mg-20 {
  margin-bottom: 20px;
}

.mg-60 {
  margin-right: 60px;
}

.mg-local {
  margin-right: 60px;
  margin-bottom: 20px;
}

.mg-0{
  margin-bottom: 0;
}

.label {
  font-size: 10px;
  font-weight: 600;
  padding: 3px 8px;
  text-shadow: none;
  background-color: #f8ac59;
  color: white;
  border-radius: 2px;
}

.nav > li > a i {
  margin-right: 6px;
}
