.border-bottom {
  border-bottom: 1px solid #e7eaec !important;
}

.top-navigation .navbar {
  margin-bottom: 0;
}

.navbar {
  min-height: 45px !important;
}

.pw-nav2 {
  background: #f3f3f4 none repeat scroll 0 0;
}

.navbar {
  border: 0;
}
