<div class="breadcrumbs">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="font-weight-300">Все</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <a routerLink="/ext">Домашняя страница</a>
      <span>/</span>
      <a routerLink="/ext/contracts">Договора</a>
      <span>/</span>
      <span class="fw-600">Все</span>
    </div>
  </div>
</div>

<div class="dec-out">

  <div class="dec-in">
    <div>
      <div class="controls">
        <div class="btn-group" role="group" >
          <button type="button" class="btn btn-info btn-sm" (click)="createContract(1,'eaesrg')"><i class="fa fa-map-o"></i>Создать новый договор (тип Один к одному)</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="createContract(2,'eaesrg')"><i class="fa fa-map-o"></i>Создать новый договор (тип Рамочный)</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="showSuccess()"><i class="fa fa-map-o"></i>Создать дополнительное соглашение</button>
          <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-map-o"></i><ng-container i18n="@@contracts.CreateAddition">Создать дополнительное соглашение</ng-container></button>
        </div>
      </div>
    </div>
    <div>
      <label>Показать
        <select name="entry-grid_length"  class="form-control">
          <option value="3">3</option>
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        записей</label>
    </div>

    <ng2-smart-table class="table table-bordered"
                     [settings]="contractsSettings"
                     [source]="contractList[0]"></ng2-smart-table>
  </div>
</div>
