<form #templateForm="ngForm" (change)="model=model">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-dark">
          <h5>Производитель (и) ИМН и МТ и участок (и) производства (включая участки производства любого компонента,
            который
            является частью ИМН и МТ</h5>
        </div>
      </div>
    </div>

    <div class="clearfix">
      <ul class="nav nav-tabs custom top nav-justified">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#manufacturer-driven"><h5>Производитель</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#platform-driven"><h5>Производственная площадка</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#declarant-driven"><h5>Заявитель</h5></a>
        </li>
      </ul>
    </div>
    <div class="tab-content top wrapper">
      <div class="tab-pane active" id="manufacturer-driven">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">Тип производителя</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">Организационная форма</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">Страна</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">На русском языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">На государственном языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">На англиском языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="required">Страна</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="required">На англиском языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="platform-driven">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">Тип производителя</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">Организационная форма</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">Страна</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">На русском языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">На государственном языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">На англиском языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="required">Страна</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="required">На англиском языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="declarant-driven">
        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">Тип производителя</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">Организационная форма</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">Страна</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">На русском языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">На государственном языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="required">На англиском языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="required">Страна</label>
              <div class="input-group">
                <select class="form-control">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="required">На англиском языке</label>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-dark">
          <h5>Изменения, вносимые в регистрационное досье (заполняются при типе заявки – внесение изменений) (указать
            вносимые изменения - пункт/ты согласно приложения 3)</h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <table class="table ">
          <thead>
          <tr class="table-active table-bordered">
            <th scope="col"><label class="required">Редакция до внесения изменений</label></th>
            <th scope="col"><label class="required">Вносимые изменения</label></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </td>
            <td>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите значение">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <button type="button" class="btn btn-info w-100p mb-1">Сохранить</button>
    <button type="button" class="btn btn-info w-100p mb-1">Отмена</button>

  </div>
</form>
