<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-dark">
        <h5>Производитель (и) ИМН и МТ и участок (и) производства (включая участки производства любого компонента,
          который
          является частью ИМН и МТ</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table ">
        <thead>
        <tr class="table-active table-bordered">
          <th scope="col">Производитель</th>
          <th scope="col">Производственная площадка</th>
          <th scope="col">Заявитель</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="form-group">
              <label for="Manufacturer">Производитель</label>
              <select class="form-control" id="Manufacturer">
                <option>выберите значение</option>
              </select>
            </div>
            <div class="form-group">
              <label for="nameRu">На русском языке</label>
              <input type="text" class="form-control" id="nameRu" placeholder="Введите значение">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="OrganizationalForm">Организационная форма</label>
              <select class="form-control" id="OrganizationalForm">
                <option>выберите значение</option>
              </select>
            </div>
            <div class="form-group">
              <label for="nameKz">На государственном языке</label>
              <input type="text" class="form-control" id="nameKz" placeholder="Введите значение">
            </div>
          </td>
          <td>
            <div class="form-group">
              <label for="Country">Страна</label>
              <select class="form-control" id="Country">
                <option>выберите значение</option>
              </select>
            </div>
            <div class="form-group">
              <label for="nameEn">На англиском языке</label>
              <input type="text" class="form-control" id="nameEn" placeholder="Введите значение">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="nameKz">Юридический адрес</label>
        <input type="text" class="form-control" id="legalAddress" placeholder="Введите значение">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="nameRu">Фактический адрес</label>
        <input type="text" class="form-control" id="actualAddress" placeholder="Введите значение">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-dark">
        <h5>Изменения, вносимые в регистрационное досье (заполняются при типе заявки – внесение изменений) (указать
          вносимые изменения - пункт/ты согласно приложения 3)</h5>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <table class="table ">
        <thead>
        <tr class="table-active table-bordered">
          <th scope="col">Редакция до внесения изменений</th>
          <th scope="col">Вносимые изменения</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Введите значение">
          </td>
          <td>
            <input type="text" class="form-control" placeholder="Введите значение">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button type="button" class="btn btn-info w-100p mb-1">Сохранить</button>
  <button type="button" class="btn btn-info w-100p mb-1">Отмена</button>

</div>
