<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-certificate modal-icon"></i>
        <h4 class="modal-title">Отправить в ЦОЗ</h4>
    </div>
    <div class="modal-body">
        <h2 class="modal-title">Вы действительно хотите отправить в ЦОЗ?</h2>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancelSend()">Отмена</button>
        <button type="button" class="btn btn-success" ng-click="sendProject()">Отправить</button>
    </div>
</div>
