<style>
    .loc-td {
        border-left: 0px;
        padding: 5px;
    }
    .red {
        color: red;
        font-weight: bold;
    }
</style>
<hr/>
<p class="red">Замечания по вложениям</p>
<table>
    <thead>
    <tr>
        <th class="loc-td">Документ</th>
        <th class="loc-td">Замечание</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in attachRemarks" style="padding: 5px;">
            <td class="loc-td">{{ item.dicName }}</td>
            <td class="loc-td">{{ item.RemarkNote }}</td>
        </tr>
    </tbody>
</table>