@{
    Layout = "../Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Все</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Домашняя страница</a>
            </li>
            <li>
                <a>Заявления</a>
            </li>
            <li class="active">
                <strong>Все</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight" ng-controller="priceReWorkGrid">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        Список всех заявлений
                    </h5>
                    <div>
                        @*<div style="float: right">
                            <button class="btn btn-default btn-sm" style="margin-top: -6px;" type="button" onclick="location.href = '@Url.Action("RePriceLsNew", "Project")'"><i class="fa fa-plus"></i> Создать заявление на зарегистрированную цену</button>
                        </div>*@
                    </div>
                </div>
         
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <grid-object url="/Project/ReadPriceRework?type=0" column-order="1"></grid-object>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>