@using PW.Ncels.Database.Enums
@{
    var pType = (PriceProjectType)ViewBag.PriceProjectType;
    var form = "";

    switch (pType){
        case PriceProjectType.PriceLs:
            form = "priceLsForm";
            break;
        case PriceProjectType.RePriceLs:
            form = "rePriceLsForm";
            break;
        case PriceProjectType.PriceImn:
            form = "priceImnForm";
            break;
        case PriceProjectType.RePriceImn:
            form = "rePriceImnForm";
            break;
    }
}

<div class="panel-body">
    <h3 class="m-t-none m-b">1. Заявитель</h3>
    <div class="row">
        <div class="col-lg-6 b-r">
            <p class="text-bold">1.3. Доверенное лицо/компания, представительство от заявителя, уполномоченное проводить действия во время процедуры регистрации цены в Республике Казахстан</p>
            <div class="form-group">
                <label>Наименование на государственном языке</label>
                <div class="input-group">
                    <input ng-model="object.ProxyOrganization.NameKz" placeholder="Введите значение" class="form-control edit-control main-control" 
                           name="poNameKz" id="poNameKz" type="text" ui-select-selected required>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Наименование на русском языке</label>
                <div class="input-group">
                    <input ng-model="object.ProxyOrganization.NameRu" placeholder="Введите значение" class="form-control edit-control main-control" 
                           name="poNameRu" id="poNameRu" type="text" ui-select-selected required>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Наименование на английском языке</label>
                <div class="input-group">
                    <input ng-model="object.ProxyOrganization.NameEn" placeholder="Введите значение" class="form-control edit-control main-control" 
                           name="poNameEn" id="poNameEn" type="text" ui-select-selected required>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Страна</label>
                <div class="input-group">
                    <select name="poCountry" id="poCountry" ng-model="object.ProxyOrganization.CountryDicId" class="form-control edit-control main-control" required>
                        <option ng-repeat="item in Country | filter: $select.search" value="{{item.Id}}">{{item.Name}}</option>
                    </select>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Юридический адрес</label>
                <div class="input-group">
                    <input ng-model="object.ProxyOrganization.AddressLegal" placeholder="Введите значение" class="form-control edit-control main-control" 
                           name="poAddressLegal" id="poAddressLegal" type="text" ui-select-selected required>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Фактический адрес</label>
                <div class="input-group">
                    <input ng-model="object.ProxyOrganization.AddressFact" placeholder="Введите значение" class="form-control edit-control main-control" 
                           name="poAddressFact" id="poAddressFact" type="text" ui-select-selected required>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Телефон</label>
                <div class="input-group">
                    <input ng-model="object.ProxyOrganization.Phone" placeholder="+7(000)-000-00-00" 
                           name="poPhone" id="poPhone" class="form-control edit-control main-control phone" type="text" ui-select-selected required>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Факс</label>
                <div class="input-group">
                    <input ng-model="object.ProxyOrganization.Fax" placeholder="Введите значение" class="form-control edit-control main-control" 
                           name="poFax" id="poFax" type="text" ui-select-selected required>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>e-mail</label>
                <div class="input-group">
                    <input ng-model="object.ProxyOrganization.Email" name="poEmail" id="poEmail" ng-pattern="emailFormat" placeholder="example@mail.ru" class="form-control edit-control main-control"
                           type="email" ui-select-selected required ng-class="{'valid-error': @(form).poEmail.$error.pattern}">
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Фамилия, имя, отчество (при его наличии) руководителя</label>
                <div class="input-group">
                    <input ng-model="object.ProxyOrganization.BossFio" placeholder="Введите значение" class="form-control edit-control main-control" 
                           name="poBossFio" id="poBossFio" type="text" ui-select-selected required>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 b-l">
            <p class="text-bold">Данные о доверенности</p>
            <div class="form-group">
                <label>№ доверенности</label>
                <div class="input-group">
                    <input ng-model="object.Project.DoverennostNumber" placeholder="Введите значение" class="form-control edit-control main-control" 
                           name="poDoverennostNumber" id="poDoverennostNumber" type="text" ui-select-selected required>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Дата выдачи</label>
                <div class="input-group">
                    <input type="text" class="form-control datepicker edit-control main-control"
                           name="doverennostCreatedDate" id="doverennostCreatedDate"
                           placeholder="ДД.ММ.ГГГГ" uib-datepicker-popup=""
                           datepicker-options="datePicker.dateStartOptions"
                           is-open="datePicker.dateStartStatus.opened"
                           ng-model="object.Project.DoverennostCreatedDate"
                           ng-click="datePicker.dateStartOpen($event)"
                           onkeydown="return false"
                           changeble="{{isProjectSaved}}"
                           ui-select-selected required/>
                    <span class="input-group-addon" ng-click="datePicker.dateStartOpen($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
            @*<div class="form-group">
                <label>Дата выдачи</label>
                <div class="input-group">
                    <input id="AccelerationDateStr" class="form-control edit-control main-control date-control">
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>*@            
            
            <div class="form-group">
                <label>Срок действия</label>
                <div class="input-group">
                    <input type="text" class="form-control datepicker edit-control main-control"
                           name="doverennostExpiryDate" id="doverennostExpiryDate" 
                           placeholder="ДД.ММ.ГГГГ" uib-datepicker-popup=""
                           datepicker-options="datePicker.dateEndOptions"
                           is-open="datePicker.dateEndStatus.opened"
                           ng-model="object.Project.DoverennostExpiryDate"
                           ng-click="datePicker.dateEndOpen($event)"
                           changeble="{{isProjectSaved}}"
                           onkeydown="return false" ui-select-selected required />
                    <span class="input-group-addon" ng-click="datePicker.dateEndOpen($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                    <span class="input-group-addon">
                        <a class="commentDialog" href="#">
                            <i class="glyphicon glyphicon-info-sign"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>