<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="ApplicationServices" connectionString="data source=(local);initial catalog=ncels;;integrated security=False;User ID=bob;Password=123;" providerName="System.Data.SqlClient"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(name)" name="ncelsEntities" connectionString="metadata=res://*/DataModel.EntitiesModel.csdl|res://*/DataModel.EntitiesModel.ssdl|res://*/DataModel.EntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=ncels;integrated security=False;User ID=bob;Password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ExpertiseEnabled" value="true"/>
    <add xdt:Transform="SetAttributes" xdt:Locator="Match(key)" key="ReffPriceEnabled" value="true"/>
  </appSettings>
  <system.web>
  </system.web>
</configuration>