<div class="col-lg-9">-->
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content text-center p-md">
          <h2>
            <span class="text-success">ДОРЕГИСТРАЦИОННЫЙ</span>
          </h2>
          <p>
            ПЕРИОД ЛС, ИМН и МТ
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>

              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/01.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="/Visit">Запись на прием</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/02.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="#">Проведение биоэквивалентности</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/03.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="#">Проведение ДИ</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/04.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="#">Проведение КИ</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/05.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="#">Оценка условий производства ДИ, КИ, Фармаконадзор</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/06.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="/Project/Expertise">Экспертиза ЛС, ИМН и МТ</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content text-center p-md">
          <h2>
            <span class="text-success">ОБЩИЕ УСЛУГИ</span>
          </h2>
          <p>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/07.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="#">Консультационные услуги</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/08.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="#">Перевод на государственный язык</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content text-center p-md">
          <h2>
            <span class="text-success">ПОСЛЕРЕГИСТРАЦИОННЫЙ</span>
          </h2>
          <p>
            ПЕРИОД ЛС, ИМН и МТ
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/09.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="/SafetyAssessment">Оценка безопасности и качества ЛС, ИМН</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/10.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="#">Фармаконадзор</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/11.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="/Project/Pricing">Референтное ценообразование ЛС, ИМН</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/12.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="#">Экспертиза рекламных материалов</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <span class="label label-success pull-right">New</span>
          <h5>Создать</h5>
        </div>
        <div class="ibox-content">
          <table>
            <tbody><tr>
              <td style="width: 64px; vertical-align: sub;"><img src="../../../assets/imgs/13.png" style="height: 64px; width: 64px; vertical-align: sub;"></td>
              <td style="width: 20px;"></td>
              <td>
                <h2 class="no-margins">
                  <a class="pw-widget-link" href="#">Подготовка проекта СРР</a>
                </h2>
              </td>
            </tr>
            </tbody></table>
        </div>
      </div>
    </div>
  </div>
</div>
