<form #templateForm="ngForm" (change)="model=model">
  <div class="row">
    <div class="col-sm-4">
      <label >Вид регистранции</label>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <app-reference-contract-form-validation
          style="width: calc(100% - 40px);" [showErrors]="showAllErr" name="ContractForm"
          [(ngModel)]="model" required #ContractForm="ngModel"
        ></app-reference-contract-form-validation>
        <div class="input-group-append" (click)="iconModal.showIconModal()">
          <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <h2>Данные по договору на проведение экспертизы</h2>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label [ngClass]="{'has-error-text':showErrors === true && contractNumber.invalid}">Номер договора</label>
          <div class="input-group">
            <input class="form-control" placeholder="Номер договора"
                   #contractNumber="ngModel" name="contractNumber"
                   [ngClass]="{'has-error':showErrors === true && contractNumber.invalid}"
                   [(ngModel)]="model.contractNumber" required
            >
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Дата заключения</label>
        <div class="input-group">

          <input class="form-control" placeholder="дд.мм.гггг"
                 name="dp" [(ngModel)]="modelCustom" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled"
                 #dc="ngbDatepicker">
          <div class="input-group-append" (click)="dc.toggle()">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Срок действия</label>
        <div class="input-group">

          <input class="form-control" placeholder="дд.мм.гггг"
                 name="dp" [(ngModel)]="modelCustom2" ngbDatepicker [dayTemplate]="customDay"
                 [markDisabled]="isDisabled"
                 #dc2="ngbDatepicker">
          <div class="input-group-append" (click)="dc2.toggle()">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-md-6 text-right px-2">
            <label for="typeRegistration">Вид регистрации</label>
          </div>
          <div class="col-md-6 px-2">
            <div class="input-group">
              <input type="text" class="form-control" id="typeRegistration" placeholder="0">
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="input-group">
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
          <label>Тип</label>
        </div>
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">ИМН
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">МТ
            </label>
          </div>
        </div>
      </div>
    </div>

    <h2>Поиск в реестре МИ</h2>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="registrationNumber">Регистрационный номер</label>
          <div class="input-group">
            <input type="text" class="form-control" id="registrationNumber" placeholder="Торговое название">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="tradename">Торговое название</label>
          <div class="input-group">
            <input type="text" class="form-control" id="tradeName" placeholder="Торговое название">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label>Тип услуги</label>

          <div class="input-group">
            <select class="form-control fa-select">
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>

        </div>
        <fieldset class="form-group">
          <div class="input-group">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
            <div>
              <legend>Выбор производителя</legend>
            </div>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
              Стоимость зарубежного производителя
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Стоимость отечественного производителя
            </label>
          </div>
        </fieldset>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label>Дополнительные услуги</label>
          <div class="input-group">
            <select class="form-control fa-select">
              <option value="" disabled selected>Select something...</option>
              <option value="1">One</option>
              <option value="2">Two</option>
            </select>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 text-right px-2">
            <label for="number">Количесво:</label>
          </div>
          <div class="col-md-6 px-2">
            <div class="input-group">
              <input type="text" class="form-control" id="number" placeholder="0">
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-2">
        <button type="button" class="btn btn-info w-100p mb-1">Узнать цену</button>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-gray w-100p mb-1">Очистить</button>
      </div>
    </div>

  </div>
</form>



