<form #templateForm="ngForm" (change)="model=model">

  <div class="container">
    <br>
    <h2>Данные по договору на проведение экспертизы</h2>
    <br>
    <div class="row">
      <div class="col-sm-2">
        <h6 class="required">Вид регистранции</h6>
      </div>

      <div class="col-sm-6">
        <div class="input-group">
          <app-reference-contract-form [showItemErrors]="showErrors"
                                      style="width: calc(100% - 40px);" name="ContractForm2"
                                      [(ngModel)]="model.contractForm" required #ContractForm1="ngModel"
                                       (changeModelParent)="changeModel($event)"
          ></app-reference-contract-form>
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>

    <!--<button type="button" (click)="getTest()" class="btn btn-warning btn-sm">Тест сведение</button>-->
    <br>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="required" [ngClass]="{'has-error-text':showErrors === true && contractNumber.invalid}">Номер договора</label>
          <div class="input-group">
            <input class="form-control" placeholder="Номер договора"
                   #contractNumber="ngModel" name="contractNumber"
                   [ngClass]="{'has-error':showErrors === true && contractNumber.invalid}" required
                   [(ngModel)]="model.contractNumber"  disabled
            >
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="required">Дата заключения</label>
        <div class="input-group">

          <input class="form-control" placeholder="дд.мм.гггг" disabled
                 name="dp" ngbDatepicker [dayTemplate]="customDay" [markDisabled]="isDisabled"
                 #dc1="ngbDatepicker" value="{{model.contractDateCreate | date:'dd.MM.yyyy'}}">
          <div class="input-group-append" (click)="dc1.toggle()">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="required">Срок действия</label>
        <div class="input-group">

          <input class="form-control" placeholder="дд.мм.гггг" disabled
                 name="dp" [(ngModel)]="modelCustom2" ngbDatepicker [dayTemplate]="customDay"
                 [markDisabled]="isDisabled"
                 #dc2="ngbDatepicker"  value="{{model.contractDateInterval | date:'dd.MM.yyyy'}}">
          <div class="input-group-append" (click)="dc2.toggle()">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
        </div>
      </div>
    </div>


    <div class="row">

      <div class="col-md-3">
        <div class="input-group ">
          <div class="input-group-append" (click)="iconModal.showIconModal()">
            <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
          </div>
          <label class="text-right required"  style="padding-left: 10px;">Тип</label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="isTypeImnMt" value="True"
                     [checked]="model.isTypeImnMt" (change)="changeModel($event.target)" >ИМН
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="isTypeImnMt" value="False"
                     [checked]="model.isTypeImnMt==false" (change)="changeModel($event.target)" >МТ
            </label>
          </div>
        </div>
      </div>
    </div>

    <!--<br>-->

    <div *ngIf="model.contractForm != '1'">

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="required">№ регистрационного удостоверения</label>
            <div class="input-group">
              <input class="form-control" placeholder="Номер договора" required name="cardNumber"
                     [(ngModel)]="model.cardNumber"
                     (change)="changeModel($event.target)">
              <div class="input-group-append" (click)="iconModal.showIconModal()">
                <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Дата регистрации</label>
          <div class="input-group">

            <input class="form-control" placeholder="дд.мм.гггг"
                   name="cardBeginDate" [(ngModel)]="costInfoCardBeginDate" ngbDatepicker [dayTemplate]="customDay"
                   [markDisabled]="isDisabled" readonly
                   #dc3="ngbDatepicker" value="{{model.cardBeginDate | date:'dd.MM.yyyy'}}"
                   (ngModelChange)="changeModelDate($event,'cardBeginDate')">
            <div class="input-group-append" (click)="dc3.toggle()">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="required">Срок действия</label>
          <div class="input-group">

            <input class="form-control" placeholder="дд.мм.гггг"
                   name="cardEndDate" [(ngModel)]="modelCustom4" ngbDatepicker [dayTemplate]="customDay"
                   [markDisabled]="isDisabled" readonly
                   #dc4="ngbDatepicker" value="{{model.cardEndDate | date:'dd.MM.yyyy'}}"
                   (ngModelChange)="changeModelDate($event,'cardEndDate')">
            <div class="input-group-append" (click)="dc4.toggle()">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>


      <div class="card card-outline-primary">
        <div class="card-body">
          <label class="required">Не работает в ожидании доработок по Апи</label>
          <!--<br>-->
          <h2 class="text-center">Поиск в реестре МИ</h2>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="required">Регистрационный номер</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Торговое название"  [textMask]="{mask: dateMask}">
                  <div class="input-group-append" (click)="iconModal.showIconModal()">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-info w-100p mb-1">Посик</button>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="required">Торговое название</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Торговое название">
                  <div class="input-group-append" (click)="iconModal.showIconModal()">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-info w-200p mb-1">Очистить критерии поиска</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="card card-outline-primary">
      <div class="card-header bg-gray">Калькулятор по услуге Экспертные работы ИМН/МТ</div>
      <div class="card-body">

        <label class="required">Не работает в ожидании доработок по Апи</label>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="required">Тип услуги</label>

              <div class="input-group">
                <app-reference-calculator-service-type [showItemErrors]="showErrors"
                                                       [applicationTypeId]="applicationTypeId"
                                                        style="width: calc(100% - 40px);" name="ContractForm2"
                                                        [(ngModel)]="model.typeServices" required #ContractForm1="ngModel"
                ></app-reference-calculator-service-type>
                <!--<select class="form-control fa-select">-->
                  <!--<option value="" disabled selected>Select something...</option>-->
                  <!--<option value="1">One</option>-->
                  <!--<option value="2">Two</option>-->
                <!--</select>-->
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>

            </div>
            <fieldset class="form-group">
              <div class="input-group">
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
                <div>
                  <legend style="padding-left: 10px;">Выбор производителя</legend>
                </div>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
                  Стоимость зарубежного производителя
                </label>
              </div>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                  Стоимость отечественного производителя
                </label>
              </div>
            </fieldset>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label class="required">Дополнительные услуги</label>
              <div class="input-group">
                <select class="form-control fa-select">
                  <option value="" disabled selected>Select something...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                </select>
                <div class="input-group-append" (click)="iconModal.showIconModal()">
                  <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 text-right px-2">
                <label class="required">Количесво:</label>
              </div>
              <div class="col-md-6 px-2">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="0">
                  <div class="input-group-append" (click)="iconModal.showIconModal()">
                    <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-2">
            <button type="button" class="btn btn-info w-100p mb-1">Узнать цену</button>
          </div>
          <div class="col-sm-2">
            <button type="button" class="btn btn-gray w-100p mb-1">Очистить</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</form>



