<form #templateForm="ngForm" (change)="model=model">
  <br>
  <div class="container">
    <div class="input-group">
      <div class="input-group-append" (click)="iconModal.showIconModal()">
        <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
      </div>
      <h5 style="padding-left: 10px;">Комплектация ИМН и МТ</h5>
    </div>
    <div class="row ">
      <div class="col-xl-8">
      </div>
      <div class="col-xl-4">
        <div class="btn-group  pull-right" role="group">
          <input type="file" class="btn btn-secondary w-200p mb-1" value="Загрузить с Excel">
        </div>
      </div>
    </div>

    <div class="row">
      <div widget class="card border-0 box-shadow">
        <div class="card-body pt-0 widget-body">
          <div class="table-responsive">
            <ng2-smart-table class="table table-hover"
                             [settings]="equipmentSettings"
                             [source]="equipmentData"
                             (deleteConfirm)="onDeleteConfirm($event)"
                             (rowSelect)="onRowSelect($event)"
                             (userRowSelect)="onUserRowSelect($event)"
                             (rowHover)="onRowHover($event)"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="form-group">
          <label class="required">Количество модификации ИМН</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="введите значение">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10">
        <div class="alert alert-dark">
          <div class="input-group">
            <div class="input-group-append" (click)="iconModal.showIconModal()">
              <span class="input-group-text"><i class="fa fa-info-circle fa-lg"></i></span>
            </div>
            <h5 style="padding-left: 10px;">Упаковка</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div widget class="card border-0 box-shadow">
        <div class="card-body pt-0 widget-body">
          <div class="table-responsive">
            <ng2-smart-table class="table table-hover"
                             [settings]="boxSettings"
                             [source]="boxData"
                             (deleteConfirm)="onDeleteConfirm($event)"
                             (rowSelect)="onRowSelect($event)"
                             (userRowSelect)="onUserRowSelect($event)"
                             (rowHover)="onRowHover($event)"
                             (createConfirm)="addRecord($event)"></ng2-smart-table>
          </div>
        </div>
      </div>
    </div>
    <advanced-example-custom-editor></advanced-example-custom-editor>
  </div>
</form>
