@model Guid

<div class="pwWinContent2">
    <div class="pwWinContentLine1">
        <div class="pwWinContentLeft2">
            <p>Первое ЛС для сравнения</p>
        </div>
        <div class="pwWinContentRight2">
            @Html.Kendo().ComboBox().Name("firstLs" + Model).HtmlAttributes(new { style = "width:100%" }).DataValueField("Id").DataTextField("NameRu").Filter(FilterType.Contains).DataSource(soure =>
                soure.Custom().ServerFiltering(true).ServerPaging(true).Page(1).PageSize(200)
                    .Type("aspnetmvc-ajax").Transport(transport => transport.Read("PriceLsList", "Report")))
            <p></p>
            <p></p>
        </div>
    </div>
    <div class="pwWinContentLine1">
        <div class="pwWinContentLeft2">
            <p>Второе ЛС для сравнения</p>
        </div>
        <div class="pwWinContentRight2">
            @Html.Kendo().ComboBox().Name("secondLs" + Model).HtmlAttributes(new { style = "width:100%" }).DataValueField("Id").DataTextField("NameRu").Filter(FilterType.Contains).DataSource(soure =>
               soure.Custom().ServerFiltering(true).ServerPaging(true).Page(1).PageSize(200)
               .Type("aspnetmvc-ajax").Transport(transport => transport.Read("PriceLsList", "Report")))
            <p></p>
            <p></p>
        </div>
    </div>
</div>
<div class="pwWinFooter">
    @Html.Kendo().Button().Name("btnCnl" + Model).Content("Отмена").HtmlAttributes(new { type = "button", @class = "k-button pwWinButton" }).Events(e => e.Click("closeReportParamWindow"))
    @Html.Kendo().Button().Name("btnGen" + Model).Content("Сформировать").HtmlAttributes(new { type = "button", @class = "k-button pwWinButton" }).Events(e=>e.Click("generateLsPriceComparisonReport"))
</div>

<script>
    var lsPriceComparisonReportParamsModel = '@Model';
</script>
