.delete-link {
    width: 12px;
    height: 12px;
    background: url("/Content/images/windows/del.png");
    background-size: 12px;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    margin: 2px 0 0 3px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    border-radius: 5px;
}

.k-window  div.k-window-content
{
        overflow: hidden;
}

.k-window-titlebar .k-header {
    background: gainsboro;
}

.edit-link {
    width: 12px;
    height: 12px;
    background: url("/Content/images/windows/edit.png");
    background-size: 12px;
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: top;
    margin: 2px 0 0 3px;
    -webkit-border-radius: 5px;
    -mox-border-radius: 5px;
    border-radius: 5px;
}
.k-header .regs-head {
    padding: 1px;
    background: white;
    opacity: 0.9;
}

#stepsTab {
    padding: 20px;
}

.regs-head {
    padding-bottom: 19px !important;
    padding-top: 8px !important;
}

    .regs-head h3 {
        padding-left: 25px;
        padding-top: 6px;
    }

.bordered-cell {
    display: inline;
    padding: 7px;
    border: solid 2px dimgray;
    border-radius: 13px;
}

.centered-glif {
    vertical-align: text-top;
}


/*TREE DIAGRAM*/
#schema * {
    margin: 0;
    padding: 0;
}

.with-brother {
    margin-left: 10px;
}

.tree ul {
    padding-top: 20px !important;
    position: relative;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.tree li {
    text-align: center;
    list-style-type: none !important;
    position: relative;
    padding: 20px 30px 0 20px !important -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 45px;
    z-index: -1;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0 !important;
}

.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-transform: translateX(1px);
    -moz-transform: translateX(1px);
    transform: translateX(1px);
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*.tree ul ul::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 49%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 36px;
    z-index: 1;
}*/

.tree li a {
    border: 1px solid #ccc;
    padding: 8px 43px !important;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.tree li a + a {
    margin-left: 20px !important;
    position: relative;
}
.tree li > a {
    margin-left: 20px;
}
.tree li a + a::before {
    content: '';
    position: absolute;
    border-top: 1px solid #ccc;
    top: 50%;
    left: -26px;
    width: 26px;
}

.tree li a:hover, .tree li a:hover ~ ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}

.tree li a:hover ~ ul li::after,
.tree li a:hover ~ ul li::before,
.tree li a:hover ~ ul::before,
.tree li a:hover ~ ul ul::before {
    border-color: #94a0b4;
}

.tree {
    position: relative;
}
/*.tree .arrow {
    width: 2px;
    height: 100%;
    margin-left: 14px;
    border-left: dotted 1px black;
    float: left;
    position: absolute;
    left: 35%;
    top: 20px;
}
    .tree .arrow:after {
    content: "";
    width: 13px;
    height: 13px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: dotted 1px;
    border-right: dotted 1px;
    position: absolute;
    bottom: 3px;
    left: 68%;
    margin-left: -8px;
    }*/
/*END TREE DIAGRAM*/

/***************************/
/*** bob checkbox style***/
/***************************/

.bob-checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px;
  height: 17px;
}
.bob-checkbox + label {
  cursor: pointer;
}
.bob-checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.bob-checkbox:not(checked) + input + label {
  position: relative;
  padding: 0 0 0 60px;
}
.bob-checkbox:not(checked) + input + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
}
.bob-checkbox:not(checked) + input + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: all .2s;
}
.bob-checkbox:checked + input + label:before {
  background: #7FD468;
}
.bob-checkbox:checked + input + label:after {
  left: 26px;
}
/*.bob-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}*/