<div class="body text-center">
    <div class="form-container">
        <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <img src="/imgs/logo_big.png" alt="logo" />
            <h3 class="login-title">Национальный Центр экспертизы лекарственных средств, изделий медицинского назначения и медицинской техники</h3>
            <p calss="open-sans">Авторизация</p>
            <div class="form-group" [ngClass]="{'has-error': loginForm.submitted && username.invalid}">
                <input type="text" class="form-control"
                       name="username" [(ngModel)]="login.username" placeholder="Введите логин" required #username="ngModel" />
                <div class="text-danger" *ngIf="loginForm.submitted && username.invalid">Введите имя пользователя</div>
            </div>
            <div class="form-group" [ngClass]="{'has-error': loginForm.submitted && password.invalid}">
                <input type="password" class="form-control"
                       name="password" [(ngModel)]="login.password" placeholder="Введите пароль" required #password="ngModel" />
                <div class="text-danger" *ngIf="loginForm.submitted && password.invalid">Введите пароль</div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary full-width btn-success">
                    Войти
                </button>

            </div>

            <div class="form-group">
                <a class="btn btn-white block full-width m-b" id="btnEcp">Войти по ЭЦП</a>
            </div>

            <a href="/Account/ForgotPassword" class="no-underline"><small>Забыли пароль?</small></a>

            <p class="text-muted text-center">
                <small>У вас нет аккаунта?</small>
            </p>

            <a class="btn btn-sm btn-white btn-block" href="/register">Регистрация в системе</a>
            <br>
            <p class="m-t"> <small>© 2017 | Национальный Центр экспертизы лекарственных средств, изделий медицинского назначения и медицинской техники.<br>Все права защищены.</small> </p>

        </form>
    </div>
</div>