<div class="body text-center">
    <div class="form-container">
        <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <img src="/imgs/logo_big.png" alt="logo" />
            <div class="form-group">
                <input type="text" class="form-control"
                       name="username" [(ngModel)]="login.username" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control"
                       name="password" [(ngModel)]="login.password" />
            </div>
            <br /><br />
            {{ returnUrl }}
            <br /><br />
            {{ login | json }}
            <br /><br />
            {{ res | json }}
            <br /><br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Войти
                </button>
            </div>
        </form>
    </div>
</div>