@model PW.Ncels.Database.Models.ContractModel
    
<div class="row form-horizontal">
    <div class="col-lg-6">
        <div class="form-group">
            <label class="col-lg-4">Дополнительное соглашение к договору:</label>
            <div class="col-lg-8">
                <p>№@(Model.HolderContract.Number) от @(Model.HolderContract.ContractDate.Value.ToString("dd.MM.yyyy"))</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="form-group">
            <label class="col-lg-4">Тип дополнительного соглашения:</label>
            <div class="col-lg-8">
                <p>@Model.ApplicantContract.ContractAdditionTypeName</p>
            </div>
        </div>
    </div>
</div>