@using PW.Ncels.Database.DataModel
@model List<OBK_ExpertCouncil>

<script>
    
</script>
<script type="text/javascript" src="~/Scripts/ExpertCouncil/leftPane.js"></script>

@(Html.Kendo().PanelBar().HtmlAttributes(new { @class = "pwPanelBar" })
    .Name("panelbar" + "ExpertCouncil")
    .ExpandMode(PanelBarExpandMode.Multiple)
    .ExpandAll(true)
    .HtmlAttributes(new { style = "width:auto;" })
    .Events(x => x.Select("EC_panelEventSelect"))
    .Items(panelbar =>
    {
        panelbar.Add().Expanded(true);
        panelbar.Add().Text("Экспертные советы")
            .Items(projects =>
            {
                Model.ForEach(ec =>
                {
                    projects.Add()
                        .Text(ec.Name + " " + ec.Date.ToString("dd.MM.yyyy  ") + (ec.IsComplited == true ? "завершен" : ""))
                        .LinkHtmlAttributes(new Dictionary<string, object>()
                            {
                                {"dataType", "ExpertCouncilId"},
                                { "dataValue", ec.Id},
                                { "id", ec.Id},
                                { "dataIsCompleted", ec.IsComplited },
                                { "dataNumber", ec.Number },
                                { "dataActualDate", ec.ActualDate }
                            });
                });
            });
    })
)
<button class="k-button" onclick="expertCouncilAddNew(event)">Добавить заседание</button>