@model Guid

<script>
    var modelId = '@Model';

    class Result {
        constructor(entity) {
            this._html = {
                Result: $("#ecResult" + modelId).data("kendoDropDownList"),
                Comment: $("#resultDescription" + modelId)
            };
            this.Result = entity.Result;
            this.Comment = entity.Comment;
        }

        set Result(val) { this._html.Result.value(val); }
        get Result() { return this._html.Result.value(); }

        set Comment(val) { this._html.Comment.val(val); }
        get Comment() { return this._html.Comment.val(); }
    }

    var result;
    function update() {
        $.ajax({
            url: "/OBKExpertCouncil/LoadECResult",
            data: {
                declarationId: modelId
            },
            success: res => {
                result = new Result(res);
                EC_panelEventSelect();
                // TODO В зависимости от статуса заявки и совета сделать заявление нередактируемым
            },
            error: err => {
                console.error(err);
            }
        })
    }

    function saveECResult(e) {
        var res = result.Result;
        var comment = result.Comment;
        if (!res) return alert("Выберите решение совета");
        if (!comment) return alert("Внесите обоснование решения");

        $.ajax({
            url: "/OBKExpertCouncil/SaveECResult",
            data: {
                declarationId: modelId,
                result: res,
                comment: comment
            },
            success: res => {
                update();
                alert("Решение принято");
            },
            error: err => {
                console.error(err);
            }
        })
    }

</script>

<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Вынесение решения экспертного совета</h4>
                </div>
                <div class="panel-body">

                    <div class="form-group">
                        @(Html.Kendo().DropDownList()
                                                .Name("ecResult" + Model)
                                                .OptionLabel("Выберите результат..")
                                                .AutoBind(false)
                                                .DataValueField("Value").DataTextField("Text")
                                                .DataSource(cf => cf.Read(read => read.Action("ECResult", "OBKExpertCouncil")))
                                                .HtmlAttributes(new { @class = "pwWidth100", required = "", validationMessage = "Обязательно для заполнения" }))
                    </div>
                    <label for="resultDescription@(Model)">Обоснование решения</label>
                    <textarea id="resultDescription@(Model)" class="k-textbox pwWidth100"></textarea>
                </div>
                <div class="panel-footer">
                    <button type="button" class="k-button k-primary" onclick="saveECResult(event)">Принять решение</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    update();
</script>