<div ng-controller="loginCtrl as vm">
    <div id="container">
        <p class="pwLogonTitle" translate>Трансформация экспертизы медицинских изделий</p>
        <form ng-submit="vm.submit($event)">
            <div class="input-group"
                 ng-class="{'has-error': vm.errors.login && vm.isValidate}">
                <label class="control-label" translate>
                    Имя пользователя
                </label>
                <input type="text" class="k-textbox loginStyle form-control"
                       placeholder="Введите имя пользователя"
                       ng-model="vm.login" />
            </div>
            <div class="input-group">
                <label translate>
                    Пароль
                </label>
                <input type="password" class="k-password" placeholder="Пароль"
                       ng-model="vm.password" />
            </div>
            <br />
            <button class="k-button pwButtonLogin" type="submit" translate>Войти</button>
        </form>
    </div>
</div>