<h3>Заявка</h3>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist" value="fl">
    <a class="nav-item nav-link active" data-toggle="tab" role="tab "
       aria-controls="nav-home" aria-selected="true" (click)="setDeclarationTab('general')">
      Общие сведения</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab"
       aria-controls="nav-profile" aria-selected="false" (click)="setDeclarationTab('imn')">Комплектация ИМН
      и МТ</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab"
       aria-controls="nav-contact" aria-selected="false" (click)="setDeclarationTab('producer')">Производители
      и участки производства</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab"
       aria-controls="nav-contact" aria-selected="false"
       (click)="setDeclarationTab('journal')">Журнал Образцов\материалов</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab"
       aria-controls="nav-contact" aria-selected="false"
       (click)="setDeclarationTab('subject')">Субъект, осуществляющий оплату за проведение экспертизы</a>
    <a class="nav-item nav-link" data-toggle="tab" role="tab"
       aria-controls="nav-contact" aria-selected="false"
       (click)="setDeclarationTab('agreement')">Соглашение</a>
  </div>
</nav>
<div class="pd-20">
  <div [hidden]="type !== 'general'">
    <app-int-general-information></app-int-general-information>
  </div>
  <div [hidden]="type !== 'imn'">
    <app-int-imn-set></app-int-imn-set>
  </div>
  <div [hidden]="type !== 'producer'">
    <app-int-producer></app-int-producer>
  </div>
  <div [hidden]="type !== 'agreement'">
    <app-int-agreement></app-int-agreement>
  </div>
  <div [hidden]="type !== 'journal'">
    <app-int-journal></app-int-journal>
  </div>
  <div [hidden]="type !== 'subject'">
    <app-int-subject></app-int-subject>
  </div>
</div>


