.action-btn{
  background-color: #1a7bb9;
  color: white !important;
  font-size: 14px !important;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}

.app.light .btn-success {
  padding-top: 10px;
  padding-bottom: 10px;
}


.app.light .btn-warning {
  padding-top: 10px;
  padding-bottom: 10px;
}

.app.light .btn-danger {
  padding-top: 10px;
  padding-bottom: 10px;
}

.app.light .dropdown.show .dropdown-menu {
  max-height: 300px;
  opacity: 1;
  padding: 0px;
  margin: 0px;
  pointer-events: auto;
  border: none;
}
