<div class="row mg-0">
  <div class="col-md-6 imn-header" (click)="showImnTable(true)">
    <p class="imn-p">Комплектация ИМН и МТ</p>
  </div>
  <div class="col-md-6 imn-header" (click)="showImnTable(false)">
    <p class="imn-p">Упаковка</p>
  </div>
</div>


<div [hidden]="imnTable === false" class="card-body pt-0 widget-body pd0">
  <div class="table-responsive">
    <div>
      <ng2-smart-table class="table table-bordered"
                       [settings]="table1Settings"
                       [source]="data"
                       (deleteConfirm)="onDeleteConfirm($event)"
                       (rowSelect)="onRowSelect($event)"
                       (userRowSelect)="onUserRowSelect($event)"
                       (rowHover)="onRowHover($event)"></ng2-smart-table>
    </div>
  </div>
</div>

<div [hidden]="imnTable === true" class="card-body pt-0 widget-body pd0">
  <div class="table-responsive">
    <div>
      <ng2-smart-table class="table table-bordered"
                       [settings]="table2Settings"
                       [source]="data"
                       (deleteConfirm)="onDeleteConfirm($event)"
                       (rowSelect)="onRowSelect($event)"
                       (userRowSelect)="onUserRowSelect($event)"
                       (rowHover)="onRowHover($event)"></ng2-smart-table>

    </div>
  </div>
</div>
