.imn-header{
    border-width: thin;
    border-style: solid;
    font-size: 13px;
    border-color: #e7eaec;
}

.mg-0{
    margin-right: 0px;
    margin-left: 0px;
}

.imn-p{
    font-weight: 700;
    text-align: center;
}

