@model PW.Ncels.Database.Models.Expertise.IStageEntity
@{
    var treeConrtrol = "primaryTree" + @Model.ExpStageId;
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<link href="~/Content/css/plugins/jsTree/style.css" rel="stylesheet" type="text/css" />
<div style="margin-top: 20px; margin-bottom: 10px">

    <button class="btn btn-info btn-sm" type="button" security bp-type="project" bp-action="edit" onclick="closeTree('@treeConrtrol')"><i class="glyphicon glyphicon-chevron-up"></i> Свернуть</button>
    <button class="btn btn-danger btn-sm" type="button" security bp-type="project" bp-action="edit" onclick="openTree('@treeConrtrol')"><i class="glyphicon glyphicon-chevron-down"></i> Развернуть</button>
    <button class="btn btn-success btn-sm" type="button" security bp-type="project" bp-action="edit" onclick="createRemark('@Model.ExpStageId', '@controllerName')"><i class="glyphicon glyphicon-thumbs-up"></i> Сформировать замечания</button>
</div>
<div style="margin-bottom: 130px;width: 80%">
    <div id="@treeConrtrol">
    </div>
</div>